<footer id="footer"><?php echo $text_footer; ?><br /><?php echo $text_version; ?></footer></div>

            <script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){

			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),

			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)

			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			   ga('create', 'UA-55571446-7', 'auto');
				ga('require', 'displayfeatures');
				ga('send', 'pageview');
			  ga('set', 'dimension1', 'oc_claudine');
			  ga('set', 'dimension2', 'backend'); 
			</script>
            
</body></html>