
body {
		font-size: 14px;
        
        margin: 0;
        padding: 0;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%; 
		width: 100%;		
		background-color: #69489d;
      }
      
      /* -------------------------------------
          BODY & CONTAINER
      ------------------------------------- */
      
      
      .container {
        display: block;
        margin: 0 auto !important;
      }
	  .header {
		margin:35px 0px 0px 95px;
	  }
	  
	  .inner-bg {
		  text-align:center;
		  margin: 30px 0px;
	  }
	  
		
.qareeb_logo-white {
  width: 159px;
  height: 106px;
  object-fit: contain;
}
#comingsoon {  
 
  font-family: Montserrat;
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffe000;
}
.To-know-more-about-Q {
  
  font-family: Montserrat;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.arabic {
 
 
  font-family: DINNextLTArabic;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.google-play-store {
  width: 200px;
  height: 53px;
  object-fit: contain;
}
.app-store-btn {
  width: 201px;
  height: 54px;
  object-fit: contain;
}
.fb {
  width: 32px;
  height: 32px;}
  
.twitter {
  width: 32px;
  height: 32px;


}
.insta {
  width: 32px;
  height: 32px;
    

}
.snapchat {
  width: 32px;
  height: 32px;
    

}
@media (max-width: 767px) {
	.To-know-more-about-Q {font-size: 20px;}
	#comingsoon {font-size: 42px; }
	.arabic{    font-size: 24px;}
}