

<div  style="background-color: #e9eff3;">


 <h1 class="loginh1">  </h1>
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script><link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" /><script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script><link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" /><link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" /><link href="catalog/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet"><link href="catalog/view/theme/default/stylesheet/register.css" rel="stylesheet">
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>

<?php if ($success) { ?>

  <div   class="alert alert-success"><i class="fa fa-check-circle"></i> <?php echo $success; ?></div>

  <?php } ?>

  <?php if ($error_warning) { ?>

  <div  class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?></div>

  <?php } ?>
  

  
		<div style=" margin: 20px auto; text-align: center;">
		 
		 
  <?php if ($logo) { ?>  
             <a href="<?php echo $home; ?>"><img src="<?php echo $logo; ?>" title="<?php echo $name; ?>" alt="<?php echo $name; ?>" /></a>      
               <?php } else { ?>        
                <h1><a href="<?php echo $home; ?>"><?php echo $name; ?></a></h1>       
                             <?php } ?>
							 
							 
							 </div>


         <div id="content"   style="font-weight: 400;overflow: hidden;padding: 26px 24px 46px;"><?php echo $content_top; ?>
		  
		 
		
		 
        <div  style="width:320px;margin:0 auto;">

          <div class="well" style="background-color: #fff;">

           
            <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data">

              <div class="form-group">

                <label class="control-label" for="input-email" style="font-size: 14px;font-weight: 600;"><?php echo $entry_email; ?></label>

                <input type="text" name="email" value="<?php echo $email; ?>" placeholder="<?php echo $entry_email; ?>" id="input-email" class="form-control" />

              </div>

              <div class="form-group">

                <label class="control-label" for="input-password" style="font-size: 14px;font-weight: 600;"><?php echo $entry_password; ?></label>

                <input type="password" name="password" value="<?php echo $password; ?>" placeholder="<?php echo $entry_password; ?>" id="input-password" class="form-control" />
              </div>

              <input type="submit" value="<?php echo $button_login; ?>" class="background" />

              <?php if ($redirect) { ?>

              <input type="hidden" name="redirect" value="<?php echo $redirect; ?>" />

              <?php } ?>

            </form>
  
          </div>
<a  id="login1" href="<?php echo $register; ?>" class="register"><?php echo $text_register; ?></a> 

<a  id="login1" href="<?php echo $forgotten; ?>" class="register"><?php echo $text_lost; ?></a>   
<a  id="login1" href="<?php echo HTTP_SERVER1; ?>" class="register"><?php echo $text_store; ?></a>  
        </div>

       

      <?php echo $content_bottom; ?></div>

    <?php echo $column_right; ?></div>



<?php echo $footer; ?>