<?php echo $header; ?>

<div class="container">

  <ul class="breadcrumb">

    <?php foreach ($breadcrumbs as $breadcrumb) { ?>

    <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>

    <?php } ?>

  </ul>

  

  <div class="row"><?php echo $column_left; ?>

    <?php if ($column_left && $column_right) { ?>

    <?php $class = 'col-sm-6'; ?>

    <?php } elseif ($column_left || $column_right) { ?>

    <?php $class = 'col-sm-9'; ?>

    <?php } else { ?>

    <?php $class = 'col-sm-12'; ?>

    <?php } ?>

    <div id="content" class="<?php echo $class; ?>"><?php echo $content_top; ?>

      <h2><?php echo $heading_title; ?></h2>

      <table class="table table-bordered table-hover">

        <thead>

          <tr>

            <td class="text-left" colspan="2"><?php echo $text_order_detail; ?></td>

          </tr>

        </thead>

        <tbody>

          <tr>

            <td class="text-left"><?php if ($invoice_no) { ?>

              <b><?php echo $text_invoice_no; ?></b> <?php echo $invoice_no; ?><br />

              <?php } ?>

              <b><?php echo $text_order_id; ?></b> #<?php echo $order_id; ?><br />

              <b><?php echo $text_date_added; ?></b> <?php echo $date_added; ?></td>

            <td class="text-left"><?php if ($payment_method) { ?>

              <b><?php echo $text_payment_method; ?></b> <?php echo $payment_method; ?><br />

              <?php } ?>

              <?php if ($shipping_method) { ?>

              <b><?php echo $text_shipping_method; ?></b> <?php echo $shipping_method; ?>

              <?php } ?></td>

          </tr>

        </tbody>

      </table>

      <table class="table table-bordered table-hover">

        <thead>

          <tr>

            <td class="text-left"><?php echo $text_payment_address; ?></td>

            <?php if ($shipping_address) { ?>

            <td class="text-left"><?php echo $text_shipping_address; ?></td>

            <?php } ?>

          </tr>

        </thead>

        <tbody>

          <tr>

            <td class="text-left"><?php echo $payment_address; ?></td>

            <?php if ($shipping_address) { ?>

            <td class="text-left"><?php echo $shipping_address; ?></td>

            <?php } ?>

          </tr>

        </tbody>

      </table>

      <div class="table-responsive">

        <table class="table table-bordered table-hover">

          <thead>

            <tr>

              <td class="text-left"><?php echo $column_name; ?></td>

              <td class="text-left"><?php echo $column_model; ?></td>

              <td class="text-right"><?php echo $column_quantity; ?></td>

              <td class="text-right"><?php echo $column_price; ?></td>

              <td class="text-right"><?php echo $column_total; ?></td>

             

            </tr>

          </thead>

          <tbody>

            <?php foreach ($products as $product) { ?>

            <tr>

              <td class="text-left"><?php echo $product['name']; ?>

                <?php foreach ($product['option'] as $option) { ?>

                <br />

                &nbsp;<small> - <?php echo $option['name']; ?>: <?php echo $option['value']; ?></small>

                <?php } ?></td>

              <td class="text-left"><?php echo $product['model']; ?></td>

              <td class="text-right"><?php echo $product['quantity']; ?></td>

              <td class="text-right"><?php echo $product['price']; ?></td>

              <td class="text-right"><?php echo $product['total']; ?></td>

           

            </tr>

            <?php } ?>

            <?php foreach ($vouchers as $voucher) { ?>

            <tr>

              <td class="text-left"><?php echo $voucher['description']; ?></td>

              <td class="text-left"></td>

              <td class="text-right">1</td>

              <td class="text-right"><?php echo $voucher['amount']; ?></td>

              <td class="text-right"><?php echo $voucher['amount']; ?></td>

              <?php if ($products) { ?>

              <td></td>

              <?php } ?>

            </tr>

            <?php } ?>

          </tbody>

          <tfoot>

            <?php foreach ($totals as $total) { ?>

            <tr>

              <td colspan="3"></td>

              <td class="text-right"><b><?php echo $total['title']; ?></b></td>

              <td class="text-right"><?php echo $total['text']; ?></td>

             

            </tr>

            <?php } ?>

          </tfoot>

        </table>

      </div>

      <?php if ($comment) { ?>

      <table class="table table-bordered table-hover">

        <thead>

          <tr>

            <td class="text-left"><?php echo $text_comment; ?></td>

          </tr>

        </thead>

        <tbody>

          <tr>

            <td class="text-left"><?php echo $comment; ?></td>

          </tr>

        </tbody>

      </table>

      <?php } ?>

      <?php if ($histories) { ?>

      <h3><?php echo $text_history; ?></h3>

      <table class="table table-bordered table-hover">

        <thead>

          <tr>

            <td class="text-left"><?php echo $column_date_added; ?></td>

            <td class="text-left"><?php echo $column_status; ?></td>

            <td class="text-left"><?php echo $column_comment; ?></td>

          </tr>

        </thead>

        <tbody>

          <?php foreach ($histories as $history) { ?>

          <tr>

            <td class="text-left"><?php echo $history['date_added']; ?></td>

            <td class="text-left"><?php echo $history['status']; ?></td>

            <td class="text-left"><?php echo $history['comment']; ?></td>

          </tr>

          <?php } ?>

        </tbody>

      </table>

      <?php } ?>
	  
	  
	  
	   <form name="addhistory" action="<?php echo $action; ?>" method="post">
  <h2>Change Status</h2>
  <table class="table table-bordered table-hover">
  <tr>
            <td class="text-left">Order Status:</td>
            <td class="text-left">
              <input type="hidden" name="old_order_status_id" value="<?php echo $order_status_id; ?>" id="old_order_status_id" class="form-control"/>
              <select name="order_status_id" class="form-control">
                <?php foreach ($order_statuses as $order_statuses) { ?>
                <?php if ($order_statuses['order_status_id'] == $order_status_id) { ?>
                <option value="<?php echo $order_statuses['order_status_id']; ?>" selected="selected"><?php echo $order_statuses['name']; ?></option>
                <?php } else { ?>
                <option value="<?php echo $order_statuses['order_status_id']; ?>"><?php echo $order_statuses['name']; ?></option>
                <?php } ?>
                <?php } ?>
              </select>
            </td>
          </tr>
		  
          <tr>
            <td class="text-left">Comment</td>
            <td class="text-left"><textarea name="comment" cols="40" rows="8" style="width: 99%" class="form-control"></textarea>
              <div style="margin-top: 10px; text-align: right;"><input type="submit" name="submit" value="Update Status" class="btn btn-primary"/></div></td>
          </tr>
  </table>
<form>

      <div class="buttons clearfix">

        <div class="pull-right"><a href="<?php echo $continue; ?>" class="btn btn-primary"><?php echo $button_continue; ?></a></div>

      </div>

      <?php echo $content_bottom; ?></div>

    <?php echo $column_right; ?></div>

</div>

<?php echo $footer; ?>