<?php echo $header; ?>
<?php global $config; ?>
<?php 
	$view='both_grid'; $boss_class = 'col-lg-3 col-md-3 col-sm-6 col-xs-12';
	if($config->get('boss_manager')){
		$boss_manager = $config->get('boss_manager'); 
	}else{
		$boss_manager = '';
	}
	if(!empty($boss_manager)){				
		$view = isset($boss_manager['other']['view_pro'])?$boss_manager['other']['view_pro']:'both_grid';
		$perrrow = isset($boss_manager['other']['perrow'])?$boss_manager['other']['perrow']:3;
	}
	if(isset($perrrow) && $perrrow==1){
		$boss_class = 'col-lg-12 col-md-12 col-sm-12 col-xs-12';
	}else if(isset($perrrow) && $perrrow==2){
		$boss_class = 'col-lg-6 col-md-6 col-sm-6 col-xs-12';
	}else if(isset($perrrow) && $perrrow==3){
		$boss_class = 'col-lg-4 col-md-4 col-sm-6 col-xs-12';
	}else if(isset($perrrow) && $perrrow==4){
		$boss_class = 'col-lg-3 col-md-3 col-sm-6 col-xs-12';
	}else if(isset($perrrow) && $perrrow==5){
		$boss_class = 'boss-col-5column col-md-3 col-sm-6 col-xs-12';
	}else if(isset($perrrow) && $perrrow==6){
		$boss_class = 'col-lg-2 col-md-3 col-sm-6 col-xs-12';
	}
?>
<div class="bt-breadcrumb">
  <div class="container">
    <ul class="breadcrumb breadcrumb-arrow">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
      <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
      <?php } ?>
    </ul>
  </div>  
</div>
<div class="container">
  <div class="row"><?php 
      echo $column_left; 
      echo $column_right;
      if ($column_left && $column_right) {
        $class = 'col-sm-6';
      } elseif ($column_left || $column_right) {
        $class = 'col-sm-9';
      } else {
        $class = 'col-sm-12';
      } 
    ?>
    <h2><?php echo $heading_title; ?></h2>
    <div id="content" class="<?php echo $class; ?>"><?php echo $content_top; ?>
      <?php if ($products) { ?>
      <div class="product-filter col-md-12">
		    <div class="compare-total"><a href="<?php echo $compare; ?>" id="compare-total"><?php echo $text_compare; ?></a></div>
    		<div class="sortedBy pull-right">
          <label class="control-label" for="input-sort"><?php echo $text_sort; ?></label>
          <select id="input-sort" onchange="location = this.value;">
            <?php foreach ($sorts as $sorts) { ?>
            <?php if ($sorts['value'] == $sort . '-' . $order) { ?>
            <option value="<?php echo $sorts['href']; ?>" selected="selected"><?php echo $sorts['text']; ?></option>
            <?php } else { ?>
            <option value="<?php echo $sorts['href']; ?>"><?php echo $sorts['text']; ?></option>
            <?php } ?>
            <?php } ?>
          </select>
    		</div>
    		<div class="sortedBy limit pull-left">	
          <label class="control-label" for="input-limit"><?php echo $text_limit; ?></label>
          <select id="input-limit" onchange="location = this.value;">
            <?php foreach ($limits as $limits) { ?>
            <?php if ($limits['value'] == $limit) { ?>
            <option value="<?php echo $limits['href']; ?>" selected="selected"><?php echo $limits['text']; ?></option>
            <?php } else { ?>
            <option value="<?php echo $limits['href']; ?>"><?php echo $limits['text']; ?></option>
            <?php } ?>
            <?php } ?>
          </select>
    		</div>
      </div>
      <div class="row layout-thumb products col-md-12">
        <?php foreach ($products as $product) { ?>
        <!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->
          <div class="product" id="<?php echo $product['product_id']; ?>">
              <div class="image">
                  <?php if(in_array($product['product_id'], $_SESSION['default']['wishlist'])) { ?>
                      <div class="heart-box-pink">
                          <div class="heart-label">
                              <i class="fa fa-heart" style="color:#E8114A"></i>
                          </div>
                      </div>
                  <?php } else{ ?>
                      <div class="heart-box" id="heart<?php echo $product['product_id']; ?>" style='display: none;'>
                          <div class="heart-label">
                            <button type="button" class="btn-wishlist" data-toggle="tooltip" title="<?php echo $button_wishlist; ?>" onclick="wishlist_cat_add('<?php echo $product['product_id']; ?>');"><i class="fa fa-heart"></i></button>
                          </div>
                      </div>
                  <?php } ?>
                  <div class="compare-box" id="compare<?php echo $product['product_id']; ?>" style='display: none;'>
                      <div class="heart-label">
                         <a onclick="btadd.compare('<?php echo $product['product_id']; ?>');"><i class="fa fa-retweet"></i></a>
                      </div>
                  </div>
                  <div class="btn-quickshop" style="margin-left: -30px; margin-top: -30px; top: 50%; left: 50%;">
                              
                      <button title="Quick View" onclick="getModalContent(<?php echo $product['product_id']?>);" class="sft_quickshop_icon " data-toggle="modal" data-target="#myModal">
                          <i class="fa fa-eye"></i>
                      </button>
                  </div>
                  <a id="<?php echo $product['href']; ?>" href="javascript:void(0)">
                      <img class="img-responsive" src="<?php echo $product['thumb']; ?>" alt="<?php echo properName($product['name']); ?>" title="<?php echo properName($product['name']); ?>">
                  </a>
              </div>
              <h3><?php echo getItemName($product['name'],30); ?></h3>
              <?php if ($product['price']):
                  if (!$product['special']) { ?>
                    <p><?php echo $product['price']; ?></p>
                    <?php } else { ?>
                      <p><?php echo $product['special']; ?>   <p class='oldPrice'><?php echo $product['price']; ?></p></p>
                    <?php } 
                    if ($product['tax']) { ?>
                      <p class='oldPrice'><?php echo $text_tax; ?>   <p><?php echo $product['tax']; ?></p></p>
                  <?php } 
              endif ?>
              <div id="pro_div_id_<?php echo $product['product_id']?>">
                  <?php  if (count($data['product_data']['cart_data'])):
                      $count = 0;
                        foreach ($data['product_data']['cart_data'] as $key => $value): 
                          if ($value['product_id'] == $product['product_id']):
                            $count = 1; 
                            $quantity = $value['quantity'];
                            $cart_id = $value['cart_id'];
                            break;
                          endif;
                        endforeach;
                        if ($count == 1): ?>
                          <div style='position:relative'>
                            <a href="javascript:void(0)"><input  onchange="update_cart_data_home('<?php echo $cart_id; ?>', '<?php echo 'select-number'.$cart_id;?>');" id="select-number<?php echo $cart_id; ?>" disabled value="<?php echo $quantity; ?>"/></a>
                            <a style='position:absolute;left: 40px;top: 24px;color: white' onclick="changeQty('<?php echo 'select-number'.$cart_id;?>',0); return false;" class="decrease" href="javascript:void(0)">_</a>
                            <a style='position:absolute;right: 40px;top: 31px;color: white' onclick="changeQty('<?php echo 'select-number'.$cart_id;?>',1); return false;" class="increase" href="javascript:void(0)">+</a>
                          </div>
                        <?php else: ?>
                          <a href="javascript:void(0)" id="custom" onclick="btadd.cart('<?php echo $product['product_id']; ?>', '<?php echo $product['minimum']; ?>');"><button><?php echo $button_cart; ?></button></a>  
                      <?php endif ?>
                  <?php else: ?>
                      <a href="javascript:void(0)" id="custom" onclick="btadd.cart('<?php echo $product['product_id']; ?>', '<?php echo $product['minimum']; ?>');"><button><?php echo $button_cart; ?></button></a> 
                  <?php endif ?>
              </div>
          </div>
        <?php } ?>
      </div>
      <div class="bt_pagination">
        <?php if(!empty($pagination)){?>
          <div class="links"><?php echo $pagination; ?></div> 
        <?php } ?>
        <div class="results"><?php echo $results; ?></div>
      </div>
      <?php } else { ?>
      <p><?php echo $text_empty; ?></p>
      <div class="buttons">
        <div class="pull-left"><a href="<?php echo $continue; ?>" class="btn"><?php echo $button_continue; ?></a></div>
      </div>
      <?php } ?>
      <?php echo $content_bottom; ?>
    </div>
  </div>	
</div>
<script type="text/javascript"><!--
// Product List
$(".bt-item,.product").hover(function() { 
       var divId = this.id;  
      
         $("#compare"+divId).css("display","block");
    });
        
    $(".bt-item,.product").mouseleave(function() { 
        
       var divId = this.id; 
       var clsName =  $("#compare"+divId).attr('class');
         if(clsName =="compare-box-pink")
         {
             $("#compare"+divId).css("display","block");
         }
         else{
             $("#compare"+divId).css("display","none");
         }
        
    });
</script>
<?php echo $footer; ?>