<?php echo $header; ?>

<?php echo $column_left; ?>

<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<a href="<?php echo $add; ?>" data-toggle="tooltip" title="<?php echo $button_add; ?>" class="btn btn-primary"><i class="fa fa-plus"></i></a>
			</div>
			<h1><?php echo $heading_title; ?></h1>
			<ul class="breadcrumb">
				<?php foreach ($breadcrumbs as $breadcrumb) { ?>
					<li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
				<?php } ?>
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		<?php if ($error_warning) { ?>
			<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
		<?php } ?>
		
		<?php if ($success) { ?>
			<div class="alert alert-success"><i class="fa fa-check-circle"></i> <?php echo $success; ?>
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
		<?php } ?>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-list"></i> <?php echo $text_list; ?></h3>
			</div>
			
			<div class="panel-body">
			
				<form action="" method="post" enctype="multipart/form-data" id="form-template">
						 
					<div class="table-responsive">
						
						<table class="table table-bordered table-hover">
							<thead>
								<tr>	
								
									<td class="text-center" style="width: 1px;">Id</td>
									<td class="text-left"><?php echo $column_name; ?></td>
									<td class="text-left">Email Subject</td>
									<td class="text-left">Template For</td>
									<td class="text-right" style="width: 1px;"><?php echo $column_action; ?></td>
								</tr>
							</thead>
							<tbody>
								<?php 
								if ($email_templates) { 
									foreach ($email_templates as $templates) { ?>
										<tr>	
											<td class="text-center">
												<?php echo $templates['template_id']; ?>
											</td>
											<td class="text-left"><?php echo $templates['name']; ?></td>
											<td class="text-left"><?php echo $templates['subject']; ?></td>
											<td class="text-left"><?php echo $templates['templatefor']; ?></td>													
											<td class="text-right"><a href="<?php echo $templates['edit']; ?>" data-toggle="tooltip" title="<?php echo $button_edit; ?>" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
										</tr>
								<?php 
									} 
								} else { ?>
								
									<tr>
										<td class="text-center" colspan="4"><?php echo $text_no_results; ?></td>
									</tr>
								<?php 
								} ?>
							</tbody>
						</table>
					</div>
				</form>
				<div class="row">
					<div class="col-sm-6 text-left"><?php echo $pagination; ?></div>
					<div class="col-sm-6 text-right"><?php echo $results; ?></div>
				</div>
			</div>
		</div>
	</div>
</div>

<?php echo $footer; ?>