<div id="search" class="input-group">

		<input type="text" name="search" id = "search-live" value="<?php echo $search; ?>" placeholder=""/>
		<button title="Search" type="button" class="button-search"><i class="fa fa-search"></i></button>
		
</div>
<div id= "live-search-dropdown" style= "display: none;">
  <ul style="list-style-type: none; margin-left: 0px; margin-bottom: 0px; padding-left:  0px; font-weight: bold;">
   
  </ul>
 </div>
<script>

</script>