<script>
var config = <?php echo $json_config; ?>;
if(typeof(ga) == "undefined")
   config.general.analytics_event = 0;
</script>
<style>
<?php echo $config['design']['custom_style']; ?>
<?php if($config['design']['only_quickcheckout']){ ?>
body > *{
	display: none
}
body > #d_quickcheckout{
	display: block;
} 
#d_quickcheckout.container #d_logo{
	margin: 20px 0px;
}
<?php } ?>
</style>

       <ul id="order" class="nav nav-tabs nav-justified">
            <li class="disabled active"><a href="#tab-address" data-toggle="tab">1.<?php echo $title_delivery; ?></a></li>
            <li class="disabled"><a href="#tab-payment" data-toggle="tab">2.<?php echo $title_payment; ?></a></li>
            <li class="disabled"><a href="#tab-summary" data-toggle="tab">3. <?php echo $title_summary; ?></a></li>
          </ul>
          <div class="tab-content tab-content-custom" id="cartContent">
            <div class="tab-pane active" id="tab-address">
              
             
		     <?php echo $payment_address; ?>
	          <h2> <?php echo $description_agreement; ?></h2>
             <div class="col-sm-4"></div>
              <div class="col-sm-4">
                <button type="button" id="button-address" data-loading-text="Loading" class="btn btn-primary btn-primary-custom btn-login"><i class="fa fa-arrow-right"></i> <?php echo $button_next; ?></button>
              </div>
              <div class="col-sm-4"></div>
            </div>
            <div class="tab-pane" id="tab-payment">
             <?php echo $payment_method; ?>
               <div class="col-sm-12" id="bank_details">
    
<h2>Bank Transfer Instructions</h2>
 <p><b><?php echo $text_bank_transfer; ?></b></p>
<div class="well well-sm">
  <p><?php echo $text_bank_details; ?>
</p>
  <p><?php echo $text_bank_warning; ?></p>
</div>                
                     
                     
   </div>
              <div class="row">
                 <div class="col-sm-4"></div>
                <div class="col-sm-4">
                  <button type="button" id="button-payment" class="btn btn-primary btn-primary-custom btn-login"><i class="fa fa-arrow-right"></i> <?php echo $button_next; ?></button>
                </div>
                 <div class="col-sm-4"></div>
              </div>
            </div>
                        
            <div class="tab-pane" id="tab-summary">
              <?php echo $cart; ?>
		<?php echo $payment; ?>
		<?php echo $confirm; ?>
              
            </div>
          </div>

<div id="d_quickcheckout">
	<?php echo $field; ?>

</div>
<script type="text/javascript"><!--
// Disable the tabs
$('#order a[data-toggle=\'tab\']').on('click', function(e) {
	return false;
});
$('#button-address').on('click', function() {
	$('a[href=\'#tab-payment\']').tab('show');
    paymentMethod();
    $("#cartContent").attr('class', 'tab-content');
});
$('#button-payment').on('click', function() {
	$('a[href=\'#tab-summary\']').tab('show');
    $("#cartContent").attr('class', 'tab-content tab-content-custom');
});

</script>
