<div class="buttons">
   <div class="col-sm-4"></div>
    <div class="col-sm-4"><input type="button" value="<?php echo $button_confirm; ?>" id="button-confirm" class="btn btn-primary btn-primary-custom btn-login" data-loading-text="<?php echo $text_loading; ?>" /></div>
    
   <div class="col-sm-4"></div>
</div>

<script type="text/javascript"><!--
$('#button-confirm').on('click', function() {
    
	$.ajax({
		type: 'get',
		url: 'index.php?route=module/timeslot/cod/confirm',
		cache: false,
		beforeSend: function() {
			$('#button-confirm').button('loading');
		},
		complete: function() {
			$('#button-confirm').button('reset');
		},
		success: function(result) {
		
                
                    
                   location = '<?php echo $continue; ?>';
		}
	});
});
//--></script>
