<?php foreach ($products as $product) { ?>
<div class="product-layout product-list col-xs-12" id="p<?php echo $product['product_id']; ?>">
  <div class="product-thumb">
    <div class="image">
      <a href="<?php echo $product['href']; ?>">
        <img src="<?php echo $placeholder_img; ?>" data-src="<?php echo $product['thumb']; ?>" alt="<?php echo (isset($cit_status) && $cit_status && $product['image_alt'] != '') ? $product['image_alt'] : $product['name']; ?>" title="<?php echo (isset($cit_status) && $cit_status && $product['image_title'] != '') ? $product['image_title'] : $product['name']; ?>" class="img-responsive img-lazy" />
        <noscript><img src="<?php echo $product['thumb']; ?>" alt="<?php echo (isset($cit_status) && $cit_status && $product['image_alt'] != '') ? $product['image_alt'] : $product['name']; ?>" title="<?php echo (isset($cit_status) && $cit_status && $product['image_title'] != '') ? $product['image_title'] : $product['name']; ?>" class="img-responsive" /></noscript>
      </a>
    </div>
    <div>
      <div class="caption">
        <h4><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></h4>
        <p><?php echo $product['description']; ?></p>
        <?php if ($product['rating']) { ?>
        <div class="rating">
          <?php for ($i = 1; $i <= 5; $i++) { ?>
          <?php if ($product['rating'] < $i) { ?>
          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
          <?php } else { ?>
          <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
          <?php } ?>
          <?php } ?>
        </div>
        <?php } ?>
        <?php if ($product['price']) { ?>
        <p class="price">
          <?php if (!$product['special']) { ?>
          <?php echo $product['price']; ?>
          <?php } else { ?>
          <span class="price-new"><?php echo $product['special']; ?></span> <span class="price-old"><?php echo $product['price']; ?></span>
          <?php } ?>
          <?php if ($product['tax']) { ?>
          <span class="price-tax"><?php echo $text_tax; ?> <?php echo $product['tax']; ?></span>
          <?php } ?>
        </p>
        <?php } ?>
      </div>
      <div class="button-group">
        <button type="button" onclick="cart.add('<?php echo $product['product_id']; ?>', '<?php echo $product['minimum']; ?>');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md"><?php echo $button_cart; ?></span></button>
        <button type="button" data-toggle="tooltip" title="<?php echo $button_wishlist; ?>" onclick="wishlist.add('<?php echo $product['product_id']; ?>');"><i class="fa fa-heart"></i></button>
        <button type="button" data-toggle="tooltip" title="<?php echo $button_compare; ?>" onclick="compare.add('<?php echo $product['product_id']; ?>');"><i class="fa fa-exchange"></i></button>
      </div>
    </div>
  </div>
</div>
<?php } ?>
