<?php echo $header; ?>
<?php 
$column_left  = trim($column_left);
$column_right  = trim($column_right);
if ($column_left || $column_right) { ?>
<div class="container left-menucategory-fixed">
  <div class="row">
<?php }
  echo $column_left;
  echo $column_right;
  if ($column_left && $column_right) { ?>
    <div id="content" class="col-sm-6">
  <?php }
  else if ($column_left || $column_right) { ?>
    <div id="content" class="col-sm-9">
  <?php }else { ?>
    <div class="row">
      <div  class="col-sm-1 col-sm-rtl"></div>
      <div id="content" class="col-sm-10 col-sm-rtl">
  <?php }
  echo $content_top;
  if ($column_left && $column_right) { ?>
  </div>
  <?php }else if ($column_left || $column_right) { ?>
  </div>
  <?php }else { ?>
    </div> </div> 
  <?php }
  if ($column_left || $column_right) { ?>
  </div></div>
<?php }
echo $content_bottom; ?>

<script type="text/javascript">
$(document).ready(function(){
 $("#storeModal").modal('show');
  });
 
</script>


<?php echo $footer; ?>