
<?php echo $header; ?>
<?php $column_left  = trim($column_left);$column_right  = trim($column_right); ?>

<?php if ($column_left || $column_right) { ?>
<div class="container left-menucategory-fixed"><div class="row">
<?php } ?>

 <?php echo $column_left; ?><?php echo $column_right; ?>
 
 <?php if ($column_left && $column_right) { ?>
 <div id="content" class="col-sm-6">
 <?php }else if ($column_left || $column_right) { ?>
 <div id="content" class="col-sm-9">
 <?php }else { ?>
  <div class="row">
  <div  class="col-sm-1 col-sm-rtl"></div>
 <div id="content" class="col-sm-10 col-sm-rtl">
 <?php } ?>
  <?php echo $content_top; ?>
  
  <?php if ($column_left && $column_right) { ?>
  </div>
 <?php }else if ($column_left || $column_right) { ?>
  </div>
 <?php }else { ?>
  </div> </div> 
 <?php } ?>


<?php if ($column_left || $column_right) { ?>
</div></div>
<?php } ?>
  <?php echo $content_bottom; ?>
<?php   $lang  = $_SESSION['default']['language']; ?>

 

<?php echo $footer; ?>