#live-search {
	width:40%;
	position:absolute;
	z-index:1000;
	padding:5px 0px;
	margin-top: 48px;
	margin-left: 175px;
	background-color:#FFF;
	border: 1px solid #DDD;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0 2px 2px #DDDDDD;
	display:none;
}
@media (min-width:320px) and (max-width: 640px)  {
    #live-search {
        width:93%;
	position:absolute;
	z-index:1000;
	padding:5px 0px;
	margin-top: 52px;
        margin-right: 0px;
	background-color:#FFF;
	border: 1px solid #DDD;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0 2px 2px #DDDDDD;
	display:none;  
        }
}


#live-search .loading{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
#live-search ul {
	list-style-type: none;
	margin:0px;
	padding:0px;
}
#live-search ul li {
	cursor:pointer;
	padding:5px;
	margin:0px 5px;
	background-color:#FFF;
	min-height:40px;
	clear:both;
}
#live-search ul li:nth-child(even) {
	background-color: #FAFAFA;
}
#live-search ul li:hover {
	background-color:#F0F7FA;
}
#live-search ul li a{
	text-decoration: none;
	display:block;
}
#live-search ul li .product-image{
	float:left;
	margin-right:5px;
}
#live-search ul li .product-name p{
	font-weight: normal;
	font-style: italic;
	font-size: 10px;
	color:#555555;
	margin:0px;
	padding:0px;
}
#live-search ul li .product-name{
	font-weight: bold;
	float: left;
	width:60%;
}
#live-search ul li .product-price {
	text-align: right;
	font-weight: bold;
	float:right;
	margin-top:10px;
	width:15%;
}
#live-search ul li .product-price .price{
	color: #333333;
	display:block;
}
#live-search ul li .product-price .special{
	color: #FF0000;
	text-decoration: line-through;
	display:block;
}

#live-search .product-price > .special {
	margin-top: -5px;
}