body{background-color: rgb(242, 242, 242)}

.navbar-default {
background-color: rgb(32, 127, 0);
border: 0;
border-radius: 0;
height: 75px;
line-height: 58px;
margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a{color: white;line-height: 45px;transition: all .5s ease-in-out;font-family: 'Lato', sans-serif;}
.navbar-default .navbar-nav > li > a:hover{background-color: white; color: $65a632}
.navbar-nav > li {float: left;border-left: 1px solid #65a632;text-align: center;margin: 0px 8px;}

.navbar-nav .borderRight{border-right: 1px solid #65a632}
.navbar-form .form-control{
    padding: 0px 45px 0 26px;
    width: 315px;
    border-radius: 80px;
    box-sizing: border-box;
    height: 44px;
}
h3 {
    
    text-transform: inherit !important;
}
.navbar-default ul li a img{margin-right: 10px}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{background: transparent; color: white}

.dropdown-menu{background-color: #207f00}
.dropdown-menu > li > a{color: white}
.dropdown-menu .divider {background-color: #279a00}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: rgb(255, 255, 255);
    font-family: "Lato",sans-serif;
    font-size: 15px;
    transition: all .5s ease-in-out;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{    background: white;
    color: #207f00;}
.dropdown-menu{text-align: center !important}

.reverage{background-image: url(../img/reverage.png);background-repeat: no-repeat;padding: 42px 112px;color: white;background-size: cover;}
.reverage h3{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 48px;
    text-transform: uppercase;
    line-height: .9; color: white
}
.reverage h3 span{font-weight: bold}
.checkOut{background: white;padding: 50px 0;margin-top: 25px;border-radius: 2px;  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.11)}
.checkOut img{margin: 0 auto}
.checkOut .h3Next{width: 77%;margin: 50px auto;}
.checkOut .h3Next button{float: right;margin-top: -42px;border: 0;background-color: rgb(69, 172, 0);color: white;padding: 12px 40px;border-radius: 3px;}
.checkOut .h3Next h3{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: x-large;
}

 .back {float: left !important;margin-top: -11px !important;border: 0;background-color: rgb(69, 172, 0);color: white;padding: 12px 40px;border-radius: 3px;}

.tab-content-custom {
    background-color: #fff;
}
.tab-content {
    border: none;
    background-color: #fff;
}
.checkOut .address{
width: 77%;
margin: 0 auto;
margin-top: 70px;}

.checkOut .panel-default{
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  border: 0;
  }
.checkOut .panel-default h3, .delivaryState h3{margin: 0;font-family: 'Lato', sans-serif;font-size: 20px;}
.checkOut .panel-default p{font-family: 'Lato', sans-serif;
font-weight: 500;
    font-size: 14px;
}


.checkOut .panel-default > .panel-heading{overflow: hidden;background-color: #f5f5f5;}
.checkOut .panel-default > .panel-heading img{margin: 0 10px;cursor: pointer;}


.delivaryState , .delivarySlots{width: 77%;margin: 0 auto;margin-top: 55px;}
select{
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    outline: 0;
    width: 100%;
    display: block;
    padding: 23px 5%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: white;
    border: 0;
    cursor: pointer;
    background: url(../img/slotoptionIcon.png) no-repeat 2%;
    border-radius: 3px;
}

select option{-webkit-appearance: none;
appearance: none;
-moz-appearance: none;
-ms-appearance: none;
-o-appearance: none;
outline: 0;
width: 100%;
display: block;
padding: 16px 20px;
background-color: #f4f4f4;
box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
background-color: white; border: 0; cursor: pointer;background: url(../img/slotoptionIcon.png) no-repeat 2%}

.delivaryState label, .delivarySlots label{margin-bottom: 20px;font-family: 'Lato', sans-serif;font-weight: 500;font-size: 16px;}

.hideAndShowOne{display: none}
.select{
    width: 100%;
    display: block;
    padding: 21px 20px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: #f4f4f4;
    border: 0;
    cursor: pointer;
    overflow: hidden;
    transition: all .5s ease-in-out;
    font-family: 'Lato', sans-serif;
}
.delivarySlots .select.active{background-color: white}
.delivarySlots .select:hover{background-color: white}

.HowItWorks{padding: 80px 0;}
.HowItWorks .circle{
    width: 12px;
    height: 12px;
    background-color: #509716;
    display: inline-block;
    border-radius: 50%;
    margin: 0 3px;
    }
.HowItWorks h3, .weAreWithYou h3{
    color: #3b7909;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 11px 0 50px 0;
}

.weAreWithYou h3{color: white;text-transform: uppercase;font-size: 40px;line-height: 1.4;margin-bottom: 15px;margin-top: 65px;}
.weAreWithYou p{color:white;font-family: 'Lato', sans-serif;font-size: 18px;margin-bottom: 20px;}
.HowItWorks h4{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #393939;
    text-transform: uppercase;
}
.weAreWithYou a img{
    width: 195px;
    float: left;
    margin-right: 15px;
    margin-bottom: 20px;
    height: 54px;
}

.HowItWorks p{    font-family: 'Lato', sans-serif;
    font-size: 16px;
}


/* start landing page style */

.landingBody{background-color: white}
.TopBar{background-image: url(../img/TobBarBg.png);height: 90px; padding: 0 60px;}
.TopBar .logo, .TopBar .links{margin-top: 20px; color: white}
.TopBar .links a{color: #ffffff;font-family: 'Lato', sans-serif;font-weight: bold;font-size: 14px;letter-spacing: 1px;}
.TopBar .links a span{color: #ffd304}

.gotonextSection{
    margin: 0 auto;
    margin-top: 50px;
    background: #509716;
    height: 65px;
    width: 65px;
    line-height: 65px;
    border-radius: 50%;
    cursor: pointer;
}


.HowItWorks img{margin: 30px auto;height: 145px;}


.weAreWithYou{background-image: url(../img/weAreWithYou.png);position: relative;background-repeat: no-repeat;background-size: cover;overflow: hidden;padding: 0 0 85px 0px;}
.weAreWithYou .arrow{
            width: 20px;
            height: 20px;
            background: white;
            transform: rotate(134deg);
            -webkit-transform: rotate(134deg);
            -o-transform: rotate(134deg);
            -moz-transform: rotate(134deg);
            -ms-transform: rotate(134deg);
            margin: 0 auto;
            margin-top: -10px;
            }

.slider select{
    width: auto;
    float: left;
    background: white;
    border-right: 1px solid #cfcfcf;
    border-radius: 0;
    color: #8d8d8d;
    padding: 2.5px 5%;
    font-family: 'Lato', sans-serif;
    height: 57px;
}

.slider .carousel-caption{
    right: 0;
    left: 0;
    width: 90%;
    margin: 0 auto;
    top: 18%;
}

/* End landing page style */





/* Start categories page */
.VigatableBg{
    background-image: url(../img/vegitableBg.png);
    height: 282px;
}

.icon-section{background-color: white}
.icon-section .box{
    float: left;
    margin: 20px 30px 0 32px;
    height: 150px;
    }
.icon-section .box h3{font-size: 13px;font-family: 'Lato', sans-serif;font-weight: 600;}


.products{overflow: hidden;padding: 25px;background: white;margin-top: 25px;border-radius: 2px;box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.11);}
.products .product{
    width: 20%;
    float: left;
}
.products .product img{margin: 0 auto;height: 150px;}


.weare{background-image: url(../img/weare.png);padding: 40px 0;margin-top: 20px;}
.weare a img{
    float: left;
    width: 208px;
    margin: 0 15px 0 0;
    height: 60px;
}

.weare .links{width: 446px;
    margin: 0 auto}


.filter{overflow: hidden;
    padding: 25px;
    background: white;
    margin-top: 25px;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.11);
}
.filter .link{cursor: pointer;overflow: hidden;margin-bottom: 15px;}
.filter .link h3{margin: 0;font-family: 'Lato', sans-serif;font-size: 20px;color: #222;}
.filter .link img{margin-top: 8px}
.Typeform, .Nutritionform , .Packingform{display: none}
.typeLink img, .Nutritionlink img, .Packinglink img{transform: rotate(-90deg);}
.typeLink, .Nutritionlink, .Packinglink{margin-top: 10px}
.filter label{font-family: 'Lato', sans-serif;font-weight: 400;font-size: 13px;margin-bottom: 10px;margin-left: 8px;}
/* End categories page */




.products .product{position: relative}
.products .product h3{
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        font-weight: bold;
}

.products a{
    color: #6a6a6a;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
}

.products .product p{    color: #36981b; margin: 0 5px;
    font-size: 13px;
    display: inline-block;}
 .products .product p.oldPrice{color: #979797}
.products .product span{
    background-color: #ee4054;
    padding: 4px 12px;
    color: white;
    margin-top: -22px;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.products .product{margin-bottom: 48px;height: 310px;}

.products .product a button{
    outline: 0;
    background: #36981b;
    padding: 12px 15px;
    color: white;
    border: 0;
    border-radius: 3px;
    width: 90%;
    margin-top: 20px;
    }




.communities{overflow: hidden;
    padding: 25px;
    background: white;
    margin-top: 25px;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.11)}
.communities h3{
    color: #2d2d2d;
    font-size: 32px;
    font-family: 'Lato', sans-serif;
}

.communities .seeMore{
    margin-top: -30px;
    margin-right: 17px;
    text-decoration: none;
    color: #6a6a6a;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 40px;
    }

.communities h4{
    color: white;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.communities .box .img{width: 100%}
.communities .boxInfo{
    background: #e8114a;
    margin-top: -22px;
    z-index: 999999999999999;
    position: relative;
    padding: 10px 16px 20px 16px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out
    }
 .communities .boxInfo:hover{padding: 16px 16px 25px 16px;}
.communities .boxInfo a{
    display: block;
    color: white;
    margin-bottom: 15px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-size: 12px;
}

.communities .boxInfo span{
    color: white;
    margin-bottom: 15px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-size: 12px;
}

.communities .boxInfo img{margin-right: 8px}













/* landing page */
.carousel-caption form input{
    float: left;
    height: 57px;
    width: 145px;
    background: #509716;
    border: 0;
    border-radius: 0 4px 4px 0;
    outline: 0;
    margin-bottom: 20px;
}

.carousel-caption form .locateMe{
    float: left;
    margin-left: 15px;
    border: 0;
    color: #8d8d8d;
    background: white;
    border-radius: 4px;
    height: 54px;
    width: 190px;
    outline: 0;
    line-height: 3;
    text-align: right;
    padding-right: 20px;
}

.carousel-caption form .locateMe img{width: 42px;margin-top: 0;float: left;margin-left: 10px;}
.testimonials .opinion{display: none}
.testimonials .opinion.active{display: block}
.testimonials h3{margin-top: 80px;font-family: 'Lato', sans-serif;font-size: 28px;font-weight: bold;text-transform: uppercase;color: #3b7909;margin-bottom: 60px;}
.testimonials p{font-family: 'Lato', sans-serif;color: #222222;font-size: 17px;}
.testimonials p span{color: #72aa45}

.carousel-caption h3{
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}

.carousel-caption p{
    font-size: 17.5px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 20px;
}










/***************************/
.sortedBy select{
    background: none;
    background-color: white;
    padding: 10px 20px;
    text-align: left;
    width: 270px;
    margin-top: 20px;
    height: 48px;
}
.sortedBy{position: relative}
.sortedBy .arrow{position: absolute;top: 18px;right: 13px;}


.title{font-family: 'Lato', sans-serif}
.title span{
    font-family: 'Lato', sans-serif;
    display: block;
    font-size: 15px;
}


@media (max-width: 1347px){
    .navbar-nav > li{margin: 0 -3px !important;}

}

@media (max-width: 1267px) and (min-width: 767px){
    .navbar-default form{display: none}

}


@media (max-width: 923px) and (min-width: 768px){
    .navbar-nav > li{margin: 0 -5px !important;}
    .navbar-default li.sar{display: none}

    .navbar-default ul li a img {margin-right: 4px}
}


@media (max-width: 730px){
    .checkOut .h3Next button{float: none; margin-top: 20px}

}

@media (max-width: 740px){
    .checkOut img.progressImg{}

}


@media (max-width: 980px){
    .carousel-caption{}
}

@media (max-width: 1258px) and (min-width: 980px){
    .slider select{padding: 18.5px 3%}
}


@media (max-width: 991px){

    footer .footerPart {
    width: 50% !important;
    float: left !important;
    min-height: 170px !important}
}

@media (max-width: 410px){

    footer .footerPart {
    width: 100% !important}
}





@media (max-width: 767px){

    .navbar-default .navbar-collapse, .navbar-default .navbar-form{background-color: rgb(32, 127, 0);z-index: 999999999999999999999999999;position: relative;}
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{border-color: transparent;}
    .navbar-nav > li {display: block;float: none;margin: 0 !important;}
    .navbar-default .navbar-toggle .icon-bar {background-color: white}
    .navbar-default .navbar-toggle {border-color: transparent;margin-top: 28px}
    .navbar-default .navbar-toggle:hover{background-color: transparent}
    .navbar-default .navbar-toggle:focus{background-color: transparent}
}

@media (max-width: 767px){

    .filter{
    height: auto !important;
}

    .searchbox{    width: 80%;
    margin: 0 auto;}

    .navbar-form .form-control {width: 100%}
    .navbar-form .searchbox img {top: 16px !important}
}


@media (max-width: 1220px){

    .products .product{width: 50%}
}


@media (max-width: 540px){

    .products .product{width: 100%}
}


@media (max-width: 464px){.TopBar {background-image: url(../img/TobBarBg.png);height: 139px;padding: 0 60px}}

@media (max-width: 430px){
    .reverage h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.2;
    color: white}
}


@media (max-width: 515px){
    .weare a img{float: none; margin-bottom: 15px}
    .weare .links{width: 208px}
}


@media (max-width: 476px){
.weAreWithYou h3 {font-size: 30px}
}


@media (max-width: 320px){
.slider{margin-top: -5px}
.TopBar {
    background-image: url(../img/TobBarBg.png);
    height: 160px;
    background-repeat: no-repeat;
    background-size: cover}
}

@media (max-width: 315px){
     .sortedBy select{width: 220px}
}

@media (max-width: 1220px){
     .products .product p{display: block}
}

.slider select.showHide{display: none}
@media (max-width: 1027px){
     .carousel-inner > .item > img, .carousel-inner > .item > a > img{height: 700px;}
     .slider select {width: 100% !important;margin-bottom: 19px}
     .gotonextSection{display: none}
     .slider .carousel-caption {right: 0;left: 0;width: 90%;margin: 0 auto;top: 6%}
     .slider select.hideShow{display: none}
     .slider select.showHide{display: block}
}

@media (max-width: 389px){
     .carousel-caption form .locateMe{margin-left: 0}
}

/* footer style */

footer .footerPart{width: 20%;float: left}
footer .footerPart a, footer .footerPart p{display: block;color: #545454;font-family: 'Lato', sans-serif;margin-bottom: 10px;}
footer .lastfooterPart a img{float: left}
footer .lastfooterPart .subscribeForm{position: relative}
footer .lastfooterPart .subscribeForm img{position: absolute;right: 4%;top: 12px;}
footer .copyrights{margin-top: 15px;margin-bottom: 30px;}
footer .lastfooterPart a img:hover {
    transform: rotate(360deg);
    transition: all .5s ease-in-out;
}
footer .footerPart a:hover, footer .footerPart p:hover{text-decoration: none; color: #36981B !important}

footer .footerPart h3{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #101010;
    margin-top: 30px;
}

footer .greenColor{color: #36981b !important}
footer .lastfooterPart form input{
    border: 0;
    padding: 10px;
    background: white;
    border-radius: 5px;
    outline: 0;
    width: 100%;
    margin-bottom: 22px;
}




input::-moz-placeholder{color: #aaa}