@media only screen and (max-width: 767px){
	.mobile-app{
		display:none;
	}
	.mobile-app_opp{
		display:block;
	}
	.lsep{
	display: block;
    height: 6px;
    width: 100%;
    margin: 10px auto 0px;
    content: '';
    background: radial-gradient(ellipse at 50% -50%, rgba(0, 0, 0, 0.5) 0px, rgba(255, 255, 255, 0) 65%);
	}
	.mobile_logo{
		width:120px;
		float:left;
		padding:5px 10px;
	}
	.logo_resize{

		width: 60%;
	}
	.b-cart .btn-dropdown-cart{
		height:60px !important;
	}
	.b-cart .btn-dropdown-cart:hover{
		height:60px !important;
	}
	.b-cart.dropdown_cart:before{
		top:12px !important;
	}
	.b-cart.dropdown_cart:hover{
	background-position-x: 15px !important;
    background-position-y: 18px !important;
	}
	.open-panel i{
		font-size:30px !important;
	}
	.b_mobile{
		padding-top:15px !important;
	}
	.shipping_return_support{
		display:none !important;
	}
	#back_top.back_top, .cpanelContainer{
		display:block !important;
	}
	#back_top span{
		bottom:45px !important;
	}
	.footer_column{
		display:none !important;
	}
	.menu_mobile{
		height: calc(100% + 1px) !important;
		position:fixed !important;
	}
	.mobile_fixed{
		position:relative;
		z-index:10001;
		width:100%;
	}
	.mobile_margin_top{
		margin-top:60px;
	}
	/*-- start scroll pane --*/
	/*.menu_mobile{
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
	.menu_mobile::-webkit-scrollbar-track
	{ 
		border-radius: 10px;
		background-color: #F5F5F5;
	}
	.menu_mobile::-webkit-scrollbar {
		width: 6px;
		background-color: #F5F5F5;
	}
	.menu_mobile::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: #ef5f96;
		border: 1px solid rgba(255, 255, 255, 0.7) !important;
	}*/
/*-- //end scroll pane --*/ 
}

@media (min-width: 768px){
	.mobile-app-opp-inline{
		display:inline-block;
	}
	.mobile-app_opp{
		display:none;
	}
}
