#live-search-dropdown {
    background-color: #fff;
    border: 2px solid #ddd;
    z-index: 1000;
    border-radius: 3px;
}
.addcart {
    border: none;
    background: transparent;
    float: right;
}
@media only screen and (max-width: 992px) {
    #live-search-dropdown {
    position: relative;
    margin-top: 62px;
    width: 100%}
#search-live {
    display: block!important;
}
}@media only screen and (min-width: 993px) {
    #live-search-dropdown {
    position: absolute;
    right: -10px;
    top: 57px;
    width: 82%;
    max-width: 800px;
}
}
