*,
a:focus,
a:hover {
    outline: 0
}

.dropdown-menu li>a:hover,
a,
a b,
a:focus,
a:hover {
    text-decoration: none
}

#back_top b,
.btn,
h2,
h3 {
    text-transform: uppercase
}

a,
body {
    color: #000 !important
}

* {
    -webkit-font-smoothing: antialiased
}

*,
:before,
@font-face {
    font-family: apercuBold;
    src: url(fonts/apercu/apercu_bold_pro.otf);
    font-weight: 700
}

@font-face {
    font-family: apercuBoldItalic;
    src: url(fonts/apercu/apercu_bold_italic_pro.otf)
}

@font-face {
    font-family: apercuMedium;
    src: url(fonts/apercu/apercu_medium_pro.otf)
}

@font-face {
    font-family: apercuMono;
    src: url(fonts/apercu/apercu_mono_pro.otf)
}

@font-face {
    font-family: apercuRegularItalic;
    src: url(fonts/apercu/apercu_regular_italic_pro.otf)
}

@font-face {
    font-family: apercuRegular;
    src: url(fonts/apercu/apercu_regular_pro.otf)
}

:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.row {
    margin-left: -10px;
    margin-right: -10px
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    padding-left: 10px;
    padding-right: 10px
}

.col-sm-cs5 {
    width: 20%
}

ol,
ul {
    list-style-type: none;
    padding: 0
}

.bt-wide {
    margin: 0 auto;
    overflow: hidden
}

.bt-boxed,
.bt-fboxed,
.bt-hboxed {
    margin: 0 auto;
    max-width: 1200px
}

h1,
h2,
h3 {
    margin-top: 0
}

.image img,
img {
    max-width: 100%
}

input[type=checkbox],
input[type=radio] {
    vertical-align: -2px;
    margin-right: 5px
}

body {
    font-family: apercuRegular, 'Open Sans';
    font-weight: 300;
    font-size: 13px;
    line-height: 1.75em;
    background-color: #fff
}

footer h3,
h1,
h2,
h3 {
    font-family: apercuBold, 'Open Sans'
}

a,
a b {
    cursor: pointer;
    font-weight: 400
}

a b {
    color: #1c1c1c
}

a:hover b {
    text-decoration: underline
}

a:hover {
    color: #dd5e67
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444
}

h1,
h2 {
    color: #000
}

hr {
    margin-bottom: 23px;
    margin-top: 29px
}

.fa {
    font-size: 14px
}

h1 {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 22px
}

h2,
h3 {
    font-weight: 700
}

h2 {
    font-size: 16px;
    margin-bottom: 13px
}

h3 {
    color: #1c1c1c;
    font-size: 14px;
    line-height: 20px
}

.form-control,
footer a {
    font-family: apercuRegular, 'Open Sans'
}

.form-control,
label,
p strong {
    font-weight: 400
}

h4 {
    font-size: 15px
}

h5,
input[type=color].form-control,
input[type=date].form-control,
input[type=datetime-local].form-control,
input[type=datetime].form-control,
input[type=email].form-control,
input[type=month].form-control,
input[type=number].form-control,
input[type=password].form-control,
input[type=search].form-control,
input[type=tel].form-control,
input[type=text].form-control,
input[type=time].form-control,
input[type=url].form-control,
input[type=week].form-control,
select.form-control,
textarea.form-control {
    font-size: 12px
}

h6 {
    font-size: 10.2px
}

legend {
    font-size: 18px;
    padding: 7px 0
}

.input-group .dropdown-menu,
.input-group .popover,
.input-group input,
.input-group select,
label {
    font-size: 12px
}

.input-group .input-group-addon {
    font-size: 12px;
    height: 30px
}

.form-horizontal .form-group {
    margin-left: -10px;
    margin-right: -10px
}

.table>tbody+tbody {
    border: none
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
    background-color: none;
    border: none
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: transparent
}

.table-responsive {
    border: none;
    overflow-x: auto
}

.breadcrumb,
.buttons,
.image>a {
    overflow: hidden
}

.table-responsive>.table-bordered {
    border: 1px solid #ddd
}

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
    position: static;
    margin: 4px 5px 0 0;
    vertical-align: -2px
}

.checkbox label,
.radio label {
    padding-left: 0;
    font-size: 13px
}

.checkbox,
.checkbox+.checkbox,
.radio,
.radio+.radio {
    margin-top: 10px
}

span.hidden-lg,
span.hidden-md,
span.hidden-sm,
span.hidden-xs {
    display: inline
}

.form-control {
    background-color: #f4f4f4;
    background-image: none;
    border: none;
    border-radius: 0;
    color: #000;
    display: block;
    font-size: 12px;
    height: 40px;
    margin-bottom: 14px;
    margin-top: 6px;
    padding: 7px 8px 9px;
    vertical-align: middle;
    width: 43%;
    box-shadow: none !important
}

table {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px
}

.nav-tabs {
    margin-bottom: 15px
}

b,
strong {
    font-weight: 600
}

div.required .control-label:after {
    content: '* ';
    color: red;
    font-weight: 700
}

.dropdown-menu li>a:hover {
    color: #0072ff
}

#bt_container {
    position: relative
}

header {
    clear: both;
    float: left;
    padding: 10px 0 0;
    width: 100%
}

.header_left {
    padding-left: 0
}

.header_right {
    padding-right: 0
}

#top.boss_scroll,
header.boss_scroll {
    box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
    position: fixed;
    background: #fff;
    padding: 11px 50px 0;
    transition: all .5s ease 0
}

header.boss_scroll {
    top: 62px;
    z-index: 1000;
    -webkit-transition: all .5s ease 0
}

#top.boss_scroll {
    top: 0;
    z-index: 999;
    -webkit-transition: all .5s ease 0
}

#column-left+#content h1 {
    margin-top: 0
}

#content {
    min-height: 300px;
    margin-bottom: 26px;
    padding: 0
}

#column-left {
    padding: 3px 0 0 1em;
    margin-bottom: 40px
}

#column-right {
    padding-right: 0;
    float: right;
    padding-left: 0
}

#column-left+#content {
    padding-right: 0;
    padding-left: 30px
}

#column-right+#content {
    padding-left: 0;
    padding-right: 30px
}

footer {
    padding-top: 20px
}

footer hr {
    border-top: none;
    border-bottom: 1px solid #d9d9d9
}

footer a {
    color: gray;
    margin-bottom: 3px
}

footer a:hover {
    color: #8CC42F
}

footer h3 {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: none;
    margin-bottom: 21px
}

#bt_footer h3 i {
    display: none
}

footer ul {
    margin: 0
}

footer ul li {
    margin: 0;
    padding-left: 0
}

.alert,
footer ul li+li {
    margin-top: 10px
}

footer ul li a {
    font-size: 14px;
    color: #b4b4b4
}

footer#bt_footer ul li a i.fa-chevron-right {
    font-size: 7px;
    margin-right: 10px;
    vertical-align: 2px
}

footer .powered {
    text-align: center
}

.alert {
    padding: 8px 14px;
    border-radius: 0
}

.alert-danger {
    color: #e26060;
    background-color: #ffd1d1
}

.bt-breadcrumb {
    clear: both;
    margin-bottom: 30px;
    padding-bottom: 0;
    padding-top: 31px;
    text-align: center
}

.breadcrumb {
    background: rgba(0, 0, 0, 0);
    border-bottom: none;
    border-radius: 0;
    margin: 0 -10px;
    padding: 0;
    text-align: right
}

.breadcrumb i {
    font-size: 15px
}

.breadcrumb>li {
    padding-top: 5px
}

.breadcrumb>li+li {
    margin-left: 0;
    padding-left: 13px
}

.breadcrumb>li+li:before {
    content: none
}

.breadcrumb>li+li:after {
    color: #403e3c;
    margin-left: 10px;
    padding: 0 5px;
    content: "/\00a0"
}

.breadcrumb>li a {
    color: #403e3c;
    font-family: apercuRegular, 'open sans';
    font-size: 13px;
    font-weight: 400
}

.breadcrumb>li:last-child a {
    cursor: default
}

#back_top,
.btn-link,
.img_city:hover,
.name a {
    cursor: pointer
}

.breadcrumb>li:hover a {
    color: #404b8f
}

.breadcrumb>li:last-child:after {
    content: none
}

.b_breadcrumb,
.breadcrumb h2 {
    color: #403e3c;
    float: left;
    font-family: apercuBold, 'Open Sans';
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    width: 50%;
    margin-bottom: 0;
    line-height: 1.1em
}

.bt_pagination .links a,
.bt_pagination .links span,
.btn {
    display: inline-block;
    font-family: apercuRegular, 'Open Sans';
    font-weight: 700
}

.bt_pagination,
.product-thumb .image,
.slides li,
.slides li img,
div.image {
    text-align: center
}

.bt_pagination {
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0;
    width: 100%
}

.bt_pagination .links {
    margin-bottom: 15px
}

.bt_pagination .links a,
.bt_pagination .links span {
    border: 1px solid #b59c8a;
    color: #b59c8a;
    float: none;
    font-size: 12px;
    margin: 0 5px;
    padding: 0;
    text-decoration: none;
    background: 0 0;
    border-radius: 0 !important;
    width: 25px;
    height: 25px;
    line-height: 24px;
    text-align: center
}

.bt_pagination .links .pagination a:hover,
.bt_pagination .links .pagination span {
    color: #fff;
    font-weight: 700;
    background: #403e3c;
    border: 1px solid #403e3c
}

.bt_pagination .pagination {
    margin: 0
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    margin-left: 10px
}

.buttons {
    clear: both;
    margin: 10px 0
}

.btn {
    background-color: #fff;
    border: 1px solid #bcbcbc;
    border-radius: 0;
    color: #bcbcbc;
    font-size: 10px;
    padding: 7px 20px 8px;
    line-height: 23px;
    transition: all .5s ease 0;
    -webkit-transition: all .5s ease 0;
    min-height: 40px;
    vertical-align: top
}

.image>a,
div.image {
    display: block;
    position: relative
}

#back_top b,
.name a,
.price {
    font-weight: 400
}

#custom {
    color: #000;
    border-color: #000
}

input.btn {
    line-height: 20px
}

.btn:hover,
.button_cart {
    background-color: #fff !important;
    border-color: #390 !important;
    color: #390 !important
}

.btn:focus,
.btn:hover {
    color: #fff
}

.button_cart:hover {
    background-color: #fff;
    border-color: #390;
    color: #390
}

.btn-shopping {
    border: 1px solid #bcbcbc;
    background: #fff;
    color: #bcbcbc
}

.btn-shopping:hover {
    background-color: #dd5f65;
    border-color: transparent;
    color: #fff
}

.btn-checkout {
    height: 50px;
    font-size: 18px;
    padding: 11px 52px 10px;
    background-color: #8da662;
    line-height: 25px
}

.btn-return {
    background-color: #00c834;
    border: none;
    color: #fff;
    height: 37px;
    line-height: 38px;
    padding: 0;
    position: relative;
    width: 37px
}

.btn.btn-return {
    padding: 0
}

.btn-return i {
    vertical-align: -2px
}

.btn-xs {
    font-size: 9px
}

.btn-sm {
    font-size: 10.2px
}

.btn-lg {
    padding: 10px 16px;
    font-size: 15px
}

.btn-group>.btn,
.btn-group>.dropdown-menu,
.btn-group>.popover {
    font-size: 12px
}

.btn-group>.btn-xs {
    font-size: 9px
}

.btn-group>.btn-sm {
    font-size: 10.2px
}

.btn-group>.btn-lg {
    font-size: 15px
}

.btn-warning.active,
.btn-warning.disabled,
.btn-warning:active,
.btn-warning:hover,
.btn-warning[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, .1)
}

.btn-danger {
    background-color: #2e2e2e;
    border: none;
    border-radius: 15px;
    height: 21px;
    padding: 0;
    width: 21px
}

.btn-success {
    color: #fff;
    background-color: #5bb75b;
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038
}

.btn-info {
    color: #666;
    padding: 0;
    height: auto;
    border: none !important;
    background: 0 0
}

.btn-info.active,
.btn-info.disabled,
.btn-info:active,
.btn-info:hover,
.btn-info[disabled] {
    background: 0 0;
    color: #b59c8a
}

.btn-link {
    border-color: transparent;
    color: #666;
    border-radius: 0
}

.btn-link,
.btn-link:active,
.btn-link[disabled] {
    background-color: transparent;
    background-image: none;
    box-shadow: none
}

.btn-inverse {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    background-color: #363636;
    background-image: linear-gradient(to bottom, #444, #222);
    background-repeat: repeat-x;
    border-color: #222 #222 #000
}

.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse:active,
.btn-inverse:hover,
.btn-inverse[disabled] {
    background-color: #222;
    background-image: linear-gradient(to bottom, #333, #111)
}

.checkbox-inline,
.radio-inline {
    padding-left: 0
}

div.image {
    margin-bottom: 10px
}

.image img {
    margin: 0 auto
}

.image>a:before {
    content: '';
    position: absolute;
    background: url(../image/over-bg.png);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .5s;
    -webkit-transition: all .5s
}

.image:hover>a:before {
    opacity: 1
}

.sub_image {
    display: inline-block;
    margin-right: 15px
}

.sub_image img {
    background: #404b8f;
    width: 40px;
    height: 40px;
    border-radius: 100%
}

div.name {
    margin-bottom: 10px
}

.name a {
    color: #1c1c1c;
    font-family: apercuMedium, 'open sans';
    font-size: 12px
}

.name a:hover {
    color: #dd5e67
}

.rating {
    margin-bottom: 5px
}

.price {
    font-size: 14px;
    color: #1c1c1c;
    font-family: apercuRegular, 'open sans'
}

.price-old {
    color: #7f7f7f;
    text-decoration: line-through;
    margin-right: 5px
}

.btn-quickshop {
    opacity: 0;
    position: absolute;
    transition: all .5s ease 0;
    z-index: 99;
    width: 60px;
    height: 60px
}

.image:hover .btn-quickshop {
    opacity: 1;
    filter: alpha(opacity=100)
}

.btn-quickshop .sft_quickshop_icon {
    background-color: #404b8f;
    border: none;
    border-radius: 100%;
    color: #fff;
    height: 60px;
    transition: all .5s ease 0;
    white-space: nowrap;
    width: 60px;
    transform: scale(0, 0);
    -webkit-transform: scale(0, 0)
}

.image:hover .btn-quickshop .sft_quickshop_icon {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1)
}

.btn-quickshop .sft_quickshop_icon i {
    font-size: 21px
}

.btn-quickshop .sft_quickshop_icon:hover {
    background-color: #403e3c
}

.list-group a {
    border: 1px solid #DDD;
    color: #888;
    padding: 8px 12px
}

.list-group a.active,
.list-group a.active:hover,
.list-group a:hover {
    color: #444;
    background: #eee;
    border: 1px solid #DDD;
    text-shadow: 0 1px 0 #FFF
}

.carousel-caption {
    color: #FFF;
    text-shadow: 0 1px 0 #000
}

.carousel-control .icon-prev:before {
    content: '\f053';
    font-family: FontAwesome
}

.carousel-control .icon-next:before {
    content: '\f054';
    font-family: FontAwesome
}

.product-thumb .image {
    border: 1px solid transparent
}

.product-thumb .image:hover {
    border: 0 solid #f2f2f2
}

.list-product .item .image a,
.product-thumb .image a {
    display: block;
    position: relative
}

.product-thumb .image img {
    margin-left: auto;
    margin-right: auto
}

.product-grid .product-thumb .image {
    float: none;
    margin-bottom: 20px
}

.product-grid .product-thumb .name {
    margin-bottom: 5px
}

.product-grid .product-thumb .rating {
    margin-bottom: 10px
}

.product-grid .product-thumb .description,
.product-grid .product-thumb .price .price-tax {
    display: none
}

.product-thumb .rating {
    padding-bottom: 0
}

.rating .fa-stack {
    width: 14px;
    height: 13px;
    vertical-align: 0
}

.rating .fa-stack i {
    color: #dd5f65;
    font-size: 15px
}

.rating .fa-stack.fa-hidden i {
    color: #b0b0b0;
    font-size: 15px
}

h2.price {
    margin: 0
}

.product-thumb .price {
    color: #000
}

.product-thumb .price-old {
    color: #999;
    text-decoration: line-through;
    margin-left: 0;
    display: block
}

.product-thumb .price-tax {
    color: #999;
    font-size: 13px
}

.thumbnails {
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0 0 30px
}

.thumbnails>img {
    width: 100%
}

.bt-product-zoom .list_carousel.responsive {
    position: relative;
    padding: 0 30px
}

.bt-product-zoom a.nav_thumb {
    background: url(../image/icon_prev_next_small.png) no-repeat;
    height: 28px;
    width: 16px;
    display: block;
    text-indent: -9999px;
    position: absolute;
    top: 33%
}

.bt-product-zoom a.prev {
    left: 0;
    background-position: 0 0
}

.bt-product-zoom a.prev:hover {
    background-position: 0 100%
}

.bt-product-zoom a.next {
    right: 0;
    background-position: 100% 0
}

.bt-product-zoom a.next:hover {
    background-position: 100% 100%
}

.image-additional {
    position: relative
}

#boss-image-additional-zoom>li.image-additional,
#boss-image-additional>li.image-additional {
    float: left;
    margin: 5px;
    width: 22%
}

#boss-image-additional-zoom>li.image-additional a.thumbnail,
#boss-image-additional>li.image-additional a.thumbnail {
    margin: 0;
    transition: none;
    -moz-transition: none;
    -webkit-transition: none
}

#boss-image-additional-zoom>li.image-additional a.thumbnail:hover,
#boss-image-additional>li.image-additional a.thumbnail:hover {
    box-shadow: 0 0 1px #428bca
}

.image-additional li {
    float: left;
    margin: 5px
}

.image-additional li img {
    padding: 0;
    border: 1px solid transparent
}

.image-additional li:hover img {
    border-color: #000
}

.image-additional #boss-image-additionalqs li {
    width: 25%
}

.flexslider .slides img {
    width: inherit
}

.flexslider.carousel .slides img {
    width: auto
}

.slides {
    padding: 0;
    margin: 0;
    list-style: none
}

.flex-direction-nav a:before {
    line-height: 40px
}

@media (min-width:768px) {
    .drop-grid-1-1,
    .drop-grid-2-2,
    .drop-grid-3-3,
    .drop-grid-4-4,
    .drop-grid-5-5,
    .drop-grid-6-6 {
        width: 730px
    }
    .dropdown {
        max-width: 730px
    }
}

@media (min-width:992px) {
    .drop-grid-1-1,
    .drop-grid-2-2,
    .drop-grid-3-3,
    .drop-grid-4-4,
    .drop-grid-5-5,
    .drop-grid-6-6 {
        width: 970px
    }
    .dropdown {
        max-width: 970px
    }
}

@media (min-width:1200px) {
    .drop-grid-1-1,
    .drop-grid-2-2,
    .drop-grid-3-3,
    .drop-grid-4-4,
    .drop-grid-5-5,
    .drop-grid-6-6 {
        width: 1180px
    }
    .dropdown {
        max-width: 1170px
    }
}

.drop-grid-2-1 {
    width: 600px
}

.drop-grid-3-2 {
    width: 800px
}

.drop-grid-3-1 {
    width: 400px
}

.drop-grid-4-3 {
    width: 900px
}

.drop-grid-4-2 {
    width: 600px
}

.drop-grid-4-1 {
    width: 300px
}

.drop-grid-5-4 {
    width: 960px
}

.drop-grid-5-3 {
    width: 720px
}

.drop-grid-5-2 {
    width: 480px
}

.drop-grid-5-1 {
    width: 240px
}

.drop-grid-6-5 {
    width: 1000px
}

.drop-grid-6-4 {
    width: 800px
}

.drop-grid-6-3 {
    width: 600px
}

.drop-grid-6-2 {
    width: 400px
}

.drop-grid-6-1 {
    width: 200px
}

.row-col-1 .row-grid-1 {
    width: 100%
}

.row-col-2 .row-grid-1 {
    width: 50%
}

.row-col-3 .row-grid-1 {
    width: 33.3333333333%
}

.row-col-3 .row-grid-2 {
    width: 66.6666666667%
}

.row-col-4 .row-grid-1 {
    width: 25%
}

.row-col-4 .row-grid-2 {
    width: 50%
}

.row-col-4 .row-grid-3 {
    width: 75%
}

.row-col-5 .row-grid-1 {
    width: 20%
}

.row-col-5 .row-grid-2 {
    width: 40%
}

.row-col-5 .row-grid-3 {
    width: 60%
}

.row-col-5 .row-grid-4 {
    width: 80%
}

.row-col-6 .row-grid-1 {
    width: 16.6666666667%
}

.row-col-6 .row-grid-2 {
    width: 33.3333333333%
}

.row-col-6 .row-grid-3 {
    width: 50%
}

.row-col-6 .row-grid-4 {
    width: 66.6666666667%
}

.row-col-6 .row-grid-5 {
    width: 83.3333333333%
}

.col-grid-1 {
    width: 100%
}

.col-grid-2 {
    width: 50%
}

.col-grid-3 {
    width: 33%
}

.col-grid-4 {
    width: 25%
}

.col-grid-5 {
    width: 20%
}

.col-grid-6 {
    width: 16.6666666667%
}

.closeAccordion {
    display: none
}

.bt-dis-column-4 {
    width: 25%;
    display: inline-block
}

.bt-dis-column-3 {
    width: 33%;
    display: inline-block
}

.bt-dis-column-2 {
    width: 50%;
    display: inline-block
}

.bt-dis-column {
    vertical-align: top
}

.bt-dis-column .bt-item {
    margin: 0 0 20px;
    max-width: 100%;
    clear: both
}

.bt-dis-column .bt-item .image {
    float: left;
    margin: 0 15px 10px 0
}

.bt-dis-column .bt-item .more-detail {
    display: block;
    overflow: hidden
}

.bt-dis-column .bt-product-large {
    padding: 0;
    width: 100%;
    margin: 0 0 20px
}

.bt-dis-column .bt-product-grid {
    clear: both;
    padding-top: 40px;
    position: relative
}

#back_top,
#back_top span {
    position: fixed;
    text-align: center
}

.bt-product-large {
    float: left;
    padding-right: 30px
}

.bt-items .bt-item-extra {
    display: inline-block;
    margin-right: -3px;
    padding: 0 26px 20px;
    vertical-align: top
}

.bt-prolarge-nslider .element-1 {
    width: 100%
}

.bt-prolarge-nslider .element-2 {
    width: 50%
}

.bt-prolarge-nslider .element-3 {
    width: 33.3333333333%
}

.bt-prolarge-nslider .element-4 {
    width: 25%;
    max-width: 280px
}

.bt-prolarge-nslider .element-5 {
    width: 20%;
    max-width: 224px
}

.bt-prolarge-nslider .element-6 {
    width: 16.6666666667%;
    max-width: 186px
}

.bt-prolarge-nslider .element-7 {
    width: 14.2857142857%;
    max-width: 160px
}

.bt-prolarge-nslider .element-8 {
    width: 12.5%;
    max-width: 140px
}

.bt-nprolarge-slider .element-1 {
    width: 100%
}

.bt-nprolarge-slider .element-2 {
    width: 50%
}

.bt-nprolarge-slider .element-3 {
    width: 33.3333333333%
}

.bt-nprolarge-slider .element-4 {
    width: 25%;
    max-width: 280px
}

.bt-nprolarge-slider .element-5 {
    width: 20%;
    max-width: 224px
}

.bt-nprolarge-slider .element-6 {
    width: 16.6666666667%;
    max-width: 186px
}

.bt-nprolarge-slider .element-7 {
    width: 14.2857142857%;
    max-width: 160px
}

.bt-nprolarge-slider .element-8 {
    width: 12.5%;
    max-width: 140px
}

.bt-nprolarge-nslider .element-1 {
    width: 100%
}

.bt-nprolarge-nslider .element-2 {
    width: 50%
}

.bt-nprolarge-nslider .element-3 {
    width: 33.3333333333%
}

.bt-nprolarge-nslider .element-4 {
    width: 25%;
    max-width: 280px
}

.bt-nprolarge-nslider .element-5 {
    width: 20%;
    max-width: 224px
}

.bt-nprolarge-nslider .element-6 {
    width: 16.6666666667%;
    max-width: 186px
}

.bt-nprolarge-nslider .element-7 {
    width: 14.2857142857%;
    max-width: 160px
}

.bt-nprolarge-nslider .element-8 {
    width: 12.5%;
    max-width: 140px
}

.bt-column .bt-item-extra {
    width: 100%
}

.bt-item .image img {
    max-width: 100%
}

.bt-item {
    max-width: 310px;
    border: none
}

#back_top {
    bottom: 35px;
    display: none;
    padding: 4px;
    right: 10px;
    transition: all .3s ease-out 0;
    z-index: 9998
}

#back_top b,
.bt-item:hover~.heart-box,
.product-layout:hover~.heart-box,
.sale-label {
    display: block
}

#back_top span {
    background: #d0d0d0;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: block;
    width: 45px;
    height: 45px;
    font-size: 24px;
    padding-top: 2px;
    color: #fff;
    transition: background .3s, color .2s;
    -webkit-transition: background .3s, color .2s;
    -moz-transition: background .3s, color .2s
}

#back_top i {
    font-size: 18px;
    line-height: 16px
}

#back_top b {
    font-size: 11px;
    line-height: 11px
}

#back_top:hover span {
    background: #b59b8a;
    border-color: #b59b8a
}

#back_top:hover span i {
    color: #fff
}

.boxedcontainer {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px
}

.bootstrap-datetimepicker-widget .timepicker a[data-action] {
    background: #ddd;
    border: none;
    color: #333;
    height: auto;
    padding: 0
}

.bootstrap-datetimepicker-widget .timepicker td span {
    margin: 0;
    top: 0;
    border-radius: 0
}

.bootstrap-datetimepicker-widget .timepicker button[data-action] {
    background: 0 0;
    color: #333;
    padding: 0;
    border: none
}

.modal-dialog {
    max-width: 1000px;
    width: 90%
}

.new-box,
.sale-box,
.sale-label {
    position: absolute;
    text-align: center;
    width: 75px
}

#b_parallax {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    height: 600px;
    margin: 0 auto;
    padding: 0
}

.scroll-left {
    height: 300px;
    overflow-y: scroll
}

.box .box-content .box-category .nav_sub_submenu ul li a {
    font-size: 13px !important
}

.box .box-content .box-category .nav_title>img {
    margin-top: -8px !important
}

#bt_footer,
.boss-blog-featured {
    padding: 0 5% !important
}

.sale-label {
    background-color: #E8114A;
    color: #fff;
    z-index: 1
}

.new-box,
.sale-box {
    font-size: 13px;
    font-weight: 400;
    right: 0;
    top: 0;
    z-index: 0
}

.btn-primary-custom,
.btn-primary-location {
    background-color: #5cb85c !important;
    background-image: none;
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    font-size: 12px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05)
}

.nav-login>li.active {
    border-bottom: 2px solid #390;
    font-weight: bolder
}

.btn-primary-custom {
    border-color: #4cae4c !important;
    padding: 7.5px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 80%
}

.img_city {
    padding: 10px;
    border-radius: 25px
}

.product-thumb-custom {
    float: left;
    width: 33%
}

.model-body-city {
    float: left;
    width: 100%
}

.top_left_location {
    padding-top: 10px;
    padding-left: 10px;
    width: auto
}

.btn-primary-location {
    border-color: #4cae4c !important;
    padding: 7.5px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 30%
}

.agree b,
.forgotten {
    color: #5CB85C
}

#modal-quicksignIn .form-control {
    width: 100%
}

.custom-hr {
    margin: 15px 0 0
}

.custom-margin-1 {
    margin-left: 8.33333333%
}

.custom-margin-2 {
    margin-left: 16.66666667%
}

.custom-margin-3 {
    margin-left: 25%
}

.andriodIosContainer {
    background: #f9f0ed
}

.andriodIosImg img {
    float: right
}

.andriodIosBtn {
    margin-top: 6%;
    word-spacing: 2px;
    font-family: apercuBoldItalic, 'Open Sans';
    padding: 0 25px 10px
}

.andriodIosBtn h2 {
    padding: 0 0 25px;
    font-family: apercuMono
}

.andriodIosBtn p {
    padding: 0 0 10px 0px;
    font-family: apercuMono
}

.btn-primary-andriodIOS {
    border-color: #000 !important;
    color: #000 !important;
    font-family: apercuBold;
    font-weight: 700;
    font-size: 13px
}

.bt-item-selected,
.bt-item:hover,
.product-layout:hover {
    border: 1px solid #ddd
}

#input-search {
    float: left;
    margin-right: 10px
}

.product-layout-list {
    width: 25% !important
}

.heart-box,
.heart-box-pink {
    font-size: 13px;
    font-weight: 400;
    position: absolute;
    left: 0;
    text-align: left;
    top: 0;
    width: 75px;
    z-index: 0;
    padding: 0 0 0 10px
}

.heart-box {
    display: none
}

.heart-box-pink {
    color: #E8114A
}

.decrease,
.increase {
    background: #fff;
    border: 1px solid #eee
}

.decrease:hover,
.increase:hover {
    background: #390;
    color: #fff;
    border: 1px solid #000
}

#payment_address_form>.select-input>.col-xs-5,
#payment_address_form>.text-input>.col-xs-5 {
    width: 25% !important
}

#relatedProdutsWrapper .caroufredsel_wrapper {
    height: 308px !important
}

.bt-home-page .bt-product-grid .caroufredsel_wrapper {
    width: auto !important
}

.mega-menu {
    padding: 19px 0 0 !important
}