<?php echo $header; ?>
<div class="bt-breadcrumb">
<div class="container">
  <ul class="breadcrumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
      <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
    <?php } ?>
  </ul>
  </div>
</div>
<div class="container-fluid container">
	<div class="">
		<?php 
		  echo $column_left; 
		  echo $column_right;
		  if ($column_left && $column_right) {
			$class = 'col-sm-6';
		  } elseif ($column_left || $column_right) {
			$class = 'col-sm-9';
		  } else {
			$class = 'col-sm-12';
		  } 
		?>
		<div id="content" class="background-white form-horizontal <?php echo $class; ?>">
				
			<?php echo $content_top; ?>
			
			<h2 class="accountTitle">
				<?php echo $heading_title; ?>						
			</h2>
			
			<div class="content_bg">
				
				<fieldset class="accountDiv">				
					<?php 
					if ($downloads) { ?>
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<td class="text-right"><?php echo $column_order_id; ?></td>
									<td class="text-left"><?php echo $column_name; ?></td>
									<td class="text-left"><?php echo $column_size; ?></td>
									<td class="text-left"><?php echo $column_date_added; ?></td>
									<td></td>
								</tr>
							</thead>
							<tbody>
								<?php 
								foreach ($downloads as $download) { ?>
									<tr>
										<td class="text-right"><?php echo $download['order_id']; ?></td>
										<td class="text-left"><?php echo $download['name']; ?></td>
										<td class="text-left"><?php echo $download['size']; ?></td>
										<td class="text-left"><?php echo $download['date_added']; ?></td>
										<td><a href="<?php echo $download['href']; ?>" data-toggle="tooltip" title="<?php echo $button_download; ?>" class="btn btn-primary"><i class="fa fa-cloud-download"></i></a></td>
									</tr>
								<?php 
								} ?>
							</tbody>
						</table>
						<div class="row">
							<div class="col-sm-6 text-left"><?php echo $pagination; ?></div>
							<div class="col-sm-6 text-right"><?php echo $results; ?></div>
						</div>
					<?php 
					} else { ?>
						<p style="text-align: center; padding: 13px; margin: 0;"><?php echo $text_empty; ?></p>
					<?php 
					} ?>
				</fieldset>
				</br>
				<div class="buttons clearfix">
					<div class="pull-right"><a href="<?php echo $continue; ?>" class="btn btn-primary"><?php echo $button_continue; ?></a></div>
				</div>
			</div>
			<?php echo $content_bottom; ?>
		</div>
	</div>
</div>
<?php echo $footer; ?>