<?php 
echo $header;
$column_left = trim($column_left);
$column_right = trim($column_right);
if ($column_left || $column_right) {
    ?>
    <div class="container left-menucategory-fixed">
        <div class="row">
            <?php
        }
        echo $column_left;
        echo $column_right;
        if ($column_left && $column_right) {
            ?>
            <div id="content" class="col-sm-6">
            <?php } else if ($column_left || $column_right) {
                ?>
                <div id="content" class="col-sm-9">
                <?php } else { ?>
                    <div class="row">
                        <div  class="col-sm-1 col-sm-rtl"></div>
                        <div id="content" class="col-sm-10 col-sm-rtl StoreDiv">
                        <?php } ?>
                        <?php if ($categories) { ?>
                            <div class="bt-box bt-box-store">
                                <div id="submenu">
                                    <div class="box-content">
                                        <div class="submenu-inside bxcslider">
                                            <?php
                                            foreach ($categories as $category) {
                                               
												if(isset($category['children'])) { ?>
												
												<dl class="col-md-3 cate-list-item<?php echo($category['children']) ? ' submenu' : ''; ?>">
													
												<?php } else { ?>
												
												<dl class="col-md-3 cate-list-item submenu">												
												<?php }	?>											
                                                
                                                    <dt class="cate-name">
                                                        <a href="<?php echo $category['href']; ?>" <?php if((isset($category_id)) && ($category['category_id'] == $category_id)) { echo 'class="active"'; } ?> style="background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(20, 20, 20, 0.5)), url(<?php echo $category['image'] ?>)"><?php echo $category['name']; ?></a>
                                                    </dt>
                                                </dl>
                                            <?php } ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <?php } ?>

                        <?php
                        echo $content_top;
						?>
						<?php if ($products) {  ?>
							<div class="text-center">
								<div class="products">
									<?php foreach ($products as $product) {?>
										<div class="product" id="<?php echo $product['product_id']; ?>">
											<div class="image">
												<?php  
												$existInList = false;
												if(isset($_SESSION['default']['wishlist'])){
												foreach ($_SESSION['default']['wishlist'] as $key => $value) {
													if ($value[0] == $product['product_id'] && $value[2] == $seller_id) {
														$existInList = true;
													}
												}
												}
												if ($existInList) {
													unset($this->session->data['wishlist'][$index]);
												}
												if($existInList) {
												?>
													<div class="heart-box-pink" id="heart<?php echo $product['product_id']; ?>">
														<div class="heart-label">
															<a class="wishlist1" onclick="wishlist_remove('<?php echo $product['product_id']; ?>',<?php echo $seller_id?>); changeHeart('<?php echo $product['product_id']; ?>',<?php echo $seller_id?>)">
															<i class="fa fa-heart" style="color:#E8114A"></i>
															</a>
														</div>
													</div>
												<?php } else{ ?>
													<div class="heart-box" id="heart<?php echo $product['product_id']; ?>">
														<div class="heart-label">
															<a class="wishlist1" onclick="wishlist_cat_add('<?php echo $product['product_id']; ?>',<?php echo $seller_id?>)"><i class="fa fa-heart"></i></a>
														</div>
													</div>
												<?php } ?>
												<div class="btn-quickshop">
													<button title="Quick View" onclick="getModalContent(<?php echo $product['product_id']?>,<?php echo $seller_id?> , '1');" class="sft_quickshop_icon " data-toggle="modal" data-target="#myModal"><i class="fa fa-eye"></i></button>
												</div>
												<a id="<?php //echo $product['href']; ?>" href="javascript:void(0)"><img class="img-responsive" src="<?php echo $product['thumb']; ?>" alt="<?php echo properName($product['name']); ?>" title="<?php echo properName($product['name']); ?>"></a>
											</div>

											<h3><?php echo getItemName($product['name'],30); ?></h3>											
											<?php if ($product['price']):
												if (!$product['special']) { ?>
													<p><?php echo $product['price']; ?></p>
												<?php } else { ?>
													<p>
														<?php echo $product['special']; ?>
														<?php if ($product['price']) { ?>
															<p class="oldPrice"><?php echo $product['price']; ?></p>
														<?php } ?>
													</p>
												<?php }
												if ($product['tax']) { ?>
													<p class="oldPrice">
														<?php echo $text_tax; ?>
														<?php if ($product['tax']) { ?>
															<p><?php echo $product['tax']; ?></p>
														<?php } ?>
													</p>
												<?php } ?>
											<?php endif ?>

											<div id="pro_div_id_<?php echo $product['product_id']?>">
												<?php  
												if (count($data['product_data']['cart_data'])):
													$count = 0;
													foreach ($data['product_data']['cart_data'] as $key => $value):
														if (($value['product_id'] == $product['product_id']) && ($value['seller_id'] == $seller_id)):
															$count = 1;
															$quantity = $value['quantity'];
															$cart_id = $value['cart_id'];
															break;
														endif;
													endforeach;
													if ($count == 1): ?>
														<div style='position:relative'>
															<a href="javascript:void(0)"><input  onchange="update_cart_data_home('<?php echo $cart_id; ?>', '<?php echo 'select-number'.$cart_id;?>');" id="select-number<?php echo $cart_id; ?>" disabled value="<?php echo $quantity; ?>"/></a>
															<a style='position:absolute;left: 40px;top: 24px;color: white' onclick="changeQty('<?php echo 'select-number'.$cart_id;?>',0); return false;" class="decrease" href="javascript:void(0)">_</a>
															<a style='position:absolute;right: 40px;top: 31px;color: white' onclick="changeQty('<?php echo 'select-number'.$cart_id;?>',1); return false;" class="increase" href="javascript:void(0)">+</a>
														</div>
													<?php else: ?>
														<?php if($product['options']){ ?>
															<a href="javascript:void(0)" id="custom" onclick="getModalContent(<?php echo $product['product_id']?>,<?php echo $seller_id?>, '0');" data-toggle="modal" data-target="#myModal"><button><?php echo $button_cart; ?></button></a>
														<?php } else { ?>
															<a href="javascript:void(0)" id="custom" onclick="btadd.cart('<?php echo $product['product_id']; ?>', '<?php echo $product['minimum']; ?>','<?php echo $seller_id; ?>');"><button><?php echo $button_cart; ?></button></a>
														<?php } ?>
													<?php endif ?>
												<?php else: ?>
													<?php if($product['options']){ ?>
														<a href="javascript:void(0)" id="custom" onclick="getModalContent(<?php echo $product['product_id']?>,<?php echo $seller_id?>, '0');" data-toggle="modal" data-target="#myModal"><button><?php echo $button_cart; ?></button></a>
													<?php } else { ?>
														<a href="javascript:void(0)" id="custom" onclick="btadd.cart('<?php echo $product['product_id']; ?>', '<?php echo $product['minimum']; ?>','<?php echo $seller_id; ?>');"><button><?php echo $button_cart; ?></button></a>
													<?php } ?>
												<?php endif ?>
											</div>
										</div>
									<?php } ?>
								</div>
							</div>
						<?php } ?>
						<?php 
                        if ($column_left && $column_right) {
						?>
						</div>
						<?php } else if ($column_left || $column_right) { ?>
					</div>
					<?php } else { ?>
                </div>
			</div> 
            <?php
        }
        if ($column_left || $column_right) {
            ?>
        </div></div>
<?php } ?>

<div class="weAreWithYou">      		
	<div class="container">				
		<a href="https://itunes.apple.com/st/app/salatty/id1200691958?mt=8" target="_blank"><img class="img-responsive" src="catalog/view/theme/careeb/img/apple.png"></a>        		<a href="https://play.google.com/store/apps/details?id=com.rs.careebstore&amp;hl=en" target="_blank"><img class="img-responsive" src="catalog/view/theme/careeb/img/googlePlay.png"></a>      	
	</div>
</div>

<?php echo $content_bottom; ?>


<script type="text/javascript"><!--
$(document).ready(function ($) {
        $('.bxcslider').bxSlider({
            onSliderLoad: function () {
                $(".bt-box-store").css("visibility", "visible");
            },
            slideWidth: 310,
            captions: false,
            maxSlides: 4,
            moveSlides: 4,
            slideMargin: 5,
            responsive: true,
            infiniteLoop: false
        });
    });
//--></script>

<?php echo $footer; ?>