<?php echo $header; ?>
<div class="bt-breadcrumb">
<div class="container">
  <ul class="breadcrumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
      <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
    <?php } ?>
  </ul>
  </div>
</div>
<div class="container">

  <div class="row"><?php 
      echo $column_left; 
      echo $column_right;
      if ($column_left && $column_right) {
        $class = 'col-sm-6';
      } elseif ($column_left || $column_right) {
        $class = 'col-sm-9';
      } else {
        $class = 'col-sm-12';
      } 
    ?>
    <div id="content" class="background-white <?php echo $class; ?>"><?php echo $content_top; ?>

	  <div class="content_bg">

      <p><?php echo $text_balance; ?> <strong><?php echo $balance; ?></strong>.</p>

      <div class="table-responsive">

        <table class="table table-striped table-bordered table-hover">

          <thead>

            <tr>

              <td class="text-left"><?php echo $column_date_added; ?></td>

              <td class="text-left"><?php echo $column_description; ?></td>

              <td class="text-right"><?php echo $column_amount; ?></td>

            </tr>

          </thead>

          <tbody>

            <?php if ($transactions) { ?>

            <?php foreach ($transactions  as $transaction) { ?>

            <tr>

              <td class="text-left"><?php echo $transaction['date_added']; ?></td>

              <td class="text-left"><?php echo $transaction['description']; ?></td>

              <td class="text-right"><?php echo $transaction['amount']; ?></td>

            </tr>

            <?php } ?>

            <?php } else { ?>

            <tr>

              <td class="text-center" colspan="5"><?php echo $text_empty; ?></td>

            </tr>

            <?php } ?>

          </tbody>

        </table>

      </div>

      <div class="text-right"><?php echo $pagination; ?></div>

      <div class="buttons clearfix">

        <div class="pull-right"><a href="<?php echo $continue; ?>" class="btn btn-primary"><?php echo $button_continue; ?></a></div>

      </div>

      <?php echo $content_bottom; ?></div></div>

    </div>

</div>

<?php echo $footer; ?>