<div class="modal-dialog" style="width: 100%;max-width: 900px;">

<div class="modal-content">



<div class="modal-body">

<button type="button" class="close" title="<?php echo $text_hover_remove; ?>" data-dismiss="modal" aria-hidden="true">&times;</button>

<div id="notification"></div>

<div id="content">

  <div class="product-info product-info-qs">

      <div class="row">

      <div class="col-sm-2">

      	<?php if ($images) { ?>

			<div class="image-additional">

				<ul id="boss-image-additionalqs"><?php foreach ($images as $image) { ?><li ><a  href="<?php echo $image['popup']; ?>" title="<?php echo $heading_title; ?>" class="cloud-zoom-gallery" rel="useZoom: 'zoomqs', smallImage: '<?php echo $image['thumb']; ?>' "><img src="<?php echo $image['addition']; ?>"  title="<?php echo $heading_title; ?>" alt="<?php echo $heading_title; ?>" /></a></li><?php } ?></ul> 

			</div>	

			<?php } ?>

      </div>

        <div class="col-sm-4">

		  <div class="bt-product-zoom">

		  <?php if ($thumb || $images) { ?>

			<?php if ($thumb) { ?>

			<div class="image"><a href="<?php echo $popup; ?>" title="<?php echo $heading_title; ?>" class="cloud-zoom" id='zoomqs' rel=""><img src="<?php echo $thumb; ?>" title="<?php echo $heading_title; ?>" alt="<?php echo $heading_title; ?>" id="image" /></a>			

			</div>

			<?php } ?>

		

		<?php } ?>

		  </div>

        </div>

        <div class="col-sm-6">

          <h1><?php echo $heading_title; ?></h1>

 

			  <?php if ($price) { ?>

			  <div class="price_info">

				<?php if (!$special) { ?>

				<span><?php echo $price; ?></span>

				<?php } else { ?>

				<span class="price-new"><?php echo $special; ?></span>

				<span class="price-old"><?php echo $price; ?></span>

				<?php } ?>

				<?php if ($tax) { ?>

				<span class="price-tax"><?php echo $text_tax; ?> <?php echo $tax; ?></span>

				<?php } ?>

				<?php if ($points) { ?>

				<br/><br/><p><?php echo $text_points; ?> <?php echo $points; ?></p>

				<?php } ?>

				<?php if ($discounts) { ?>

				<?php foreach ($discounts as $discount) { ?>

				<p><?php echo $discount['quantity']; ?><?php echo $text_discount; ?><?php echo $discount['price']; ?></p>

				<?php } ?>

				<?php } ?>
                  <!--<div class="alert-danger alert-custom vat-included"> <?php echo  $text_vat_included; ?></div>-->
			  </div>

			  <?php } ?>

          <ul class="list-unstyled description">

            <?php if ($manufacturer) { ?>

            <li><?php echo $text_manufacturer; ?> <a href="<?php echo $manufacturers; ?>"><?php echo $manufacturer; ?></a></li>

            <?php } ?>

            <li><?php echo $text_model; ?> <?php echo $model; ?></li>

            <?php if ($reward) { ?>

            <li><?php echo $text_reward; ?> <?php echo $reward; ?></li>

            <?php } ?>

            <li><?php echo $text_stock; ?> <?php echo $stock; ?></li>

            

             <li id="mores" style="display:block;"><?php echo $tab_description; ?> <?php



               if (strlen($description) <= 200)

              {

                echo $description;

              }

              elseif (strlen($description) > 200)

              {

                $desc = str_replace('&nbsp;', '', $description); 

                $desctrim = trim($desc);                 

                if (strlen($desctrim) > 0) 

                {

                echo(substr($desctrim, 0, 200));?>

              <a href="javascript:showMore()" id="link" style="color:#339900 !important;"><?php echo $text_read_more; ?></a>  

              <?php } 

               } ?>

              </li>

             <div id="more" style="display:none;">

               <?php echo $tab_description; ?> <?php echo $description;?>

             </div>

             

          </ul>

		  <?php if ($options || $recurrings) { ?>

          <div id="product">

            <?php if ($options) { ?>

            <h2><?php echo $text_option; ?></h2>

            <?php foreach ($options as $option) { ?>

            <?php if ($option['type'] == 'select') { ?>

            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">

              <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>

              <select name="option[<?php echo $option['product_option_id']; ?>]" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control selectpicker">

                <option value=""><?php echo $text_select; ?></option>

                <?php foreach ($option['product_option_value'] as $option_value) { ?>

                <option value="<?php echo $option_value['product_option_value_id']; ?>"><?php echo $option_value['name']; ?>

                <?php if ($option_value['price']) { ?>

                (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)

                <?php } ?>

                </option>

                <?php } ?>

              </select>

            </div>

            <?php } ?>

            <?php if ($option['type'] == 'radio') { ?>

			<div class="row">

            <div class="col-sm-6 col-xs-12 form-group<?php echo ($option['required'] ? ' required' : ''); ?>">

              <label class="control-label"><?php echo $option['name']; ?></label>

              <div id="input-option<?php echo $option['product_option_id']; ?>">

                <?php foreach ($option['product_option_value'] as $option_value) { ?>

                <div class="radio">

                  <label>

                    <input type="radio" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option_value['product_option_value_id']; ?>" />

                    <?php echo $option_value['name']; ?>

                    <?php if ($option_value['price']) { ?>

                    (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)

                    <?php } ?>

                  </label>

                </div>

                <?php } ?>

              </div>

            </div>

            <?php } ?>

            <?php if ($option['type'] == 'checkbox') { ?>

            <div class="col-sm-6 col-xs-12 form-group<?php echo ($option['required'] ? ' required' : ''); ?>">

              <label class="control-label"><?php echo $option['name']; ?></label>

              <div id="input-option<?php echo $option['product_option_id']; ?>">

                <?php foreach ($option['product_option_value'] as $option_value) { ?>

                <div class="checkbox">

                  <label>

                    <input type="checkbox" name="option[<?php echo $option['product_option_id']; ?>][]" value="<?php echo $option_value['product_option_value_id']; ?>" />

                    <?php echo $option_value['name']; ?>

                    <?php if ($option_value['price']) { ?>

                    (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)

                    <?php } ?>

                  </label>

                </div>

                <?php } ?>

              </div>

            </div>

			</div>

            <?php } ?>

            <?php if ($option['type'] == 'image') { ?>

            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">

              <label class="control-label"><?php echo $option['name']; ?></label>

              <div id="input-option<?php echo $option['product_option_id']; ?>">

                <?php foreach ($option['product_option_value'] as $option_value) { ?>

                <div class="radio">

                  <label>

                    <input type="radio" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option_value['product_option_value_id']; ?>" />

                    <img src="<?php echo $option_value['image']; ?>" alt="<?php echo $option_value['name'] . ($option_value['price'] ? ' ' . $option_value['price_prefix'] . $option_value['price'] : ''); ?>" class="img-thumbnail" /> <?php echo $option_value['name']; ?>

                    <?php if ($option_value['price']) { ?>

                    (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)

                    <?php } ?>

                  </label>

                </div>

                <?php } ?>

              </div>

            </div>

            <?php } ?>

            <?php if ($option['type'] == 'text') { ?>

            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">

              <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>

              <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['value']; ?>" placeholder="<?php echo $option['name']; ?>" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control" />

            </div>

            <?php } ?>

            <?php if ($option['type'] == 'textarea') { ?>

            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">

              <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>

              <textarea name="option[<?php echo $option['product_option_id']; ?>]" rows="5" placeholder="<?php echo $option['name']; ?>" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control"><?php echo $option['value']; ?></textarea>

            </div>

            <?php } ?>

            <?php if ($option['type'] == 'file') { ?>

            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">

              <label class="control-label"><?php echo $option['name']; ?></label>

              <button type="button" id="button-upload<?php echo $option['product_option_id']; ?>" data-loading-text="<?php echo $text_loading; ?>" class="btn btn-default btn-block btn-upload"><i class="fa fa-upload"></i> <?php echo $button_upload; ?></button>

              <input type="hidden" name="option[<?php echo $option['product_option_id']; ?>]" value="" id="input-option<?php echo $option['product_option_id']; ?>" />

            </div>

            <?php } ?>

            <?php if ($option['type'] == 'date') { ?>

            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">

              <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>

              <div class="input-group date">

                <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['value']; ?>" data-date-format="YYYY-MM-DD" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control" />

                <span class="input-group-btn">

                <button class="btn-default" type="button"><i class="fa fa-calendar"></i></button>

                </span></div>

            </div>

            <?php } ?>

            <?php if ($option['type'] == 'datetime') { ?>

            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">

              <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>

              <div class="input-group datetime">

                <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['value']; ?>" data-date-format="YYYY-MM-DD HH:mm" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control" />

                <span class="input-group-btn">

                <button type="button" class="btn-default"><i class="fa fa-calendar"></i></button>

                </span></div>

            </div>

            <?php } ?>

            <?php if ($option['type'] == 'time') { ?>

            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">

              <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>

              <div class="input-group time">

                <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['value']; ?>" data-date-format="HH:mm" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control" />

                <span class="input-group-btn">

                <button type="button" class="btn-default"><i class="fa fa-calendar"></i></button>

                </span></div>

            </div>

            <?php } ?>

            <?php } ?>

            <?php } ?>

            <?php if ($recurrings) { ?>

            <hr>

            <h3><?php echo $text_payment_recurring ?></h3>

            <div class="form-group required">

              <select name="recurring_id" class="form-control selectpicker">

                <option value=""><?php echo $text_select; ?></option>

                <?php foreach ($recurrings as $recurring) { ?>

                <option value="<?php echo $recurring['recurring_id'] ?>"><?php echo $recurring['name'] ?></option>

                <?php } ?>

              </select>

              <div class="help-block" id="recurring-description"></div>

            </div>

            <?php } ?>

          </div>

		  <?php } ?>

            <div class="form-group">

				<label class="control-label" for="input-quantity"><?php echo $entry_qty; ?></label>

				<div class="select_number">                

					<input type="text" class="text form-control" name="quantity" size="2" id="input-quantity" value="<?php echo $minimum; ?>" />

					<button onclick="changeQty(1); return false;" class="increase"><i class="fa fa-angle-up"></i></button>

                    <button onclick="changeQty(0); return false;" class="decrease"><i class="fa fa-angle-down"></i></button>  

				</div>

			<div class="cart_button">	

			  <button type="button" id="button-cart-qs" data-loading-text="<?php echo $text_loading; ?>" class="btn button_cart"><?php echo $button_cart; ?></button>

			</div>  

          <div class="btn-group">

            <button type="button" data-toggle="tooltip" class="btn-wishlist" title="<?php echo $button_wishlist; ?>" onclick="wishlist_cat_add('<?php echo $product_id; ?>','<?php echo $seller_id; ?>')""><i class="fa fa-heart"></i></button>

            <!--<button type="button" data-toggle="tooltip" class="btn-compare" title="<?php echo $button_compare; ?>" onclick="btadd.compare('<?php echo $product_id; ?>');"><i class="fa fa-retweet"></i></button>-->

          </div>

              <input type="hidden" name="product_id" value="<?php echo $product_id; ?>" />
              <input type="hidden" name="seller_id" value="<?php echo $seller_id; ?>" />

				<?php if ($minimum > 1) { ?>

				<div class="alert alert-info"><i class="fa fa-info-circle"></i> <?php echo $text_minimum; ?></div>

				<?php } ?>	

          

        </div>

       

      </div>	  

      </div>

      <div class="col-sm-12"> <!-- Related Products-->

      

       <?php if ($products) { ?>

	  <div class="product-related">

		<h2 class="title_heading title_heading_custom"><span><?php echo $text_related; ?></span></h2>

		<div class="carousel-button">

			<a id="prev_related_qView" class="prev nav_thumb" href="javascript:void(0)" style="display:block;" title="prev"><i title="Previous" class="fa fa-chevron-left">&nbsp;</i></a>

			<a id="next_related_qView" class="next nav_thumb" href="javascript:void(0)" style="display:block;" title="next"><i title="Next" class="fa fa-chevron-right">&nbsp;</i></a>

		</div>

		<div class="list_carousel responsive" id="relatedProdutsWrapper">

			<ul id="product_related_qView" class="content-products"><?php foreach ($products as $product) { ?><li>				

			<div class="product-thumb transition">

            <div class="image"><img src="<?php echo $product['thumb']; ?>" alt="<?php echo properName($product['name']); ?>" title="<?php echo properName($product['name']); ?>" />	

			</div>

            <div class="small_detail">

              <div class="name"><a href="javascript:void(0)" onclick="getModalContent(<?php echo $product['product_id']; ?>,<?php echo $seller_id; ?>);"><?php echo properName($product['name']); ?></a></div>

              <p class="description"><?php echo $product['description']; ?></p>

              <?php if ($product['rating']) { ?>

              <div class="rating">

                <?php for ($i = 1; $i <= 5; $i++) { ?>

                <?php if ($product['rating'] < $i) { ?>

                <span class="fa fa-stack fa-hidden"><i class="fa fa-star fa-stack-2x"></i></span>

                <?php } else { ?>

                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>

                <?php } ?>

                <?php } ?>

              </div>

              <?php } ?>

              <?php if ($product['price']) { ?>

              <p class="price">

                <?php if (!$product['special']) { ?>

                <?php echo $product['price']; ?>

                <?php } else { ?>

                <span class="price-new"><?php echo $product['special']; ?></span> <span class="price-old"><?php echo $product['price']; ?></span>

                <?php } ?>

                <?php if ($product['tax']) { ?>

                <span class="price-tax"><?php echo $text_tax; ?> <?php echo $product['tax']; ?></span>

                <?php } ?>

              </p>

              <?php } ?>

          </div>	

            <div class="button-group">

              <button type="button" class="btn-cart" onclick="btadd.cart('<?php echo $product['product_id']; ?>', '<?php echo $product['minimum']; ?>');"><span class="hidden-xs hidden-sm hidden-md"><?php echo $button_cart; ?></span></button>

              <button type="button" class="btn-wishlist" data-toggle="tooltip" title="<?php echo $button_wishlist; ?>" onclick="wishlist_cat_add('<?php echo $product['product_id']; ?>');"></button>

              <button type="button" class="btn-compare" data-toggle="tooltip" title="<?php echo $button_compare; ?>" onclick="btadd.compare('<?php echo $product['product_id']; ?>');"></button>

            </div>

          </div>

        </li><?php } ?></ul>    

      </div>

      </div>

      <?php } ?>

</div>	<!-- Related Products-->

  

</div>

<script src="catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js" type="text/javascript"></script>

<script src="catalog/view/javascript/jquery/datetimepicker/moment.js" type="text/javascript"></script>

<script src="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>

<link href="catalog/view/javascript/jquery/magnific/magnific-popup.css" rel="stylesheet" type="text/css">

<link href="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">



<script type="text/javascript">

function showMore(){

    

    //removes the link

    document.getElementById('mores').style.display = "none";

    //shows the #more

    document.getElementById('more').style.display = "block";

}

</script>





<script type="text/javascript"><!--





$.fn.CloudZoom.defaults = {

	position: 'inside',

	tint: '#ffffff',

	tintOpacity: 0.5,

	lensOpacity: 0.5,

	softFocus: false,

	smoothMove: 3,

	showTitle: false,

	titleOpacity: 0.5,

	adjustX: 0,

	adjustY: 0

};

$('.cloud-zoom, .cloud-zoom-gallery').CloudZoom();

function changeQty(increase) {

    var qty = parseInt($('.product-info-qs .select_number').find("input").val());

    if ( !isNaN(qty) ) {

        qty = increase ? qty+1 : (qty > <?php echo $minimum; ?> ? qty-1 : <?php echo $minimum; ?>);

        $('.product-info-qs .select_number').find("input").val(qty);

    }else{

		$('.product-info-qs .select_number').find("input").val(1);

	}

}	



	

$('.product-info-qs select[name="profile_id"], .product-info-qs input[name="quantity"]').change(function(){

    $.ajax({

		url: 'index.php?route=product/product/getRecurringDescription',

		type: 'post',

		data: $('.product-info-qs input[name="product_id"], .product-info-qs input[name="quantity"], .product-info-qs select[name="profile_id"]'),

		dataType: 'json',

        beforeSend: function() {

            $('.product-info-qs #profile-description').html('');

        },

		success: function(json) {

			$('.success, .warning, .attention, information, .error').remove();

            

			if (json['success']) {

                $('.product-info-qs #profile-description').html(json['success']);

			}	

		}

	});

});

    

$('#button-cart-qs').bind('click', function() {
	$.ajax({

		url: 'index.php?route=bossthemes/boss_add/cart',

		type: 'post',

		data: $('.product-info-qs input[type=\'text\'], .product-info-qs input[type=\'hidden\'], .product-info-qs input[type=\'radio\']:checked, .product-info-qs input[type=\'checkbox\']:checked, .product-info-qs select, .product-info-qs textarea'),

		dataType: 'json',

		success: function(json) {

			$('.alert, .text-danger').remove();

			$('.form-group').removeClass('has-error');



			if (json['error']) {

				if (json['error']['option']) {

					for (i in json['error']['option']) {

						var element = $('#input-option' + i.replace('_', '-'));

						

						if (element.parent().hasClass('input-group')) {

							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');

						} else {

							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');

						}

					}

				}

				

				if (json['error']['recurring']) {

					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');

				}

				

				// Highlight any found errors

				$('.text-danger').parent().addClass('has-error');

			}

			

			if (json['success']) {
//if(json['next_day_delivery_active'] == 1){
//      alert('Delivery: This product will deliver tomorrow');
//     } 
				addProductNotice(json['title'], json['thumb'], json['success']+ "<br><br>" + json['msg'], 'success');

				

				$('.b-cart-total').html(json['total']);

				

				$('.b-cart > ul').load('index.php?route=common/cart/info ul li');

				$('#myModal').modal('hide');

			}

		}

	});

}); 

//--></script>	



<script type="text/javascript"><!--

$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){

	$.ajax({

		url: 'index.php?route=product/product/getRecurringDescription',

		type: 'post',

		data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),

		dataType: 'json',

		beforeSend: function() {

			$('#recurring-descriptionqs').html('');

		},

		success: function(json) {

			$('.alert, .text-danger').remove();

			

			if (json['success']) {

				$('#recurring-descriptionqs').html(json['success']);

			}

		}

	});

});

//--></script> 

<script type="text/javascript"><!--







$('.date').datetimepicker({

	pickTime: false

});



$('.datetime').datetimepicker({

	pickDate: true,

	pickTime: true

});



$('.time').datetimepicker({

	pickDate: false

});





$('button[id^=\'button-upload\']').on('click', function() {

	var node = this;



	$('#form-upload').remove();



	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');



	$('#form-upload input[name=\'file\']').trigger('click');



	if (typeof timer != 'undefined') {

    	clearInterval(timer);

	}



	timer = setInterval(function() {

		if ($('#form-upload input[name=\'file\']').val() != '') {

			clearInterval(timer);



			$.ajax({

				url: 'index.php?route=tool/upload',

				type: 'post',

				dataType: 'json',

				data: new FormData($('#form-upload')[0]),

				cache: false,

				contentType: false,

				processData: false,

				beforeSend: function() {

					$(node).button('loading');

				},

				complete: function() {

					$(node).button('reset');

				},

				success: function(json) {

					$('.text-danger').remove();



					if (json['error']) {

						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');

					}



					if (json['success']) {

						alert(json['success']);



						$(node).parent().find('input').attr('value', json['code']);

					}

				},

				error: function(xhr, ajaxOptions, thrownError) {

					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);

				}

			});

		}

	}, 500);

});

//--></script> 

<script type="text/javascript" src="catalog/view/javascript/bossthemes/cloud-zoom/cloud-zoom.1.0.3.js"></script>



</div>

</div>

</div>