@font-face{font-family:cairoBold;src:url(fonts/cairo/cairo-bold.ttf);font-weight:700}
@font-face{font-family:cairoBlack;src:url(fonts/cairo/cairo-black.ttf)}
@font-face{font-family:cairoExtraLight;src:url(fonts/cairo/cairo-extraLight.ttf)}
@font-face{font-family:cairoLight;src:url(fonts/cairo/cairo-light.ttf)}
@font-face{font-family:cairoRegular;src:url(fonts/cairo/cairo-regular.ttf)}
@font-face{font-family:cairoSemiBold;src:url(fonts/cairo/cairo-semibold.ttf)}
*{direction:rtl!important;font-family:DIN Next LT Arabic Regular}
body{font-family:cairoRegular}
h1{font-family:cairoBold}
h2{font-family:cairoBold}
h3{font-family:cairoBold}
.form-control{font-family:cairoRegular}
footer h3{font-family:cairoBold}
.box .box-content .boss-menu-cate .nav_title > a{font-family:cairoRegular!important}
.name a{font-family:cairoBold!important}
.top-links ul li a,.top-links ul li span{font-family:cairoRegular!important}
.b-cart .btn-dropdown-cart b{font-family:cairoRegular}
.boss-custom-pro.bt-custom-content .title h3{font-family:cairoBold}
.footer-newletter input.form-control{font-family:cairoSemiBold}
footer a{font-family:cairoRegular}
.breadcrumb > li a{font-family:cairoRegular}
.breadcrumb h2{font-family:cairoBold}
.b_breadcrumb{font-family:cairoBold}
.bt_pagination .links a,.bt_pagination .links span{font-family:cairoRegular}
.btn{font-family:cairoRegular}
.price{font-family:cairoRegular}
.top-links ul li a,.top-links ul li span{font-family:cairoRegular}
.language strong,.currency strong{font-family:cairoRegular}
.language strong b,.currency strong b{font-family:Lato}
.language .dropdown-menu li a span{font-family:cairoRegular}
.currency .dropdown-menu li button{font-family:cairoRegular}
.b-cart .btn-dropdown-cart{font-family:cairoRegular}
.b-cart .btn-dropdown-cart b{font-family:cairoRegular}
.header_category .box .box-heading{font-family:cairoBold}
.box .box-content .boss-menu-cate .nav_title > a{font-family:cairoRegular}
.box .box-content .box-category .nav_sub_submenu > ul > li.nav_cat_parent > a{font-family:cairoBold}
#menu .nav > li > a{font-family:cairoBold}
#menu .see-all{font-family:cairoBold}
.bt-box .box-heading span{font-family:cairoSemiBold}
.bt-box .box-content .boss-alphabet a{font-family:cairoRegular}
#input-sort,#input-limit,.boss-select{font-family:cairoSemiBold}
.btn-cart{font-family:cairoBold}
.category-list h3{font-family:cairoBold}
.category-list ul li a{font-family:cairoSemiBold}
.product-info .price_info span{font-family:cairoSemiBold}
.title_heading{font-family:cairoBold}
.slider select{float:right!important}
.htabs ul li a{font-family:cairoBold}
.compare-info thead td,.compare-info tr td:first-child{font-family:cairoBold}
.cart-info td.product_price button.decrease,.cart-info td.product_price button.increase{font-family:cairoSemiBold}
#collapse-checkout-confirm td thead td{font-family:cairoBold}
.cart-module .panel-default > .panel-heading h4 a{font-family:cairoSemiBold}
.checkout .panel-default > .panel-heading h4,.checkout .panel-default > .panel-heading h4 a{font-family:cairoBold}
.register fieldset h2{font-family:cairoBold}
.bt-account .box-heading{font-family:cairoBold}
h2.title_border{font-family:cairoBold}
.bt-featured-pro .title span{font-family:cairoBold}
.bt-featured-pro.bt-nprolarge-tabs .htabs a{font-family:cairoBold}
.boss-custom-pro.bt-custom-content .title h3{font-family:cairoBold}
.boss-custom-pro.bt-custom-column .title h3{font-family:cairoBold}
.footer-newletter input.form-control{font-family:cairoSemiBold}
.boss_homefilter_tabs .bt-heading h3{font-family:cairoBold}
.popular-cate .box-heading span{font-family:cairoBold}
.popular-cate .box-content .cate-name h3{font-family:cairoBold}
.popular-cate .box-content .cate-des{font-family:cairoRegular}
.popular-cate .box-content .sub_cat .sub_item a{font-family:cairoSemiBold}
.boss_homefilter_tabs .title{font-family:cairoBold}
.boss_homefilter_tabs .tabs-headings.tabs li a{font-family:cairoSemiBold}
.boss-blog-featured .block-heading span{font-family:cairoBold}
.boss-blog-featured .image .time-stamp .time-date{font-family:cairoBold}
.boss-blog-featured .image .time-stamp .time-month{font-family:cairoSemiBold}
.boss-blog-featured .article-name a{font-family:cairoBold}
.boss-blog-featured .time_comment{font-family:cairoSemiBold}
.boss-blog-featured .time_comment a{font-family:cairoSemiBold}
.bt-video .bt_video_text span{font-family:cairoBold}
.bt-video .bt_video_text p{font-family:cairoRegular}
.shipping_return_support > div a{font-family:cairoSemiBold}
.boss-carousel .title{font-family:cairoBold}
.boss-testimonial .box-heading{font-family:cairoBold}
.boss-testimonial .testimonial-content .testimonial-name{font-family:cairoBold}
.boss-testimonial .testimonial-content .testimonial-subject{font-family:cairoBold}
.boss-testimonial .testimonial-content .testimonial-date small{font-family:cairoBold}
.list-testimonials .title{font-family:cairoBold}
.boss_flickr .box-heading span{font-family:cairoBold}
.b_bulk_title{font-family:cairoBold}
.b_bulk_order_ajax table td .price{font-family:cairoSemiBold}
#menu2.navbar .navbar-nav > li > a{font-family:cairoSemiBold}
.mega-menu > ul.nav > li > a{font-family:cairoSemiBold}
.mega-menu > ul.nav > li .dropdown .menu-column h3{font-family:cairoBold}
.mega-menu > ul.nav > li .dropdown .menu-row a.parent{font-family:cairoBold}
.custom-margin-1{margin-right:8.33333333%;margin-left:unset}
.custom-margin-2{margin-right:16.66666667%;margin-left:unset}
.custom-margin-3{margin-right:25%;margin-left:unset}
table td,table th{text-align:right}
#bt_container{overflow:hidden;text-align:right!important}
.top_left,.header_left{float:right!important;padding-right:0}
.top_right,.footer-social,.pull-right{float:left!important;padding-left:0}
.shipping_return_support > div i{margin-right:0;margin-left:15px}
.mega-menu{float:right!important}
.menu-row,.menu-column{float:right;text-align:right}
.mega-menu > ul.nav > li .dropdown .menu-column h3,.html_column1 ul li a,.mega-menu > ul.nav > li .dropdown .menu-row ul.column.category li a{text-align:right}
.mega-menu > ul.nav > li .dropdown .menu-row ul.column li.sub_category i{margin-left:7px}
#search{padding:0 10px 0 0}
.cart.dropdown_cart{border-right:none}
.cart .dropdown-menu,#search .frame_search{right:auto;left:0}
.button-search,#search .frame_search b{right:auto;left:12px}
.language i,.currency i,.mega-menu > ul.nav > li.parent > a i,.top-links ul li a i{margin-right:5px;margin-left:0}
.boss_homefilter_tabs .list-gird{direction:ltr!important;right:auto;left:0}
.popular-cate .box-content.cate-odd .cate-image,.popular-cate .box-content.cate-even .cate-detail{float:right;padding-right:10px;padding-left:35px}
.popular-cate .box-content.cate-odd .cate-detail,.popular-cate .box-content.cate-even .cate-image{float:left;padding-left:10px;padding-right:35px}
.sub_image{margin-left:10px;margin-right:0}
.boss-blog-featured .image .time-stamp{left:auto;right:0}
.newletter-content .boss-newletter .btn{right:auto;left:0}
.footer-social{text-align:left}
.powered-payment ul li + li{margin:0 7px 0 0}
#column-left + #content{padding:0 10px 0 0}
#column-right{float:left;padding:0 10px 0 0}
#column-right + #content{padding:0 10px 0 0}
.breadcrumb{text-align:right}
.breadcrumb h2{float:right;text-align:right}
.breadcrumb > li + li{padding-left:0}
.breadcrumb > li + li:before{margin-right:0;margin-left:10px}
.b_breadcrumb{float:right;text-align:right}
.breadcrumb > li + li::after{margin-right:10px;margin-left:0}
.product-filter .sort,.product-filter .limit{float:left;margin-left:0;margin-right:20px}
.product-filter .compare-total{float:right;margin-right:0;margin-left:20px}
.product-list .product-thumb .image{float:right;margin-right:0;margin-left:30px}
.product-list .small_detail{text-align:right}
.product-list .button-group{float:right}
.btn-wishlist,.btn-compare{margin:0 7px 0 0}
.bt-box .box-heading span:before,.title_heading:before,.register fieldset h2:before{left:auto;right:0}
.box-product .image{float:right}
.box-product .box_item .image,#column-left .box-product .image,#column-right .box-product .image{margin-right:0;margin-left:20px}
.bt-tagcloud .box-content{text-align:right!important}
.product-info .price_info span{float:right;margin-left:20px;margin-right:0}
.product-info .select_number{margin-right:0;margin-left:17px}
.form-horizontal .control-label{text-align:right}
.pull-left{float:right!important}
div.jGrowl div.jGrowl-notification div.jGrowl-message img{float:right;margin-right:0;margin-left:15px}
div.jGrowl div.jGrowl-notification div.jGrowl-message h3{text-align:right}
.cart-info td.thumb_image .image,.wishlist-info td.thumb_image .image{float:right;margin-right:0;margin-left:25px}
.cart-info tbody td.product_price input[type="text"]{margin:0 0 0 7px}
.cart-module .panel-default > .panel-heading h4 a i{float:right;margin-left:10px;margin-right:0}
.cart-module .panel-default .btn,.input-group .form-control{float:right}
.cart-total td.left{text-align:right}
.cart-total td.left b{margin-right:0;margin-left:44px}
.register .newsletter .control-label{float:right}
.radio-inline,.checkbox-inline{padding:0 20px 0 0}
.login-content .button_login,.checkout #accordion #button-login{float:right}
a.forgotten{float:left}
.checkout .panel-default > .panel-heading i{margin-left:10px}
#collapse-checkout-confirm table td.name,.compare-info tr td:first-child,.compare-info td{text-align:right}
.article-layout .product-list .article-image,.boss_block-recent-post .time-stamp{float:right;margin-right:0;margin-left:20px}
.category-list ul{float:right;padding-right:0;padding-left:14px}
#menu{float:left}
.boss-blog-featured .block-content .caroufredsel_wrapper li{text-align:right}
#back_top span{left:20px;right:auto}
.top-links ul li a,.top-links ul li span{text-align:right}
.bootstrap-select .caret{right:auto;left:10px}
.bootstrap-select .filter-option{text-align:right}
.submenu-inside .cate-list-item.submenu dd.sub-cate-list{left:auto;right:120%}
.submenu-inside .cate-list-item.submenu:hover > dd.sub-cate-list{left:auto;right:99.9%}
.submenu-inside .cate-list-item > dd{left:auto;right:100%;margin:0}
.dropdown-menu > li > a,.atm-s a,#at_hover.atm-s a{text-align:right}
div.jGrowl.top-right{right:0;left:0}
.product-info .increase,.product-info .decrease{right:auto;left:0}
.product-related .list_carousel .caroufredsel_wrapper .content-products{direction:ltr!important}
.header_category{float:right}
.header_category .box .box-heading i{margin-right:0;margin-left:28px;float:right}
.header_category .box .box-heading span{float:right}
.box .box-content .boss-menu-cate > li{padding-right:25px}
.box .box-content .box-category .nav_title > img{float:right;margin-left:25px;margin-right:0}
.box .box-content .box-category.boss-menu-cate > li a.title i{float:left;margin-right:0;margin-left:20px;transform:rotate(180deg);-webkit-transform:rotate(180deg)}
.box-content .boss-menu-cate .nav_submenu{left:auto;right:120%;-webkit-transform:scale(1,1);transform:scale(1,1)}
.box .box-content .box-category > li:hover .nav_submenu{left:auto;right:100%}
.box .box-content .box-category.boss-menu-cate .nav_sub_submenu > ul > li{margin-left:0;margin-right:30px}
.box .box-content .box-category.boss-menu-cate .nav_sub_submenu > ul > li.nav_cat_parent{margin-right:0}
.boss-custom-pro.bt-custom-column .title,.boss-testimonial .box-heading{padding-left:0;padding-right:15px;border-left:none;border-right:4px solid #403e3c}
.boss-custom-pro.bt-custom-column .image{float:right;padding-right:0;padding-left:20px}
.boss-custom-pro.bt-custom-column .product-thumb{text-align:right}
.boss_homefilter_tabs .tabs_container{float:left}
.boss_homefilter_tabs .title span:before,.boss-carousel .title:before{right:0;left:auto}
.boss-carousel .nav_thumb.prev{right:auto;left:0}
.boss-carousel .nav_thumb.next{right:auto;left:30px}
.footer-newletter .newletter-content table td{text-align:center}
.top-links ul li > a > i.fa-user,.top-links ul li > a > i.fa-star,.top-links ul li > a > i.fa-check,.language strong img{margin-right:0;margin-left:5px}
.language .dropdown-menu li a span{margin-left:0;margin-right:5px}
.b-cart.dropdown_cart{float:left}
.cart-empty{float:left;padding:9px 8px 3px 10px;margin:0 12px 0 0}
.cart-full{float:left;padding:9px 8px 3px 10px;margin:0 12px 0 0}
.b_mobile{float:right}
.menu_mobile{left:auto;right:-90%}
.openNav #bt_container{transform:translate3d(-90%,0px,0px)}
.close-panel{right:auto;left:5px}
.menucategory-fixed{left:auto;right:5px}
.menucategory-fixed.header_category .box .boss_heading i{float:none}
.menucategory-fixed .box .box-content .boss-menu-cate .parent_dropdown{padding-right:50px;padding-left:10px}
.menucategory-fixed .box .box-content .box-category.boss-menu-cate > li a.title i{margin:0 10px 0 0}
.menucategory-fixed .box .box-content .boss-menu-cate li:hover .bt-icon{border-right:1px solid #e8e8e8;border-left:1px solid transparent}
@media only screen and (min-width: 993px) {
#live-search-dropdown{right:unset;left:0}
}
@media only screen and (max-width: 767px) {
.language,.currency,.top-links{border-right:none}
.mega-menu > ul.nav > li > a{text-align:right}
.mega-menu > ul.nav > li p.plus{right:auto;left:0}
.header_right{padding-left:10px}
.b-cart .dropdown-menu{left:0;right:auto}
.top-links .dropdown-menu-right{left:auto;right:0}
.language .dropdown-menu,.currency .dropdown-menu{min-width:110px}
.language .dropdown-menu li,.currency .dropdown-menu li{text-align:right}
#column-left{padding:0 0 0 10px}
}
.col-sm-rtl{float:right!important}
.mega-menu > ul.nav > li{padding:0 45px}
.mega-menu > ul.nav > li > a .menu-title{font-family:cairoBold!important}
.top-links > ul > li{padding:3px 20px}
.b-cart.dropdown_cart{float:right;padding:10px 5px;position:relative}
.b-cart.dropdown_cart:before{right:16px;top:5px}
.b-cart.dropdown_cart:hover{background-position:20px 80px!important}
.andriodIosempty{float:right}
.andriodIosImg{float:right}
.andriodIosImg img{float:left}
.andriodIosBtn{font-family:cairoBold;float:right}
.andriodIosBtn h2{font-family:cairoRegular}
.andriodIosBtn p{padding:0 40px 10px 0;font-family:cairoRegular}
#input-search{float:right;margin-left:10px}
header.boss_scroll{top:56px}
.custom-footer-menu{text-align:left;margin:30px 0 0}
.qty-button{float:right}
.telephoneNo{float:left;direction:ltr!important;padding:0 5px 0 0}
.category-list ul li{float:right}
.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{float:right}
.sortedBy .arrow{right:10%}
.navbar-right{float:left!important}
.navbar-header,.navbar-nav > li{float:right;margin:0!important}
.navbar-nav .borderRight{border-left:1px solid #65a632;border-right:0 solid #65a632}
.navbar-nav > li{border-right:none;border-left:none}
.cart.dropdown_cart,.language_currency,.top-links,#search,.mega-menu{float:none}
.searchbtn{right:-30px;top:2px}
.navbar-form{padding:0}
.navbar-default .navbar-nav > li > a{padding:10px 9px}
.bx-wrapper .bx-viewport{direction:ltr!important}
.bx-wrapper .bx-prev{left:-20px!important}
.cate-name a{padding:120px 15px 0 10px}
footer .footerPart{float:right}
.language a{padding:10px 3px}
.dropdown-menu-right{right:-70px!important;left:auto!important;top:74px}
.modal-dialog{margin:90px 10px}
.retailer-chooser-arrow{left:290px}
#model-left .left .modal-content{width:70vw;right:0}
#model-left .left.fade.in .modal-dialog{left:0;right:0;width:100%}
.radio input[type="radio"],.radio-inline input[type="radio"],.checkbox input[type="checkbox"],.checkbox-inline input[type="checkbox"]{margin-right:-20px}
.radio label,.checkbox label{margin-right:20px}
.breadcrumb li a:before{left:-10px;z-index:3;border-right-color:#e6e9ed;border-right-style:solid;border-right-width:11px;right:unset;border-left-color:unset;border-left-style:unset;border-left-width:unset}
.breadcrumb li a:focus:before,.breadcrumb li a:hover:before{border-right-color:#fff;border-left-color:unset}
.breadcrumb li a:active:after,.breadcrumb li a:active:before{border-right-color:#2494be;border-left-color:unset}
.breadcrumb li a:focus:after,.breadcrumb li a:hover:after{border-left-color:unset}
.breadcrumb li a:after{left:-20px;z-index:2;border-right:11px solid #006400;right:unset;border-left:0 solid #006400}
.breadcrumb li a,.breadcrumb li:not(:first-child) span{padding:0 20px 0 10px}
.language_div{border-right:0;border-left:1px solid #fff;margin:0 0 0 10px}
#error_alert{float:left}
.home_dropdown-menu-right{right:auto!important;left:145px!important;top:74px}
.wizard .nav-tabs > li .span.round-tab i{right:0!important}
.wizard .nav-tabs > li{float:right}
#search{width:100%}
.products .product,.icon-section .box{float:right}
span.round-tab i{right:0!important}
.bt-box-store .box-content{float:right}
.nav-store{float:right;margin:0 10px 0 0}
.select_field select{background-position:10px!important}
.vat-val{text-align:left}
.sortedBy .arrow{left:5%!important;right:auto!important}
.cartList{margin-right:5px!important}
@media (min-width: 320px) and (max-width: 360px) {
.time-sch-btn{font-size:16px;padding-right:2px}
.slot-time-wrapper .text-right{text-align:right!important;padding-right:0!important}
.row.charges-delivery-wrapper.col-md-12 .text-right{text-align:right}
.charges-delivery-wrapper .col-md-6,.charges-delivery-wrapper .col-md-2,.charges-delivery-wrapper .col-md-4{font-size:16px;font-weight:400;text-align:right;padding-right:0}
.custom-margin-3{margin-right:0}
.modal-dialog{margin:101px -7px}
}
@media (min-width: 375px) and (max-width: 380px) {
.time-sch-btn{font-size:16px;padding-right:2px}
.slot-time-wrapper .text-right{text-align:right!important;padding-right:0!important}
.row.charges-delivery-wrapper.col-md-12 .text-right{text-align:right}
.charges-delivery-wrapper .col-md-6,.charges-delivery-wrapper .col-md-2,.charges-delivery-wrapper .col-md-4{font-size:18px;font-weight:400;text-align:right;padding-right:0}
.custom-margin-3{margin-right:0}
.modal-dialog{margin:101px -7px}
}
@media (min-width: 381px) and (max-width: 415px) {
.time-sch-btn{font-size:16px;padding-right:2px}
.slot-time-wrapper .text-right{text-align:right!important;padding-right:0!important}
.row.charges-delivery-wrapper.col-md-12 .text-right{text-align:right}
.charges-delivery-wrapper .col-md-6,.charges-delivery-wrapper .col-md-2,.charges-delivery-wrapper .col-md-4{font-size:18px;font-weight:400;text-align:right;padding-right:0}
.custom-margin-3{margin-right:0}
.modal-dialog{margin:101px -7px}
}
@media (min-width: 768px) and (max-width: 1024px) {
.slot-time-wrapper .text-right{text-align:right!important;padding-right:0!important}
.row.charges-delivery-wrapper.col-md-12 .text-right{text-align:right}
.charges-delivery-wrapper .col-md-6,.charges-delivery-wrapper .col-md-2,.charges-delivery-wrapper .col-md-4{font-size:18px;font-weight:400;text-align:right;padding-right:0}
.custom-margin-3{margin-right:0}
.modal-dialog{margin:101px -7px}
}