html{overflow-x: hidden}
body{background-color: rgb(242, 242, 242)}

.navbar-default {
background-color: rgb(32, 127, 0);
border: 0;
border-radius: 0;
height: 75px;
line-height: 58px;
margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a{color: white;line-height: 55px;transition: all .5s ease-in-out;font-family: 'Lato', sans-serif; padding: 10px 10px;}
.navbar-default .navbar-nav > li > a:hover{background-color: white; color: #65a632}
.navbar-nav > li {float: left;border-left: 1px solid #65a632;text-align: center;margin: 0px 8px;}

.navbar-nav .borderRight{border-right: 1px solid #65a632}
.navbar-form .form-control{
    padding: 0px 45px 0 26px;
    width: 315px;
    border-radius: 80px;
    box-sizing: border-box;
    height: 44px;
}
.navbar-default ul li a img{margin-right: 10px}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{background: transparent; color: white}

.dropdown-menu{background-color: #207f00}
.dropdown-menu > li > a{color: white}
.dropdown-menu .divider {background-color: #279a00}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: rgb(255, 255, 255);
    font-family: "Lato",sans-serif;
    font-size: 15px;
    transition: all .5s ease-in-out;
}
.navbar-nav .borderRight a{
    color:#fff;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{    background: white;
    color: #207f00;}
.dropdown-menu{text-align: center !important}

.reverage{background-image: url(../img/reverage.png);background-repeat: no-repeat;padding: 42px 112px;color: white;background-size: cover;}
.reverage h3{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 48px;
    text-transform: uppercase;
    line-height: .9; color: white
}
.reverage h3 span{font-weight: bold}
.checkOut{background: white;padding: 50px 0;margin-top: 25px;border-radius: 2px;  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.11)}
.checkOut img{margin: 0 auto}
.checkOut .h3Next{width: 77%;margin: 50px auto;}
.checkOut .h3Next button{float: right;margin-top: -42px;border: 0;background-color: rgb(69, 172, 0);color: white;padding: 12px 40px;border-radius: 3px;}
.checkOut .h3Next h3{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.checkOut .address{
width: 77%;
margin: 0 auto;
margin-top: 70px;}

.checkOut .panel-default{
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  border: 0;
  }
.checkOut .panel-default h3, .delivaryState h3{margin: 0;font-family: 'Lato', sans-serif;font-size: 20px;}
.checkOut .panel-default p{font-family: 'Lato', sans-serif}


.checkOut .panel-default > .panel-heading{overflow: hidden;background-color: #f5f5f5;}
.checkOut .panel-default > .panel-heading img{margin: 0 10px;cursor: pointer;}


.delivaryState , .delivarySlots{width: 77%;margin: 0 auto;margin-top: 55px;}
select{
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    outline: 0;
    width: 100%;
    display: block;
    padding: 23px 5%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: white;
    border: 0;
    cursor: pointer;
    background: url(../img/slotoptionIcon.png) no-repeat 2%;
    border-radius: 3px;
}

select option{-webkit-appearance: none;
appearance: none;
-moz-appearance: none;
-ms-appearance: none;
-o-appearance: none;
outline: 0;
width: 100%;
display: block;
padding: 16px 20px;
background-color: #f4f4f4;
box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
background-color: white; border: 0; cursor: pointer;background: url(../img/slotoptionIcon.png) no-repeat 2%}

.delivaryState label, .delivarySlots label{margin-bottom: 20px;font-family: 'Lato', sans-serif;font-weight: 500;font-size: 16px;}

.hideAndShowOne{display: none}
.select{
    width: 100%;
    display: block;
    padding: 21px 20px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: #f4f4f4;
    border: 0;
    cursor: pointer;
    overflow: hidden;
    transition: all .5s ease-in-out;
    font-family: 'Lato', sans-serif;
}
.delivarySlots .select.active{background-color: white}
.delivarySlots .select:hover{background-color: white}

.HowItWorks{padding: 80px 0;}
.HowItWorks .circle{
    width: 12px;
    height: 12px;
    background-color: #509716;
    display: inline-block;
    border-radius: 50%;
    margin: 0 3px;
    }
.HowItWorks h3, .weAreWithYou h3{
    color: #3b7909;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 11px 0 50px 0;
}

.weAreWithYou h3{color: white;text-transform: uppercase;font-size: 40px;line-height: 1.4;margin-bottom: 15px;margin-top: 65px;}
.weAreWithYou p{color:white;font-family: 'Lato', sans-serif;font-size: 18px;margin-bottom: 20px;}
.HowItWorks h4{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #393939;
    text-transform: uppercase;
}
.weAreWithYou a img{
    width: 195px;
    float: left;
    margin-right: 15px;
    margin-bottom: 20px;
    height: 54px;
}

.HowItWorks p{    font-family: 'Lato', sans-serif;
    font-size: 16px;
}


/* start landing page style */

.landingBody{background-color: white}
.TopBar{background-image: url(../img/TobBarBg.png);height: 90px; padding: 0 60px;}
.TopBar .logo, .TopBar .links{margin-top: 20px; color: white}
.TopBar .links a{color: #ffffff;font-family: 'Lato', sans-serif;font-weight: bold;font-size: 14px;letter-spacing: 1px;}
.TopBar .links a span{color: #ffd304}

.gotonextSection{
    margin: 0 auto;
    margin-top: 65px;
    background: #509716;
    height: 65px;
    width: 65px;
    line-height: 65px;
    border-radius: 50%;
    cursor: pointer;
}


.HowItWorks img{margin: 30px auto;height: 145px;}


.weAreWithYou{background-image: url(../img/weAreWithYou.png);position: relative;background-repeat: no-repeat;background-size: cover;overflow: hidden;padding: 0 0 85px 0px;}
.weAreWithYou .arrow{
            width: 20px;
            height: 20px;
            background: white;
            transform: rotate(134deg);
            -webkit-transform: rotate(134deg);
            -o-transform: rotate(134deg);
            -moz-transform: rotate(134deg);
            -ms-transform: rotate(134deg);
            margin: 0 auto;
            margin-top: -10px;
            }

.slider select{
    width: 32%;
    float: left;
    background: white;
    border-right: 1px solid #cfcfcf;
    border-radius: 0;
    color: #8d8d8d;
    padding: 2.5px 5%;
    font-family: 'Lato', sans-serif;
    height: 57px;
}

.slider .carousel-caption{
    right: 0;
    left: 0;
    width: 90%;
    margin: 0 auto;
    top: 18%;
}

/* End landing page style */





/* Start categories page */
.VigatableBg{
    background-image: url(../img/vegitableBg.png);
    height: 282px;
}

.icon-section{background-color: white}
.icon-section .box{
    float: left;
    margin: 20px 30px 0 32px;
    height: 100px;
    }
.icon-section .box h3{font-size: 13px;font-family: 'Lato', sans-serif;font-weight: 600;}


.products{overflow: hidden;padding: 25px;background: white;margin-top: 25px;border-radius: 2px;box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.11);}
.products .product{
    width: 20%;
    float: left;
}
.products .product img{margin: 0 auto;height: 150px;}


.weare{background-image: url(../img/weare.png);padding: 40px 0;margin-top: 20px;}
.weare a img{
    float: left;
    width: 208px;
    margin: 0 15px 0 0;
    height: 60px;
}

.weare .links{width: 446px;
    margin: 0 auto}


.filter{overflow: hidden;
    padding: 25px;
    background: white;
    margin-top: 25px;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.11);
}
.filter .link{cursor: pointer;overflow: hidden;margin-bottom: 15px;}
.filter .link h3{margin: 0;font-family: 'Lato', sans-serif;font-size: 20px;color: #222;}
.filter .link img{margin-top: 8px}
.Typeform, .Nutritionform , .Packingform{display: none}
.typeLink img, .Nutritionlink img, .Packinglink img{transform: rotate(-90deg);}
.typeLink, .Nutritionlink, .Packinglink{margin-top: 10px}
.filter label{font-family: 'Lato', sans-serif;font-weight: 400;font-size: 13px;margin-bottom: 10px;margin-left: 8px;}
/* End categories page */




.products .product{
    position: relative
}

.products .product h3{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
}

.products a, .cart_button a, .select_number a{
    color: #6a6a6a;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
}

.products .product p{    color: #36981b; margin: 0 5px;
    font-size: 13px;
    display: inline-block;}
 .products .product p.oldPrice{color: #979797}
.products .product span{
    background-color: #ee4054;
    padding: 4px 12px;
    color: white;
    margin-top: -22px;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 12px;
}
.product-info .select_number {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 100px;
    margin-right: 17px;
}
.product-info .select_number .form-control {
    border-radius: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 91px;
    font-size: 14px;
}

.product-info .increase {
    top: 0;
}

.product-info .decrease, .product-info .increase {
    height: 20px;
    width: 20px;
    border: none;
    position: absolute;
    background: #f4f4f4;
    right: 0;
}

.product-info .decrease {
    top: 20px;
}

.products .product{margin-bottom: 48px;height: 310px;}

.products .product a input, .products .product a button, .cart_button a button{
    outline: 0;
    background: #36981b;
    padding: 12px 15px;
    color: white;
    border: 0;
    border-radius: 3px;
    width: 90%;
    margin-top: 20px;
    text-align: center;
}


.communities{overflow: hidden;
    padding: 25px;
    background: white;
    margin-top: 25px;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.11)}
.communities h3{
    color: #2d2d2d;
    font-size: 32px;
    font-family: 'Lato', sans-serif;
}

.communities .seeMore{
    margin-top: -30px;
    margin-right: 17px;
    text-decoration: none;
    color: #6a6a6a;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 40px;
    }

.communities h4{
    color: white;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.communities .box .img{width: 100%}
.communities .boxInfo{
    background: #e8114a;
    margin-top: -22px;
    z-index: 999999999999999;
    position: relative;
    padding: 10px 16px 20px 16px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out
    }
 .communities .boxInfo:hover{padding: 16px 16px 25px 16px;}
.communities .boxInfo a{
    display: block;
    color: white;
    margin-bottom: 15px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-size: 12px;
}

.communities .boxInfo span{
    color: white;
    margin-bottom: 15px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-size: 12px;
}

.communities .boxInfo img{margin-right: 8px}













/* landing page */
.carousel-caption form input{
    float: left;
    height: 57px;
    width: 145px;
    background: #509716;
    border: 0;
    border-radius: 0 4px 4px 0;
    outline: 0;
    margin-bottom: 20px;
}

.carousel-caption form .locateMe{
    float: left;
    margin-left: 15px;
    border: 0;
    color: #8d8d8d;
    background: white;
    border-radius: 4px;
    height: 54px;
    width: 190px;
    outline: 0;
    line-height: 3;
    text-align: right;
    padding-right: 20px;
}

.carousel-caption form .locateMe img{width: 42px;margin-top: 0;float: left;margin-left: 10px;}
.testimonials .opinion{display: none}
.testimonials .opinion.active{display: block}
.testimonials h3{margin-top: 80px;font-family: 'Lato', sans-serif;font-size: 28px;font-weight: bold;text-transform: uppercase;color: #3b7909;margin-bottom: 60px;}
.testimonials p{font-family: 'Lato', sans-serif;color: #222222;font-size: 17px;}
.testimonials p span{color: #72aa45}

.carousel-caption h3{
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}

.carousel-caption p{
    font-size: 17.5px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 20px;
}










/***************************/
.sortedBy select{
    background: none;
    background-color: white;
    padding: 10px 20px;
    text-align: left;
    width: 270px;
    margin-top: 20px;
    height: 48px;
}
.sortedBy{position: relative}
.sortedBy .arrow{position: absolute;top: 18px;right: 13px;}


.title{font-family: 'Lato', sans-serif}
.title span{
    font-family: 'Lato', sans-serif;
    display: block;
    font-size: 15px;
}


@media (max-width: 1347px){
    .navbar-nav > li{margin: 0 -3px !important;}

}

@media (max-width: 1267px) and (min-width: 767px){
    .navbar-default form{display: none}

}


@media (max-width: 923px) and (min-width: 768px){
    .navbar-nav > li{margin: 0 -5px !important;}
    .navbar-default li.sar{display: none}

    .navbar-default ul li a img {margin-right: 4px}
}


@media (max-width: 730px){
    .checkOut .h3Next button{float: none; margin-top: 20px}

}

@media (max-width: 740px){
    .checkOut img.progressImg{}

}


@media (max-width: 980px){
    .carousel-caption{}
}

@media (max-width: 1258px) and (min-width: 980px){
    .slider select{padding: 18.5px 3%}
}


@media (max-width: 991px){

    footer .footerPart {
    width: 50% !important;
    float: left !important;
    min-height: 170px !important}
}

@media (max-width: 410px){

    footer .footerPart {
    width: 100% !important}
}





@media (max-width: 767px){

    .navbar-default .navbar-collapse, .navbar-default .navbar-form{background-color: rgb(32, 127, 0);z-index: 999999999999999999999999999;position: relative;}
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{border-color: transparent;}
    .navbar-nav > li {display: block;float: none;margin: 0 !important;}
    .navbar-default .navbar-toggle .icon-bar {background-color: white}
    .navbar-default .navbar-toggle {border-color: transparent;margin-top: 28px}
    .navbar-default .navbar-toggle:hover{background-color: transparent}
    .navbar-default .navbar-toggle:focus{background-color: transparent}
}

@media (max-width: 767px){

    .filter{
    height: auto !important;
}

    .searchbox{    width: 80%;
    margin: 0 auto;}

    .navbar-form .form-control {width: 100%}
    .navbar-form .searchbox img {top: 16px !important}
}


@media (max-width: 1220px){

    .products .product{width: 50%}
}


@media (max-width: 540px){

    .products .product{width: 100%}
}


@media (max-width: 464px){.TopBar {background-image: url(../img/TobBarBg.png);height: 139px;padding: 0 60px}}

@media (max-width: 430px){
    .reverage h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.2;
    color: white}
}


@media (max-width: 515px){
    .weare a img{float: none; margin-bottom: 15px}
    .weare .links{width: 208px}
}


@media (max-width: 476px){
.weAreWithYou h3 {font-size: 30px}
}


@media (max-width: 320px){
.slider{margin-top: -5px}
.TopBar {
    background-image: url(../img/TobBarBg.png);
    height: 160px;
    background-repeat: no-repeat;
    background-size: cover}
}

@media (max-width: 315px){
     .sortedBy select{width: 220px}
}

@media (max-width: 1220px){
     .products .product p{display: block}
}

.slider select.showHide{display: none}
@media (max-width: 1027px){
     .carousel-inner > .item > img, .carousel-inner > .item > a > img{height: 700px;}
     .slider select {width: 100% !important;margin-bottom: 19px}
     .gotonextSection{display: none}
     .slider .carousel-caption {right: 0;left: 0;width: 90%;margin: 0 auto;top: 6%}
     .slider select.hideShow{display: none}
     .slider select.showHide{display: block}
}

@media (max-width: 389px){
     .carousel-caption form .locateMe{margin-left: 0}
}

/* footer style */

footer .footerPart{width: 20%;float: left}
footer .footerPart a, footer .footerPart p{display: block;color: #545454;font-family: 'Lato', sans-serif;margin-bottom: 10px;}
footer .lastfooterPart a img{float: left}
footer .lastfooterPart .subscribeForm{position: relative}
footer .lastfooterPart .subscribeForm img{position: absolute;right: 4%;top: 12px;}
footer .copyrights{margin-top: 15px;margin-bottom: 30px;}
footer .lastfooterPart a img:hover {
    transform: rotate(360deg);
    transition: all .5s ease-in-out;
}
footer .footerPart a:hover, footer .footerPart p:hover{text-decoration: none; color: #36981B !important}

footer .footerPart h3{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #101010;
    margin-top: 30px;
}

footer .greenColor{color: #36981b !important}
footer .lastfooterPart form input{
    border: 0;
    padding: 10px;
    background: white;
    border-radius: 5px;
    outline: 0;
    width: 100%;
    margin-bottom: 22px;
}




input::-moz-placeholder{color: #aaa}
.custom-margin-3 {
    margin-left: 25%;
}

/******** Nav Css ****/
.nav-tabs {
    margin-bottom: 15px;
}

.nav-login>li.active {
    border-bottom: 2px solid #390;
    font-weight: bolder;
    
}
.nav-login>li.active a{
    border:0px;
}
.tab-content {
    border: 1px solid #ebebeb;
    margin-bottom: 57px;
    margin-top: -1px;
    overflow: hidden;
    padding: 25px 20px 12px;
}
.form-control {
    background-color: #f4f4f4;
    background-image: none;
    border: none;
    border-radius: 0;
    color: #000;
    display: block;
    font-size: 12px;
    height: 40px;
    margin-bottom: 14px;
    margin-top: 6px;
    padding: 7px 8px 9px;
    vertical-align: middle;
    width: 100%;
    box-shadow: none !important;
}
a.forgotten {
    float: right;
    font-size: 13px;
    margin-left: 0;
    margin-top: 17px;
}
.login-content .button_login {
    float: left;
    margin-top: 4px;
}
.custom-margin-1 {
    margin-left: 8.33333333%;
}
.btn-primary-custom {
    border-color: #4cae4c !important;
    padding: 7.5px 12px;
    border: 1px solid #ccc;        
    border-radius: 4px;
    width: 80%;
    background-color:#509716;
    color:#fff;
}
#modal-quicksignIn .form-control {
    width: 100%;
}
.register fieldset {
    border: 1px solid #f2f2f2;
    padding-bottom: 25px;
    margin-bottom: 31px;
}
.form-horizontal.register .form-group {
    margin: 0;
    padding: 0 10px;
}
.modal-header {
    min-height: 30px;
    padding: 0 9px;
}
 .dropdown-menu-right {
    right: 30px !important;
    left: auto !important;
    top: 87px;
}
.sub_image img, .btn-quickshop .sft_quickshop_icon, .boss-blog-featured .image .time-stamp, .boss_homefilter_tabs .bt-heading h3:before, .language:hover, .currency:hover, .cart.dropdown_cart:hover, .bt-account .box-content, .bt-box .box-heading span:before, .htabs ul li:before, table.table thead td, .wishlist-info thead td, .cart-info thead td, #collapse-checkout-confirm td thead td, .article-layout .article-image .time-image, .title_heading:before, div.jGrowl div.jGrowl-notification div.jGrowl-header, #bt_slideshow .tp-leftarrow.default:hover, #bt_slideshow .tp-rightarrow.default:hover, .shipping_return_support, .boss-custom-pro.bt-custom-column .title, .boss-custom-pro.bt-custom-content .title h3:before, .boss-custom-pro.bt-custom-column .btn-nav-center:hover, .boss-testimonial .box-heading, .boss_homefilter_tabs .title span:before, .boss-carousel .title:before, .boss-blog-featured .block-heading span:before, .boss-testimonial .btn-nav-center:hover, #article_related .article-image .time-image, .b-cart.dropdown_cart:before, .b-cart.dropdown_cart:hover, #back_top:hover span, .language:hover, .currency:hover, .checkout .panel-default > .panel-heading, .register fieldset h2:before, .boss_flickr .box-heading span, .menu_mobile, .b_bulk_title, .b_bulk_order_ajax table td .cart .btn{
    background-color: #207F00;
}

.b-cart{
    
line-height: 54px;
transition: all .5s ease-in-out;
font-family: 'Lato', sans-serif;
padding-top: 15px;
padding-bottom: 15px;
position: relative;
display: block;
padding: 10px 15px;
}
.b-cart:hover{
   background-color: #fff !important; color: #65a632
}
.b-cart-total{
    color:#fff;
}
.b-cart:hover .b-cart-total{
   color: #65a632
}

.b-cart .btn-dropdown-cart {
    background: 0 0;
    border: none;
    padding: 0;
  }
.b-cart .dropdown-menu {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    margin-top: 0;
    padding: 13px 0 0;
    right: -1px;
    width: 437px;
    overflow: visible;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0;
    box-shadow: 0 0 8px #bbb;
    z-index: 997;
    min-height: 45px;
    max-height: 450px;
}
.b-cart .minicart_total {
    margin-bottom: 7px;
    width: 100%;
}
.alert-custom{
    padding:10px;
    margin-bottom: 0px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.b-cart .dropdown-menu li {
    padding: 0 20px;
}
.b-cart .dropdown-menu li.sub-total {
    padding: 0px;
    background: #f5f5f5;
}
.b-cart .dropdown-menu .text-center {
    margin-top: 10px;
    margin-bottom: 27px;
    background: 0 0;
}

.b-cart .dropdown-menu td {
    padding: 0 0 25px;
    border: none;
    vertical-align: top;
    background: 0 0;
    text-align: center;
}
.b-cart .dropdown-menu td.name {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 16px;
    text-align: left;
    padding: 0 0 0 10px;
}
.b-cart .dropdown-menu td > div {
    font-size: 14px;
    color: #282828;
    margin-top: 1px;
}
.b-cart .image {
    position: relative;
    margin-right: 0;
}

.qty-button {
    float: left;
    width: 44%;
    /*margin: 15px 0 0 49px !important;*/
}
.qty-button .decrease, .qty-button .increase, .qty-button .qty-input {
    float: left;
}
.decrease, .increase {
    color: #000;
    border-radius: 4px;
    padding: 2px 5px 2px 5px;
}
.decrease:hover, .increase:hover{
   background: #36981b;  
}
.b-cart .decrease, .b-cart .increase {
        background: #b0b0b0;
    border: 1px solid #eee;
    color: #fff;
    border-radius: 4px;
    padding: 2px 5px 2px 5px;
}
.b-cart .decrease:hover, .b-cart .increase:hover{
   background: #207F00;  
}
.b-cart .qty-input{
    width:100%
}
.modal-open .modal{
    overflow-x: auto;
}

.qty-input {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 33px;
    text-align: center;
}
.button_remove {
   background: #fff;
color: #b0b0b0;
border: 1px solid #b0b0b0;
padding: 0px 2px 0 2px;
font-size: 12px;
}
.button_remove:hover{
   color: #a94442;
background-color: #f2dede;
border-color: #ebccd1;
}

.searchbtn{
    position: relative;
    right: 30px;
    top: -6px;
    background-image: url('../img/searchicon.png');
    width: 17px;
    height: 17px;
    border: none;
    background-color: #f4f4f4;
}
.searchbtn:hover{
    background-color: #000;
}

/*********** Search Drop Down *********/

#live-search-dropdown {
 background-color:#fff;
 border:2px solid #ddd;
 z-index:1000;
 border-radius:3px
}
.addcart {
 border:none;
 background:0 0;
 float:right
}
@media only screen and (max-width:992px) {
 #live-search-dropdown {
  position:relative;
  margin-top:62px;
  width:100%
 }
 #search-live {
  display:block!important
 }
}
@media only screen and (min-width:993px) {
 #live-search-dropdown {
  position:absolute;
  right:150px;
  top:60px;
  width:82%;
  max-width:800px
 }
}

.checkout_bt .btn-primary-custom {
    border-color: #4cae4c !important;
    padding: 7.5px 12px;
    border: 1px solid #ccc;
        border-top-color: rgb(204, 204, 204);
        border-right-color: rgb(204, 204, 204);
        border-bottom-color: rgb(204, 204, 204);
        border-left-color: rgb(204, 204, 204);
    border-radius: 4px;
    width: 55%;
    background-color: #207F00;
    color: #fff;
}
.cart_bottom .alert-custom{
    padding: 0px;
    line-height: 40px;
}

.products .product .image {
    border: 1px solid transparent;
    margin-bottom: 6px;
}

.image:hover .btn-quickshop .sft_quickshop_icon {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
}

.btn-quickshop .sft_quickshop_icon:hover {
    background-color: #403e3c;
}

.btn-quickshop .sft_quickshop_icon {
    background-color: #36981b;
    border: none;
    border-radius: 100%;
    color: #fff;
    height: 60px;
    transition: all .5s ease 0;
    white-space: nowrap;
    width: 60px;
    transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
}

.btn-quickshop .sft_quickshop_icon i {
    font-size: 21px;
}

.image:hover .btn-quickshop {
    opacity: 1;
    filter: alpha(opacity=100);
}

.btn-quickshop {
    opacity: 0;
    position: absolute;
    transition: all .5s ease 0;
    z-index: 99;
    width: 60px;
    height: 60px;
}

.image>a, div.image {
    display: block;
    position: relative;
}

.bt_pagination, .product-thumb .image, .slides li, .slides li img, div.image {
    text-align: center;
}
#input-coupon{
    border: 1px solid #fff;
    border-radius: 4px;
}
.couponPopup #button-coupon {
    margin: 0 5px;
    width: 100%;
    background: #207F00;
    color:#fff;
    border-radius: 4px;
}
.cart-product {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.col-sm-custom{
    padding:10px;
}
.text-left.name a{
    color:#000;
    text-decoration: none;    
}
.text-left.name a:hover{
    color:#65a632;
   
}
.alert-success-custom {
    color: #fff;
    background-color: #207F00;
    border-color: #d6e9c6;
}

/*  modal css*/
.modal #content {
    min-height: 300px;
    margin-bottom: 26px;
    padding: 0;
}

.modal #content .product-info {
    padding: 0 20px 30px;
    margin-bottom: 20px;
    overflow: hidden;
}

.modal #content .row {
    margin-left: -10px;
    margin-right: -10px;
}

.image-additional {
    position: relative;
}

ul, ol {
    list-style-type: none;
    padding: 0;
}

.image-additional #boss-image-additionalqs li {
    width: 25%;
}

.image-additional li {
    float: left;
    margin: 5px;
}

a {
    color: #000;
    cursor: pointer;
    font-weight: 400;
    text-decoration: none;
}

.image-additional li img {
    padding: 0;
    border: 1px solid transparent;
}

img {
    max-width: 100%;
}

.bt-product-zoom .image {
    margin-bottom: 30px;
}

div.image {
    display: block;
    /*margin-bottom: 10px;*/
    text-align: center;
    position: relative;
}

.bt-product-zoom .cloud-zoom-big {
    left: 0!important;
}

.product-info h1 {
    margin-bottom: 18px;
    margin-top: 0;
    text-transform: none;
    font-size: 20px;
    font-weight: 700;
}

.product-info .price_info {
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 19px;
    overflow: hidden;
    padding-bottom: 19px;
}

.product-info .price_info span {
    color: #000;
    float: left;
    font-size: 30px;
    font-weight: 400;
    margin-right: 20px;
}

.product-info .description {
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 18px;
    padding-bottom: 14px;
}

.product-info .description li {
    margin-bottom: 5px;
}

.product-info .control-label {
    display: block;
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    color: #000;
}

label.control-label {
    color: #000;
    display: block;
    font-size: 13px;
    font-weight: 400;
    text-transform: none;
    margin: 0;
    padding: 0;
}

#collapse-checkout-confirm table td.name, .form-horizontal .control-label {
    text-align: left;
}

.form-horizontal .form-control {
    width: 65%;
}

.product-info .select_number {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 100px;
    margin-right: 17px;
}

.product-info .select_number .form-control {
    border-radius: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 91px;
    font-size: 14px;
}

.form-control {
    background-color: #f4f4f4;
    background-image: none;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #000;
    display: block;
    font-family: "apercuRegular", 'Open Sans';
    font-size: 12px;
    font-weight: 400;
    height: 40px;
    margin-bottom: 14px;
    margin-top: 6px;
    padding: 7px 8px 9px;
    vertical-align: middle;
    width: 43%;
    box-shadow: none!important;
}

.product-info .increase {
    height: 20px;
    width: 20px;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    background: #f4f4f4;
}

.product-info .decrease {
    height: 20px;
    width: 20px;
    border: none;
    position: absolute;
    right: 0;
    top: 20px;
    background: #f4f4f4;
}


.product-info .cart_button {
    display: inline-block;
    margin-right: 0;
    position: relative;
    vertical-align: top;
}

.cart_button {
    position: relative;
    display: inline-block;
    white-space: nowrap;
}

.btn:hover, .button_cart {
    background-color: #fff!important;
    border-color: #390!important;
    color: #390!important;
}

.btn {
    background-color: #fff;
    border: 1px solid #bcbcbc;
    border-radius: 0;
    color: #bcbcbc;
    display: inline-block;
    font-family: "apercuRegular", 'Open Sans';
    font-size: 10px;
    font-weight: 700;
    padding: 7px 20px 8px;
    line-height: 23px;
    text-transform: uppercase;
    transition: all .5s ease 0;
    -webkit-transition: all .5s ease 0;
    min-height: 40px;
    vertical-align: top;
}

.btn-wishlist, .btn-compare {
    background: #fff;
    border: 1px solid #bcbcbc;
    color: #bcbcbc;
    height: 40px;
    margin: 0 0 0 7px;
    width: 40px;
    transition: all .5s;
    -webkit-transition: all .5s;
}

.btn-wishlist:hover, .btn-compare:hover {
    background-color: #dd5f65;
    border-color: transparent;
    color: #fff;
}

.product-related {
    margin-top: 40px;
    position: relative;
}

.product-related h2 {
    margin-bottom: 45px;
}

.product-info h2 {
    font-size: 14px;
    margin-bottom: 22px;
}

.title_heading {
    color: #1c1c1c;
    font-family: "apercuBold", 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 18px;
}

.product-related a.prev {
    left: 0;
    background-position: 0 0;
}

.product-related a.next {
    right: 0;
    background-position: 100% 0 !important;
}

.product-related a.next, .product-related a.prev {
    background: url(../img/icon_prev_next.png) no-repeat;
    height: 55px;
    width: 31px;
    display: block;
    text-indent: -9999px;
    position: absolute;
    top: 39%;
    z-index: 9;
}

.product-related .list_carousel {
    margin: 0 -10px;
}

.product-related ul li .product-thumb .button-group, .product-related ul li .product-thumb .description, .product-related ul li .product-thumb .price-tax {
    display: none;
}

.product-related #relatedProdutsWrapper ul li {
    width: 126px!important;
}

.product-related ul li {
    cursor: default;
    display: inline-block;
    float: none;
    margin-left: 0;
    vertical-align: top;
}

.product-related ul li .product-thumb {
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    display: inline-block;
}

.product-thumb {
    overflow: hidden;
    padding: 0 0 20px;
    text-align: center;
}

.product-related ul li .product-thumb .image {
    margin-bottom: 20px;
}

.product-thumb .image {
    border: 1px solid transparent;
}

.product-related ul li .product-thumb .image img {
    width: 100%;
}

.product-thumb .image img {
    margin-left: auto;
    margin-right: auto;
}

.image img {
    margin: 0 auto;
}

.bt-tagcloud a, .product-related ul li .product-thumb .name {
    margin-bottom: 5px;
}

.product-thumb .price {
    color: #000;
}

.modal-body .product-info .product-related a.next {
    right: -32px!important;
}

.product-related a.next:hover {
    background-position: 100% 100%;
}

.bt-filter-image li.active a span {
    background: url(../img/bg_check.png) no-repeat;
}

.bt-filter-image li a span {
    display: inline-block;
    background: url(../img/bg_none_check.png) no-repeat;
    width: 14px;
    height: 14px;
    vertical-align: -2px;
    margin-right: 12px;
}

.bt-filter-image.bt-filter-check li {
    width: 50%;
}

.bt-filter-image ul li {
    float: left;
    padding: 0 0px 15px 0;
}

.bt-filter-image {
    overflow: hidden;
    margin-bottom: 10px;
}

.bt-filter .list .title {
    color: #1c1c1c;
}

.boss_flickr .box-heading span, .bt-filter .list .title, .list-testimonials .title {
    text-transform: uppercase;
    font-weight: 700;
}

.bt-filter-image {
    overflow: hidden;
    margin-bottom: 10px;
}

.boss_flickr .box-heading span, .bt-filter .list .title, .list-testimonials .title {
    text-transform: uppercase;
    font-weight: 700;
}

.bt-box .box-content {
    padding: 20px 0;
}

ol, ul {
    list-style-type: none;
    padding: 0;
}

.filter{
    height: auto !important;
}

#bulk-load {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 996;
    top: 0;
    background-color: rgba(255,255,255,.7);
}

#bulk-load, .b_bulk_order_ajax .content_bg, .maroof-comodo, .qty-button, .qty-input {
    text-align: center;
}

#bulk-load:before {
    content: "\f110";
    font: 40px FontAwesome;
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -12px 0 0 -40px;
}

.heart-box-pink {
    color: #E8114A;
}

.heart-box, .heart-box-pink {
    font-size: 13px;
    font-weight: 400;
    position: absolute;
    left: 0;
    text-align: left;
    top: 0;
    width: 75px;
    z-index: 1;
    padding: 0 0 0 10px;
}

.box-product .box_item+.box_item{border-top:1px solid #f2f2f2}
.box-product .box_item{margin-bottom:17px;padding:15px 0 0;clear:both;overflow:hidden}
.box-product .box_item .name a{font-size:12px}
.box-product .box_item .price{font-size:14px}
.box-product .box_item .image{margin-right:20px}
.box-product .prod-detail{min-width:40%;overflow:hidden}
.box-product .rating{display:block;margin-bottom:4px}
.bt-box.bt-bestseller .box-content{padding-left:0;padding-right:0}
.bt-box.bt-bestseller .box-content .box-product .price-old{display:block;margin-bottom:3px}
.bt-box.bt-bestseller .box-content .box-product .price-tax{display:none}
#column-left .box-product .image,#column-right .box-product .image{margin-left:0}
.box .box-content .box-product .image{margin-right:10px}
.box-product .image{display:inline;float:left;margin-bottom:10px;margin-left:7px;margin-right:8px;position:relative}
.bt-featured{margin-bottom:20px}
.bt-featured .button-group,.bt-featured .price-tax{display:none}
.bt-featured .box-content{padding-bottom:20px}
.bt-featured .rating span.fa-stack{width:12px}
.bt-featured .rating i{font-size:13px}
.bt-featured .name{margin-bottom:3px}


/************ Store Model********/
    #model-left .left .modal-content {	
         width: 70vw;
        max-width: 920px;
        max-height: calc(100vh - (56px + 20px));
        position: fixed;
        top: 87px;
        left: 10px;
        z-index: 1020;
        border-radius: 4px;
        margin: 0;
	}
   
    #model-left .left .modal-body {
		/*padding: 15px 15px 25px;*/
        padding: 0px 0px 25px;
        max-height: calc(100vh - (56px + 91px + 53px));
        overflow-y: auto;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
	}
	#model-left .left .modal-header {
		border-bottom-color: #EEEEEE;
		background-color: #FAFAFA;
        padding: 22px;
        border-bottom: 1px solid #E0E0E0;
        position: relative;
        background-color: #fff;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
	}
    #model-left .left .close {
        float: left;
    }
    #model-left .left .modal-header h1 {
        font-size: 22px;
        font-weight: 500;
        margin: 0;
        line-height: 1;
        text-align: center;
    }
    #model-left .left .modal-header .header-location-link {
    position: absolute;
    top: 22px;
    right: 22px;
    margin: 0;
    }
   #model-left .left .modal-header .header-location-link a{  
    color: #207F00;
    font-size: 16px;
    }
  	#model-left .left .modal-dialog {
		position: fixed;
		margin: auto;
		width: 320px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	#model-left .left.fade .modal-dialog{
		left: -320px;
		-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
		        transition: opacity 0.3s linear, left 0.3s ease-out;
	}
	
	#model-left .left.fade.in .modal-dialog{
		left: 0;
	}
    
    .retailer-chooser-retailer-option-list-wrapper {
        max-height: calc(100vh - (56px + 91px + 53px));
        overflow-y: auto;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        margin: 0 auto;
        border-top: 1px solid #E0E0E0;
    }
    .retailer-group-label {
        /*padding: 0 24px;*/
        padding: 15px 24px;
        font-weight: 500;
        font-size: 14px;
        color: #8e8e8e;
        background-color: #f7f7f7;
        margin:0px;
    }
    .retailer-options-wrapper {
        padding: 8px 10px;
        background-color: #fff;
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid #E0E0E0;
        border-bottom: 1px solid #E0E0E0;
    }
    .retailer-option {
        width: 25%;
        display: block;
        position: relative;
        padding: 0;
        line-height: 20px;
    }
    .retailer-option:hover{
       border:1px solid #207F00;
       border-radius: 4px;
       background: #fff;     
        opacity: 0.5;
       color:#fff;
    }
    .retailer-option-inner-wrapper {
        display: block;
        position: relative;
        margin: auto;
        padding: 15px;
        color: #393939;
        border-radius: 4px;
        -webkit-transition: background-color 150ms ease-in;
        -moz-transition: background-color 150ms ease-in;
        transition: background-color 150ms ease-in;
        }
        .absolute-center {
            /*position: absolute;*/
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            display: block;
            text-decoration: none !important;
        }
        .retailer-option-logo-wrapper {
            display: block;
            width: 128px;
            height: 128px;
            position: relative;
            margin: auto;
        }
        .retailer-option-logo-wrapper img {
            width: 100%;
            height: 100%;
            box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.15);
            border-radius: 50%;
            background-color: #fff;
            max-width: 100%;
            vertical-align: middle;
            border: 0;
        }
        .retailer-option-body {
            margin-top: 5px;
        }
        .retailer-option-body h3 {
            color: #424242;
            font-size: 18px;
            line-height: 24px;
            font-weight: bold;
            margin: 0;
            text-align: center;
        }
        .retailer-option-categories {
            color: #757575;
            font-size: 14px;
            text-align: center;
        }
        .retailer-chooser-arrow {
    display: block;
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
    position: absolute;
    top: -15px;
    left: 205px;
    filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.2));
}
        .btn-store{
            position: relative;
            left:5px;
            top:10px;
            
        }
.centered{ text-align: center;}
.boss-custom-pro.bt-custom-content .bt-product-grid .btn-nav-center.prev {
    background: url(../img/add_prev.png) no-repeat;
}

.boss-custom-pro.bt-custom-content .box-content .addition_image .btn-nav-center, .boss-custom-pro.bt-custom-content .bt-product-grid .btn-nav-center {
    height: 30px;
    top: 50%;
    width: 16px;
}

.btn-nav-center.prev {
    left: 20px;
    background: url(../img/add_prev.png) no-repeat;
}

.bt-items .prev {
    right: 27px;
}

.bt-items .next, .bt-items .prev {
    background: #ddd;
    color: #fff;
    height: 26px;
    letter-spacing: -1px;
    line-height: 27px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 26px;
}

.boss-custom-pro.bt-custom-content .bt-product-grid .btn-nav-center.next {
    background: url(../img/add_next.png) no-repeat;
}

.boss-custom-pro {
    clear: both;
    position: relative;
    margin-bottom: 16px;
}

.btn-nav-center.next {
    right: 20px;
}

.blog-detail-box{
    background: rgb(237,4,70);
    padding: 10px;
    color: #fff;
}
.article-name a{
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
.comment-count a{
    color: #fff;
    text-decoration: none;
}
.box-heading{
    padding: 0 0 15px 0;
    text-align: center;
}
.boss-custom-pro .box-content .products{
    padding: 0px;
}

.cate-name a {
    display: inline-block;
    width: 300px;
    border-radius: 5px;
    background-size: cover !important;
    padding: 120px 0px 0px 10px;
    color: #fff;
    font-size: 20px;
}

.cate-name a:hover {
    color: #4cef59;
    text-decoration: none;
}

.cate-name a span{
    display: block;
    color: #4cef59;
    font-size: 12px;
}

.bx-wrapper{
    max-width: 100% !important;
    border: 0px !important;
    box-shadow: 0 0 0px #ccc !important;
    background: transparent !important;
}

.bx-wrapper .bx-next:focus, .bx-wrapper .bx-next:hover{
    background-position: 0 !important;
}

.bx-wrapper .bx-next {
    right: -40px !important;
    background: url(../img/add_next_hover.png) no-repeat !important;
}

.bx-wrapper .bx-prev {
    left: -10px !important;
    background: url(../img/add_prev_hover.png) no-repeat !important;
}
.bx-wrapper .bx-pager.bx-default-pager a{
    border: 2px solid #36981b;
    background: transparent !important;
}
.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover{
    background: #36981b !important;
}