.bt-box.block .box-heading span {
    font-size: 20px;
}
.block .block-content ol, .block .block-content ul {
    list-style: none outside none;
    padding: 0;
    margin: 0;
}
.post-by, .comment-by {
    font-size: 12px;
    color: #b4b4b4;
    font-style: italic;
}
.post-by span, .comment-by span {
    font-size: 12px;
    color: #b4b4b4;
    font-style: italic;
}
.time-stamp, .time-stamp small {
    font-size: 12px;
    color: #b4b4b4;
    font-style: italic;
}
.comment-count {
    color: #b4b4b4;
    font-size: 12px;
    font-style: italic;
}
.comment-count a, .comment-count span {
    color: #b4b4b4;
    font-size: 12px;
    font-style: italic;
}
.comment-count a:hover {
    text-decoration: underline;
}
.boss_block-recent-post .time-stamp {
    border: 2px solid #404b8f;
    color: #1c1c1c;
    float: left;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    height: 70px;
    margin: 0 20px 0 0;
    padding: 4px 11px;
    text-align: center;
    width: 60px;
}
.boss_block-recent-post .time-stamp .day {
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
}
.boss_block-recent-post .time-stamp .mth {
    border-top: 1px solid #d0d0d0;
    font-size: 17px;
    font-weight: 400;
    margin-top: 4px;
    padding-top: 2px;
}
.boss_block-recent-post .recent-comment-content {
    display: none;
}
.block .block-content ol > li.item {
    margin-bottom: 10px;
    overflow: hidden;
}
.block .block-content ol > li.item + li.item {
    border-top: 1px solid #f2f2f2;
    padding-top: 10px;
}
.block .block-content ol > li.item a.article-title {
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: #1c1c1c;
    margin-bottom: 2px;
}
.block .block-content ol > li.item a.article-title:hover {
    color: #dd5e65;
}
.block .block-content ol > li.item .recent-comment-content {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 10px;
    margin-top: 9px;
}
.block .block-content ol > li.item .recent-comment-name {
    color: #dd5f65;
}
.boss_block-recent-comments .block-content ol > li.item a.article-title {
    margin-bottom: 6px;
}
.boss_block-recent-comments .block-content ol > li.item {
    margin-bottom: 16px;
}
.boss_block-recent-comments .block-content ol > li.item + li.item {
    padding-top: 16px;
}
.boss_block-tag-cloud a {
    margin-right: 15px;
}
.rss-feed {
    float: left;
    margin: 8px 12px 0 0;
}
.bt-box.box-search .form-control {
    margin: 0;
    height: 41px;
}
.product-layout .article-image {
    margin-bottom: 13px;
    position: relative;
}
.product-layout .article-name {
    margin-bottom: 10px;
}
.product-layout .article-name a {
    color: #1c1c1c;
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
}
.product-layout .article-name a:hover {
    color: #404b8f;
}
.product-layout .article-footer {
    margin-top: 0;
    overflow: hidden;
    margin-bottom: 19px;
}
.product-layout .comment-count {
    display: block;
    margin: 5px 0 0;
}
.article-layout {
    -webkit-transition-duration: .8s;
    -moz-transition-duration: .8s;
    -ms-transition-duration: .8s;
    -o-transition-duration: .8s;
    transition-duration: .8s;
    clear: both;
}
.article-layout .product-grid {
    display: inline-block;
    float: none;
    margin-bottom: 95px;
    margin-right: -4px;
    overflow: hidden;
    vertical-align: top;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: bounce-in;
    -moz-animation-name: bounce-in;
    animation-name: bounce-in;
}
.article-layout .product-grid .article-image {
    margin-bottom: 28px;
}
.article-layout .product-grid .article-name {
    margin-bottom: 11px;
}
.article-layout .product-grid .article-footer {
    margin-bottom: 21px;
}
.article-layout .product-grid .article-title {
    line-height: 24px;
    margin-bottom: 33px;
}
.article-layout .product-list {
    margin: 0 0 54px;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: bounce-in-up;
    -moz-animation-name: bounce-in-up;
    animation-name: bounce-in-up;
}
@-webkit-keyframes bounce-in-up {
    0% {
    -webkit-transform: translateY(2000px);
    opacity: 0;
}
50% {
    -webkit-transform: translateY(-30px);
    opacity: 1;
}
75% {
    -webkit-transform: translateY(10px);
}
100% {
    -webkit-transform: translateY(0);
}
}@-moz-keyframes bounce-in-up {
    0% {
    -moz-transform: translateY(2000px);
    opacity: 0;
}
50% {
    -moz-transform: translateY(-30px);
    opacity: 1;
}
75% {
    -moz-transform: translateY(10px);
}
100% {
    -moz-transform: translateY(0);
}
}@keyframes bounce-in-up {
    0% {
    -webkit-transform: translateY(2000px);
    -moz-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    -o-transform: translateY(2000px);
    transform: translateY(2000px);
    opacity: 0;
}
50% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
    opacity: 1;
}
75% {
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
}
100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
}@-webkit-keyframes bounce-in {
    0% {
    -webkit-transform: scale(.3);
    opacity: 0;
}
50% {
    -webkit-transform: scale(1.04);
    opacity: 1;
}
75% {
    -webkit-transform: scale(.9);
}
100% {
    -webkit-transform: scale(1);
}
}@-moz-keyframes bounce-in {
    0% {
    -moz-transform: scale(.3);
    opacity: 0;
}
50% {
    -moz-transform: scale(1.04);
    opacity: 1;
}
75% {
    -moz-transform: scale(.9);
}
100% {
    -moz-transform: scale(1);
}
}@keyframes bounce-in {
    0% {
    -webkit-transform: scale(.3);
    -moz-transform: scale(.3);
    -ms-transform: scale(.3);
    -o-transform: scale(.3);
    transform: scale(.3);
    opacity: 0;
}
50% {
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
    transform: scale(1.04);
    opacity: 1;
}
75% {
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
    transform: scale(.9);
}
100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
}.article-layout .product-list .article-image {
    float: left;
    margin-bottom: 0;
    margin-right: 20px;
    margin-top: 2px;
    max-width: 50%;
    position: relative;
}
.article-layout .article-image .time-image {
    background: none repeat scroll 0 0 #404b8f;
    height: 70px;
    left: 0;
    padding: 11px 15px;
    position: absolute;
    top: 0;
    transition: all .5s ease 0;
    width: 60px;
}
.article-layout .article-image .time-image .time-date {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 600;
}
.article-layout .article-image .time-image .time-month {
    border-top: 1px solid #fff;
    color: #fff;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 400;
    margin-top: 2px;
    padding-top: 2px;
}
.article-layout .product-list .article-title {
    line-height: 24px;
    margin-bottom: 19px;
}
.article-layout .product-list .article-name {
    margin-bottom: 11px;
}
.article-layout .product-list .comment-count {
    display: inline-block;
}
.article-layout .product-grid .comment-count {
    display: inline-block;
}
.product-layout .content_bg {
    margin-bottom: 0;
}
.article-title-boss {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 8px;
}
.boss_article-detail .content_bg {
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.boss_article-detail .article-title {
    margin-bottom: 26px;
    line-height: 23px;
}
.date-post {
    margin-bottom: 20px;
}
.boss_article-detail .article-content {
    margin-bottom: 15px;
    margin-top: 15px;
    line-height: 23px;
}
.boss_article-detail .article-content p.image {
    display: block;
    margin-bottom: 37px;
    text-align: center;
}
.boss_article-detail small {
    display: inline;
    margin-bottom: 10px;
    padding-bottom: 0;
}
.article-content h1 {
    font-size: 24px;
    margin-bottom: 13px;
    margin-top: 0;
}
.article-content p {
    margin-bottom: 23px;
}
.article-content .date-post {
    border-bottom: 1px dashed #d9d9d9;
    border-top: 1px dashed #d9d9d9;
    margin-top: 25px;
    padding-bottom: 18px;
    padding-top: 13px;
}
.article-content span {
    font-weight: 600;
}
.boss_article-action {
    overflow: hidden;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 18px 0 17px;
}
.boss_article-action .tags {
    float: left;
    width: 68%}
.boss_article-action .tags span {
    float: left;
    margin-right: 23px;
    font-weight: 700;
}
.boss_article-action .tags ul li {
    display: inline;
}
.boss_article-action .tags li a {
    float: left;
    margin-right: 23px;
}
.boss_article-action .article-share {
    float: right;
    margin-top: 4px;
}
.article-related {
    margin-bottom: 57px;
    margin-top: 20px;
    overflow: hidden;
    width: 100%;
    position: relative;
}
.article-related > div {
    margin: 0 -10px;
}
.article-related ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.article-related li {
    display: block;
    margin-bottom: 6px;
}
.article-related h3.title_heading {
    margin-bottom: 31px;
}
.article-related .nav_thumb {
    background: url(../../image/icon_prev_next_small.png) no-repeat scroll 0 0;
    display: block;
    height: 28px;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 16px;
}
.article-related .nav_thumb.prev {
    background-position: 0 0;
    right: 26px;
}
.article-related .nav_thumb.prev:hover {
    background-position: 0 100%}
.article-related .nav_thumb.next {
    background-position: 100% 0;
    right: 0;
}
.article-related .nav_thumb.next:hover {
    background-position: 100% 100%}
#article_related > div {
    float: left;
    padding: 0 10px;
}
#article_related .article-image {
    margin-bottom: 24px;
    position: relative;
}
#article_related .article-image .time-image {
    background: none repeat scroll 0 0 #B59C8A;
    height: 70px;
    left: 0;
    padding: 7px 15px;
    position: absolute;
    top: 0;
    transition: all .5s ease 0;
    width: 60px;
}
#article_related .article-image .time-image .time-date {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 600;
}
#article_related .article-image .time-image .time-month {
    border-top: 1px solid #fff;
    color: #fff;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 400;
}
#article_related .article-name {
    margin-bottom: 11px;
}
#article_related .article-name a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 21px;
    font-weight: 700;
    color: #1c1c1c;
}
#article_related .article-name a:hover {
    color: #B59C8A;
}
#article_related .article-footer {
    margin-bottom: 21px;
}
#article_related .article-title {
    line-height: 24px;
    margin-bottom: 35px;
}
#article-comments {
    margin-bottom: 20px;
}
#comments-header {
    margin-bottom: 26px;
}
.comments .comment-item {
    margin-bottom: 19px;
    overflow: hidden;
    padding: 0;
}
.comment-item-header {
    position: relative;
    margin-bottom: 10px;
}
.comment-item-header .comment-by span {
    color: #dd5e65;
}
.comment-body {
    padding: 0;
    line-height: 23px;
}
.form-comment label {
    font-size: 13px;
    margin: 0;
}
.form-comment label em {
    color: #ff1e1e;
}
.form-comment-container .input-box {
    margin-bottom: 15px;
}
.comments .form-control {
    width: 100%}
.comments .captcha .form-control {
    width: 50%}
.form-comment-container .captcha {
    margin-top: 15px;
}
.form-comment-container .captcha img {
    margin-bottom: 5px;
}
#blogsearch .btn {
    line-height: 0;
}
.rss-content td h2 {
    margin: 10px 0 5px;
}
.box-content.rss-content td {
    padding-bottom: 10px;
}
#product-related {
    margin-bottom: 35px;
}
.btn-search {
    background: none repeat scroll 0 0 #f4f4f4;
    border: medium none;
    height: 41px;
    padding: 13px;
}
@media only screen and (max-width: 767px) {
    .article-grid .article-name {
    float: none;
    width: 100%}
.article-grid .article-image {
    text-align: center;
    float: none;
    margin-bottom: 15px;
    overflow: hidden;
}
.article-grid .article-image img {
    width: 100%!important;
}
.article-grid {
    margin-bottom: 25px;
}
.article-footer {
    margin-top: 10px;
}
.boss_article-action .tags {
    width: 100%}
.boss_article-action .article-share {
    float: left;
    display: block;
    margin-top: 10px;
}
.boss_article-action .tags li a {
    margin-right: 17px;
}
.comments .comment-item {
    padding: 10px 0;
}
.comments .form-control {
    width: 100%}
}@media only screen and (max-width: 479px) {
    .article-layout .product-list .article-image {
    max-width: 100%;
    margin: 0 0 15px;
}
}