#menu1.navbar {
    clear: both;
}
#menu1.navbar .navbar-header span#category {
    display: none!important;
}
#menu1.navbar .btn {
    padding: 0;
    margin: 10px;
    background: none;
    border: none;
    height: auto;
    min-height: auto;
    display: none;
}
#menu1.navbar .navbar-collapse {
    display: block;
    padding: 0;
}
#menu1.navbar .navbar-nav > li > a {
    color: #fff;
    font-size: 14px;
}
#menu2.navbar, #menu1.navbar {
    border: none;
    margin-bottom: 0;
}
#menu2.navbar .navbar-header {
    display: none;
}
#menu2.navbar .navbar-collapse.collapse {
    float: right;
    text-align: right;
    padding: 16px 0 0;
}
#menu2.navbar .navbar-nav > li {
    display: inline-block;
    float: none;
    padding: 0 23px;
}
#menu2.navbar .navbar-nav > li > a {
    border-radius: 0;
    color: #282828;
    font-family: apercuMedium, 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    padding: 6px 0 18px;
    text-transform: uppercase;
}
#menu2.navbar .navbar-nav > li:hover > a {
    color: #b59c8a;
}
#menu2.navbar .navbar-nav > li .dropdown-menu {
    background-clip: padding-box;
    background-color: #fff;
    border: 2px solid #b59c8a;
    box-shadow: none;
    float: left;
    font-size: 13px;
    left: -9999px;
    list-style: outside none none;
    min-width: 220px;
    opacity: 0;
    padding: 18px 30px;
    position: absolute;
    text-align: left;
    top: 60%;
    transition: top .2s linear 0s, opacity .3s linear 0;
    visibility: hidden;
    z-index: 998;
    display: block;
}
#menu2.navbar .navbar-nav > li:hover .dropdown-menu {
    left: 0;
    opacity: 1;
    top: 100%;
    visibility: visible;
}
#menu2.navbar .navbar-nav > li .dropdown-menu ul li a {
    border-bottom: 1px solid #eaeaea;
    display: block;
    margin-bottom: 5px;
    padding-bottom: 8px;
    color: #1c1c1c;
    font-size: 14px;
}
#menu2.navbar .navbar-nav > li .dropdown-menu ul li a:hover {
    color: #b59c8a;
}
.mega-menu {
    float: left;
    padding: 10px 0 0;
    text-align: right;
}
.mega-menu > ul.nav > li {
    padding: 0 50px;
    float: none;
    display: inline-block;
    margin-left: 0!important;
}
.mega-menu > ul.nav > li:hover {
    z-index: 1600;
}
.mega-menu > ul.nav > li > a {
    color: #000;
    font-family: apercuMedium, 'Open Sans';
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 6px 0 18px;
    border-radius: 0;
}
.mega-menu > ul.nav > li > a:hover {
    color: #390!important;
}
header.boss_scroll .mega-menu > ul.nav > li > a {
    padding-bottom: 8px;
}
.mega-menu > ul.nav > li > a span.label {
    position: absolute;
    top: 0;
}
.mega-menu > ul.nav > li > a .glyphicon {
    margin-right: 5px;
}
.mega-menu > ul.nav > li:hover > a {
    background: none;
    color: #b59c8a;
}
.mega-menu > ul.nav > li > a i {
    display: none;
}
.mega-menu > ul.nav > li.parent > a i {
    display: inline-block;
    margin-left: 5px;
    color: #696969;
    vertical-align: 3px;
}
.mega-menu > ul.nav > li.parent:hover > a i {
    color: #b59c8a;
}
.mega-menu > ul.nav > li .dropdown {
    background-clip: padding-box;
    background-color: #fff;
    border: 2px solid #b59c8a;
    box-shadow: none;
    float: left;
    font-size: 13px;
    list-style: outside none none;
    min-width: 160px;
    text-align: left;
    padding: 0;
    position: absolute;
    opacity: 0;
    top: 60%;
    left: -9999px;
    transition: top .2s linear 0s, opacity .3s linear 0;
    -webkit-transition: top .2s linear 0s, opacity .3s linear 0;
    visibility: hidden;
    z-index: 998;
}
.mega-menu > ul.nav > li .dropdown .menu-row {
    padding: 18px 15px;
}
.mega-menu > ul.nav > li .dropdown .menu-column h3 {
    padding: 0;
    color: #404b8f;
    font-family: apercuBold, 'Open Sans';
    font-weight: 700;
    text-transform: uppercase;
    margin: 8px 0 30px;
}
.mega-menu > ul.nav > li:hover .dropdown {
    opacity: 1;
    top: 100%;
    visibility: visible;
    left: 0;
}
.mega-menu > ul.nav > li .dropdown .menu-row a.parent {
    clear: both;
    color: #404b8f;
    display: block;
    font-family: apercuBold, 'Open Sans';
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 16px;
    margin-left: 0;
    margin-right: 0;
    text-transform: uppercase;
}
.mega-menu > ul.nav > li .dropdown .menu-row h3 + a.parent {
    display: none;
}
.mega-menu > ul.nav > li .dropdown .menu-row ul.column li {
    margin-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}
.mega-menu > ul.nav > li .dropdown .menu-row ul.column.category li a {
    color: #1c1c1c;
    font-size: 14px;
}
.mega-menu > ul.nav > li .dropdown .menu-row ul.column.category > li:hover > a {
    color: #dd5f65;
}
.mega-menu > ul.nav > li .dropdown .menu-row ul.column.category li {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
}
.mega-menu > ul.nav > li .dropdown .menu-row .menu-column {
    padding: 0 15px;
}
.mega-menu > ul.nav > li .dropdown .menu-row ul.column.category li + li > a {
    border-top: 1px solid #eaeaea;
    display: block;
    margin-top: 6px;
    padding-top: 6px;
}
.mega-menu > ul.nav > li .dropdown .menu-row ul.column.product .name a {
    font-size: 14px;
    font-weight: 400;
}
.mega-menu > ul.nav > li .dropdown .menu-row ul.column.product .price {
    font-size: 14px;
    font-weight: 400;
}
.mega-menu > ul.nav > li .dropdown .menu-row ul.column.product .price .price-new {
    color: #dd5f65;
}
.mega-menu > ul.nav > li .dropdown .menu-row ul.column li i {
    display: none;
}
.mega-menu > ul.nav > li .dropdown .menu-row ul.column li.sub_category i {
    display: inline;
    float: right;
    font-size: 13px;
    margin-top: 5px;
}
.mega-menu > ul.nav > li .dropdown .menu-row .staticblock {
    padding: 0;
}
.mega-menu > ul.nav > li .dropdown .menu-row .staticblock .html_column2 {
    text-align: center;
}
.mega-menu > ul.nav > li .dropdown .menu-row .staticblock iframe {
    max-width: 100%;
    width: 100%;
    height: 255px;
}
.mega-menu > ul.nav > li .dropdown .menu-row .staticblock strong {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
    color: #1c1c1c;
    font-size: 14px;
}
.mega-menu > ul.nav > li .dropdown .menu-row .staticblock p {
    margin-bottom: 10px;
    color: #1c1c1c;
    font-size: 14px;
    line-height: 22px;
}
.mega-menu > ul.nav > li .dropdown .menu-row .staticblock img {
    margin-bottom: 32px;
    margin-top: 0;
}
.mega-menu > ul.nav > li .dropdown .menu-row ul.column.product li {
    display: inline-block;
    float: none;
    margin-right: -4px;
    vertical-align: top;
}
.mega-menu > ul.nav > li .dropdown .menu-row ul.column.product li .image {
    margin-bottom: 20px;
}
.mega-menu > ul.nav > li .dropdown .menu-row ul li .sub_menu {
    position: absolute;
    left: -9999px;
    z-index: 999;
    top: -17px;
    transform: scale(0.7, 1);
    -webkit-transform: scale(0.7, 1);
    -moz-transform: scale(0.7, 1);
    transition: -webkit-transform .3s ease 0;
    -webkit-transition: -webkit-transform .3s ease 0;
    -moz-transition: -moz-transform .3s ease 0;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
}
.mega-menu > ul.nav > li .dropdown .menu-row ul li:hover > .sub_menu {
    background: none repeat scroll 0 0 #fff;
    border: 2px solid #404b8f;
    left: 97%;
    padding: 19px 20px;
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    width: 100%;
    top: 0;
}
.mega-menu > ul.nav > li .dropdown .menu-row ul li:hover > .sub_menu a {
    text-transform: uppercase;
    font-size: 13px;
    color: #666;
}
.mega-menu > ul.nav > li .dropdown .menu-row ul li:hover > .sub_menu a:hover {
    color: #dd5f65;
}
.mega-menu > ul.nav > li .dropdown .menu-row ul li .sub_menu ul li {
    float: none;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}
.open-panel, .close-panel {
    display: none;
}
.staticblock ul li {
    padding: 0;
    color: #1c1c1c;
    font-size: 14px;
}
.staticblock ul li a {
    color: #1c1c1c;
    font-size: 14px;
}
.staticblock ul li:hover a {
    color: #dd5f65;
}
.staticblock ul li + li a {
    border-top: 1px solid #eaeaea;
    display: block;
    margin-top: 6px;
    padding-top: 6px;
}
@media only screen and (max-width: 767px) {
    .mega-menu > ul.nav > li .dropdown {
    padding: 0 20px;
}
.staticblock ul li a {
    color: #fff;
}
.mega-menu > ul.nav > li .dropdown .menu-row h3 + .staticblock {
    padding: 0;
}
.open-panel, .close-panel {
    display: block;
}
.open-panel i {
    font-size: 20px;
    color: #b59c8a;
}
.bt_mainmenu .open-panel {
    clear: both;
    color: #b59c8a;
    height: 30px;
    overflow: hidden;
    width: 30px;
    z-index: 999;
    display: block;
}
.bt_mainmenu .open-panel i {
    font-size: 26px;
}
.close-panel {
    position: absolute;
    right: 5px;
    text-align: center;
    top: 9px;
    width: 30px;
    z-index: 9999;
    color: #fff!important;
    display: block;
}
.close-panel i {
    font-size: 22px;
}
.openNav #bt_container:before {
    background: none repeat scroll 0 0 #000;
    content: "";
    height: 100%;
    left: 0;
    opacity: .5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}
.openNav #bt_container {
    left: 0;
    transform: translate3d(90%, 0px, 0px);
    -moz-transform: translate3d(90%, 0px, 0px);
    -webkit-transform: translate3d(90%, 0px, 0px);
    transition: transform 500ms ease 0;
    -moz-transition: -moz-transform 500ms ease 0;
    -webkit-transition: -webkit-transform 500ms ease 0;
}
.menu_mobile {
    background: none repeat scroll 0 0 #b59c8a;
    border: medium none;
    float: right;
    height: auto;
    left: -90%;
    margin-bottom: 0;
    min-height: 0;
    padding: 30px 20px 50px;
    position: absolute;
    top: 0;
    width: 90%}
.mega-menu {
    float: left;
    width: 100%;
    text-align: left;
}
.mega-menu > ul.nav > li {
    background-color: transparent;
    clear: both;
    display: block;
    float: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
.mega-menu > ul.nav > li > a {
    border: medium none;
    color: #fff!important;
    margin-left: 0;
    padding: 0 0 8px;
    text-transform: none;
}
.mega-menu > ul.nav > li:hover > a {
    border: medium none;
    border-radius: 0;
    color: #404b8f;
}
.mega-menu > ul.nav > li.parent:hover > a b {
    background-image: none;
}
.mega-menu > ul.nav > li.parent > a i {
    display: none;
}
.mega-menu > ul.nav > li .dropdown .menu-row a.parent, .mega-menu > ul.nav > li .dropdown .menu-column h3 {
    color: #FFF!important;
    margin-bottom: 0;
}
.mega-menu > ul.nav > li .dropdown .menu-row .menu-column + .menu-column {
    padding-left: 0;
}
.menu-row .html_column1 ul li {
    padding: 0;
}
.html_column1 ul li a, .mega-menu > ul.nav > li .dropdown .menu-row ul.column.category li a, .mega-menu > ul.nav > li .dropdown .menu-row .staticblock p {
    color: #fff!important;
}
.staticblock ul li {
    color: #fff;
}
.mega-menu > ul.nav > li .dropdown .menu-row ul.column.product {
    margin-top: 20px;
}
.mega-menu > ul.nav > li .dropdown .menu-row .staticblock img {
    margin: 10px 0;
}
img.row-bg-image {
    display: none;
}
.mega-menu > ul.nav > li p.plus {
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    height: 15px;
    margin-top: 0;
    padding-bottom: 1px;
    padding-top: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 15px;
    z-index: 999;
}
.mega-menu > ul.nav > li .dropdown .menu-row ul.column.product li {
    width: 100%;
    margin: 0 0 10px;
}
.mega-menu > ul.nav > li .dropdown {
    border: medium none;
    box-shadow: none;
    margin-left: 0!important;
    opacity: 1;
    position: static;
    visibility: visible;
    width: 100%!important;
    display: none;
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform-origin: top center;
    -moz-transform-origin: top center;
    -webkit-transform-origin: top center;
    display: none;
    background: none;
}
.mega-menu > ul.nav > li .dropdown .menu-row {
    padding: 0;
    background: none!important;
}
.mega-menu > ul.nav > li .dropdown a.parent {
    margin-left: 10px;
}
.mega-menu > ul.nav > li .dropdown ul.column li {
    padding-left: 10px;
    padding-right: 10px;
}
.mega-menu > ul.nav > li .dropdown .staticblock {
    padding-left: 10px;
}
.mega-menu > ul.nav > li .dropdown ul.column.product li {
    text-align: center;
    padding-left: 0;
}
.mega-menu > ul.nav > li .dropdown ul.column.product li .name {
    background-position: center bottom;
}
.mega-menu > ul.nav > li .dropdown .menu-column {
    width: 100%!important;
}
.mega-menu > ul.nav > li .dropdown ul.column.manufacturer li {
    width: 100%!important;
    text-align: center;
    padding-left: 10px;
}
.mega-menu > ul.nav > li .dropdown .menu-row ul li .sub_menu {
    display: none;
}
}