/*================================================================================ */
/* 1. Basics & Buttons												3000Themes.com
/*================================================================================ */
.content{
	z-index: 10;
}	
/* Bigger then standard 960px (1280px) */
	@media only screen and (min-width: 1280px) {
	}
	@media only screen and (max-width: 1199px) {
		
	}
	/*ipad 2 ngang*/
	@media only screen and (min-width: 1024px) and (max-width: 1279px) {
		body{-webkit-text-size-adjust: none;}		
		.btn{white-space:pre-wrap; border-radius:0}
	}
	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {		
		.btn-language, .btn-currency{margin-bottom:5px;}
		.box_btn_icon {  float: left;}
		input.btn-cart{border-radius:0;}

		#tab-description p.italic{padding-left:50px;padding-right:50px;}
		#column-left + #column-right + #content .limit span,#column-left + #column-right + #content .sort span{display:inline-block;min-width:100px;}
		#column-left + #column-right + #content .limit,#column-left + #column-right + #content .sort{width:100%;}
		#product-quick .image{text-align:left;}
        .modal{top:100px;}
	}
	@media only screen and (min-width: 1024px) and (max-width: 1200px) {
		.top_left, .top_right{width:100%}
		.top_left{border-bottom:1px solid #e8e8e8; padding-bottom:10px}
		.b-cart.dropdown_cart{border-right:none}
	}
	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 1024px) {	
		body{-webkit-text-size-adjust: none; }
		.sft_quickshop_icon {display:none!important}
		.btn-cart{border-radius:0}
		.product-grid .product-thumb .button-group .btn-cart, .product-grid .product-thumb .button-group .btn-wishlist, .product-grid .product-thumb .button-group .btn-compare, .product-related .product-thumb .button-group .btn-cart, .product-related .product-thumb .button-group .btn-wishlist, .product-related .product-thumb .button-group .btn-compare, .bt-featured-pro .bt-product-grid .button-group .btn-cart, .bt-featured-pro .bt-product-grid .button-group .btn-wishlist, .bt-featured-pro .bt-product-grid .button-group .btn-compare{position:static}

		.box_btn_icon {  float: left;}
		#back_top.back_top,.cpanelContainer{display:none!important;}	
		#column-left + #column-right + #content .limit span,#column-left + #column-right + #content .sort span{display:inline-block;min-width:100px;}
		#column-left + #column-right + #content .limit,#column-left + #column-right + #content .sort{width:100%;}
		.category-list ul{width:47%;}
		.cloud-zoom-big,.cloud-zoom-lens,.cloud-zoom-tint{display:none!important;}
		#logo{margin-top:10px;}
		.language .dropdown-menu, .currency .dropdown-menu{left:auto;right:0;}
		#top{padding:0}
		header{padding-left:0; padding-right:0}
		.table-conf{margin:0 auto!important}
		.boss_homefilter_tabs.by-list .box-product > div, .boss_homefilter_tabs.by-list .box-product > div.b_active{padding:0 10px; margin:0}
		.boss_homefilter_tabs.by-list .box-product .product-thumb .detail{opacity:1; visibility:visible}
		.boss_homefilter_tabs .by-grid .btn-nav-center.next{right:0}
		.boss_homefilter_tabs .by-grid .btn-nav-center.prev{left:0}
		.popular-cate .box-content .sub_cat{width:100%}
		.bt-video{height:440px!important}
		#b_parallax{ background-attachment: scroll; background-position: 50%!important;}
		.bt-video .video-js .vjs-tech{height:100%;}
		.boss_homefilter_tabs.by-grid .list-by-slider .caroufredsel_wrapper{max-height: 870px;}
		header.boss_scroll{position:static}
		.top_left, .top_right{width:100%}
		.top_left{border-bottom:1px solid #e8e8e8; padding-bottom:10px}
		.product-grid .product-thumb .button-group{display:block}
		.b-cart.dropdown_cart{border-right:none}
		.footer_column .footer-social ul li .tooltip{display:none!important}
		.shipping_return_support{padding:10px 0}
		.box .box-content .boss-menu-cate > li{padding: 10px 0px 9px 10px;}
		.box .box-content .box-category .nav_title > img, .box .box-content .box-category.boss-menu-cate > li a.title i{margin-right:10px}
		.boss-testimonial .testimonial-content, .boss-custom-pro.bt-custom-column.bt-nprolarge-slider .bt-item-extra, .boss-custom-pro.bt-custom-column .bt-product-content .bt-product-large + .bt-items.bt-product-grid .bt-item-extra{padding-left:10px; padding-right:10px}

	}
	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 1023px) {		
		.row{margin:0}
		.btn{white-space:normal; padding-left:15px; padding-right:15px}	
		body{-webkit-text-size-adjust: none; }
		.sft_quickshop_icon {display:none!important}
		.table-conf{margin:0 auto!important}
		.breadcrumb{margin:0}
		
		#list-view{margin-right:10px}
		#top{padding:0}
		.top_left{
			width: 100%;
			border-bottom: 1px solid #e8e8e8;
			padding-bottom: 10px;
			padding-right:0
		}
		.top_right{width:100%; padding-left:0}
		.top-links ul li{margin-right:20px}
		.language button.btn-link.dropdown-toggle, .currency button.btn-link.dropdown-toggle{padding-left:10px; padding-right:10px}
		.top-links{padding-left:0; border-left:none}
		.b-cart.dropdown_cart{border-right:none}
		header{padding:20px 0 0}
		.header_left{width:100%; text-align:center; padding-right:0}
		.header_right{width:100%; padding-left:0}
		.boss_homefilter_tabs.by-list .box-product > div, .boss_homefilter_tabs.by-list .box-product > div.b_active{padding:0 10px; margin:0}
		.boss_homefilter_tabs.by-list .box-product .product-thumb .detail{opacity:1; visibility:visible}
		.boss_homefilter_tabs .by-grid .btn-nav-center.next{right:0}
		.boss_homefilter_tabs .by-grid .btn-nav-center.prev{left:0}
		.boss_homefilter_tabs.by-grid .list-by-slider .caroufredsel_wrapper{max-height: 812px;}
		.popular-cate .box-content .sub_cat{width:100%}
		.popular-cate .box-content.cate-odd .cate-detail{padding-left:0}
		.popular-cate .box-content.cate-even .cate-detail{padding-right:0}	
		.popular-cate .box-content .cate-detail{padding-top:0}

		.bt-video{height:440px!important}
		.bt-box .box-content .box-category li.opencate > ul > li{padding-left:30px}
		.dropdown-menu-inner .option ul.column.product li .image img, .dropdown-menu-inner .option > .image img{width:80%;}								
		.compare-info .button_cp,.compare-info td .wishlist { text-align: left;} 		
		.category-list ul{width:47%}
		.left .form-control, .right .form-control{width:100%}
		.form-control, .login-content .form-control{width:100%}
		select.form-control{width:100%}
		.product-info .form-group-tab{width:100%; padding:0}
		.product-info .date.input-group, .product-info .time.input-group, .product-info .datetime.input-group{width:100%}
		.product-list .product-thumb .image{max-width:35%; margin-bottom: 20px;}
		#payment-address .checkout-content .form-control, #shipping-address .checkout-content .form-control, #shipping-method .checkout-content .form-control, #payment-method .checkout-content .form-control{width:63%}		
		.cart-module input[type="text"], .cart-module select.form-control{width:40%}		
		.left .form-control, .right .form-control{width:85%}
		#payment-address .checkout-content .form-control, #shipping-address .checkout-content .form-control, #shipping-method .checkout-content .form-control, #payment-method .checkout-content .form-control{width:80%}			
		.login-content .left{width:100%}
		.login-content .right{width:100%;float:left;padding-left:0;border:none;}
		.checkout-content .login-content .right{padding-left:0;margin-top:30px;}						
		#back_top.back_top,.cpanelContainer{display:none!important;}	
		div.jGrowl.top-right{top:15%!important;}		
		.image:hover img{opacity:inherit;}
		.banner_cat_effect{display:none;}
		.bt-home-page .header_category{margin-bottom:0}
		.header_category{width:30%}
		.menucategory-fixed.b_show{width:auto}
		.header_category.menucategory-fixed{width:auto}
		.bt-other-page .menucategory-fixed.header_category{width:40px}
		.bt-home-page .header_category .box .box-content{
			height: 0px;
			overflow: hidden;
			position: absolute;
			top: 100%;
			transition-duration: 0.3s;
			width: 100%;
			visibility: hidden;
		}
		.bt-home-page .header_category .box.opencate .box-content{
			height: auto;
			overflow: inherit;
			visibility: visible;
			z-index: 999;
		}
		.shipping_return_support{padding:10px 0}
		.shipping_return_support > div{padding-left:10px; padding-right:10px; font-size:12px}
		.header_slider{width:100%}
		#shipping-address .checkout-content .form-control, #shipping-method .checkout-content .form-control, #payment-method .checkout-content .form-control, #payment-address #payment-existing select.form-control, #payment-address #payment-new .form-control{width:55%}
		header.boss_scroll{position:static}
		#logo{margin-top:15px;}
		.product-grid .product-thumb .button-group{display:block}
		.boss-custom-pro.bt-custom-content .bt-product-large + .bt-product-grid{clear:both}
		.bt-product-large{margin:0 auto; padding:0; width:100%}
		.boss-custom-pro.bt-custom-column .image{padding:0; float:none}
		.header_category .box .box-heading{cursor:pointer;   min-height: 52px;}
		.breadcrumb h2{font-size:20px}
		.b_breadcrumb{font-size:20px}
		.boss_flickr .boss_flickr_photo a{width:42%}
		.currency .dropdown-menu li button b{display:none}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		body{-webkit-text-size-adjust: none;}
		#bt_container{overflow:hidden}
		#content{clear:both; padding:0 10px}
		header.boss_scroll{position:static}
		.common-home #bt_header{margin-bottom:0}
		.openNav #bt_container{overflow:visible}
		#column-left ,#column-right, .cpanelContainer, #cboxNext, #cboxPrevious{display:none!important;}
		#column-left + #content{padding:0 10px}
		.bt-home-page #column-left{display:block!important; padding-left:10px; padding-right:10px; clear:both}
		.tp-leftarrow.default, .tp-rightarrow.default{display:none}
		#top{padding:0}
		header{padding:0 0 10px}
		.header_left, .top_left{padding-left:10px;}
		.top_left, .top_right .language_currency, .top_right .top-links{display:none}
		.header_right{position:static; padding-right:10px}
		.top_right{padding-right:10px; width:auto}
		.b_mobile{float:left; padding:10px; display:block}
		.header_right .bt_mainmenu{display:none}
		.language_currency{float:left; width: 100%; border-bottom: 1px solid #fff;}
		.language_currency .support{display:block; margin:0}
		.language strong b, .currency strong b{}
		.b-cart .btn-dropdown-cart b{font-size:0}
		.b-cart .btn-dropdown-cart{width:40px; height:40px}
		.b-cart.dropdown_cart:before{left:10px}
		.b-cart.dropdown_cart:hover{background-position: 12px 8px;}
		.b-cart .btn-dropdown-cart:hover{/*background-image:url("../../image/icon-cart-hover.png");*/}
		.b-cart.dropdown_cart{padding:0
			/*background: none;
			border: medium none;
			float: left;
			margin-bottom: 0;
			margin-top: 0;
			padding: 0;
			text-align: left;*/
		}
		.b-cart .dropdown-menu{width:300px;left:auto;right:0;top:100%;}
		.b-cart .minicart_total tr td.text-right{text-align:left;}
		#top .bt_mainmenu{display:block}
		#cboxTitle{text-align:left}
		.col-sm-cs5{width:100%}
		.category-list ul{width:100%;}
		.login-content{margin-bottom:20px}	
		.login-content .left,.register .left{width:100%;}
		.login-content .right,.register .right{width:100%;border:none;padding:0;margin-top:20px}
		.form-control, .form-horizontal .form-control{width:100%;}		
		#payment-address .checkout-content .form-control, #shipping-address .checkout-content .form-control, #shipping-method .checkout-content .form-control, #payment-method .checkout-content .form-control,#payment-address #payment-existing  select.form-control,#payment-address #payment-new  .form-control{width:100%;}		
		#input-date-ordered.form-control{width:93%}
		.left .form-control, .right .form-control{width:100%}
		.cart-module input[type="text"], .cart-module select.form-control{width:100%;}
		select.form-control{width:100%;}
		form.register{border:none;padding:0;}		
		.buttons .left.continueshopping{float:right;margin-top:11px;width:100%;text-align:right}
		.sitemap-info ul li a{margin-bottom:5px;}
		.sitemap-info ul li{margin-bottom:6px;}	
		.checkout{padding:0}
		.checkout .col-sm-6 + .col-sm-6{margin-top:20px}
		.checkout #accordion .form-control{width:100%}
		.checkout-heading a{font-size:12px;margin-right:5px;}
		.checkout-product{overflow-x:auto;border-right:1px solid #e1e1e1;}
		.checkout-product table{margin-bottom:0;border-right:none;}
		.box-product .image img{width:100%;}	
		div.name{background-image:none}
		
		.compare-info .remove{position:relative;display:block;width:100%;overflow:hidden;}
		.compare-info .button_cp{text-align:left;}
		.compare-info td .wishlist{text-align:left;}		
		
		.cart-info tbody td.quantity input[type="text"]{margin-right:0;float:none;}
		.cart-info tbody td.quantity .icon{float:none;margin-top:0}	
		.cart-info tbody td.product_price input[type="text"]{width:50px}
		.cart-module .panel-default .form-control{width:100%}
		.cart-buttons .pull-right{float:left!important; margin-top:10px; clear:both}
		.header_category{display:none;}
		.menucategory-fixed{display:none!important}
		.header_slider{width:100%;margin-top:0; padding:0; margin-bottom: 20px;}
		#search{
			width: 100%;
			padding-left: 0px;
			padding-right: 0px;
			margin-bottom: 15px;
			margin-top: 17px;
			padding-bottom: 0;
		}
		#search .frame_search{position:static; visibility:visible; opacity:1;}
		#search input, #search:hover .frame_search{
			border: 1px solid #e8e8e8;
			box-shadow: none;
			opacity: 1;
			position: static;
			right: 0;
			top: 0;
			visibility: visible;
			width: 100%!important;
		}
		.button-search{position: absolute; right: 10px; top: 10px;}
		#search a.icon_search, #search .frame_search b{display:none}
		
		.logged-link{overflow: hidden; padding: 30px 0;}
		.logged-link a{color: #fff!important; float: left; width: 50%; text-align: center;}
		.logged-link a:hover{opacity:0.7}
		.logged-link i{font-size:35px; display: block;}
		.top-links {float: left; width: 100%;  border-left: none;  border-bottom: 1px solid #fff;   padding: 15px 0;}
		.top-links .dropdown-menu-right{left:0; right:auto}
		.top-links .list-inline{margin-left:0}
		.top-links ul li{  margin-right: 0; display: block; padding: 0; border: none;}
		.top-links ul li + li{margin-top:10px}
		.top-links ul li a, .top-links ul li span{color:#fff!important}
		.top-links ul li ul.dropdown-menu li a{color:#797979!important}
		.language, .currency{float:left; border:none; width:100%}
		.language .btn-group, .currency .btn-group{width:auto}
		.language button.btn-link.dropdown-toggle, .currency button.btn-link.dropdown-toggle{
		    color: #fff;
			padding: 0;
			margin-bottom: 15px;
		}
		.language strong, .currency strong{color:#fff!important}
		.btn-currency{margin-right:5px;margin-bottom:10px;}
		.btn-language{margin-bottom:10px;}
		#logo{text-align:center;margin-bottom:35px; margin-top: 35px;}
		.cart-search{width:100%;float:none;}
		.boss_header{height:111px;margin-bottom:-111px;}
		
		#bt_mainmenu{clear:both; width:100%; padding:0}
		.breadcrumb{margin:0; text-align:left}
		.breadcrumb h2{font-size:14px; width:100%; margin-bottom: 10px;}
		.b_breadcrumb{font-size:14px; width:100%; margin-bottom: 10px;}
		.btn-dropdown-cart{line-height:15px;}
		.tp-bullets{margin-bottom:10px;}
		.boss-new-position{border-bottom:none;}
		.common-home #content{margin-bottom:0;}
		.content_bg, .product-info{padding:0;}
		#bt_container.bt-wide{background-color:#ffffff;}
		.btn{border-radius:0px;}
		.cart-total table{float:left; width: 100%;}
		.cart-total td.right{text-align:left;}
		.buttons .left.continueshopping{text-align:left;}
		.buttons .right{float:left;text-align:left;margin-top:10px;margin-bottom:10px;clear:both}
		.cart-total td.left b{margin-right:20px;font-size:16px;}
		.cart-total td.right{font-size:16px;}
		.cart-total td.left.last b,.cart-total td.right.last{font-size:20px;}
		#tab-description p.italic{padding:0;}
		#tab-review .form-control{width:100%}
		.htabs{padding:0}
		.htabs ul li{width:100%; margin:0; padding:10px 0}
		.htabs ul li a{width:100%;}
		.product-related ul li .product-thumb .description{display:none}
		.tab-content{padding-left:10px; padding-right:10px}
		.product-thumb .img-responsive{max-width:100%;width:auto}
		.product-list .product-thumb .image{width:100%; margin:0 0 10px; max-width: 100%;}
		.product-filter .sort, .product-filter .limit, .product-filter .btn-group{display:none}
		.product-grid .product-thumb .button-group{display:block}
		table.table thead td, .wishlist-info thead td, .cart-info thead td{display:none}
		.wishlist-info td, .cart-info td{
			display:block; border:none; border-bottom:1px solid #f2f2f2; width:100%; padding:15px 0 15px 35% !important; position:relative; overflow:hidden; min-height: 45px; white-space: normal!important;}
		.title_column{
			color: #404b8f;
			font-weight: 700;
			left: 10px;
			position: absolute;
			text-align: left;
			text-transform: uppercase;
			width: 30%;
			white-space:normal;
		}
		.cart-info td.thumb_image .image, .wishlist-info td.thumb_image .image{float:none; margin:0; padding:0 35px;}
		.cart-info tbody .name, .wishlist-info tbody .name{text-align:center}
	
		#tab-related .prev, #product-related .prev{right:40px;}
		#tab-related .next, #product-related .next{right:10px;}
		
		.product-grid .product-thumb{text-align:center;}
		.product-grid .product-thumb .box_btn_icon{float:none;}
		.product-info .date.input-group, .product-info .time.input-group, .product-info .datetime.input-group{width:100%}
		#confirm .cart-total{margin-top:15px;}
		.currency{margin-left:0;}
		.language .dropdown-menu, .currency .dropdown-menu{left:0;}
		
		.boss_homefilter_tabs.by-list .box-product > div, .boss_homefilter_tabs.by-list .box-product > div.b_active{padding:0 10px; margin:0}
		.boss_homefilter_tabs.by-list .box-product .product-thumb .detail{opacity:1; visibility:visible}
		.boss_homefilter_tabs .list-gird{right: 10px; top: 100%; padding-top: 15px;}
		.boss_homefilter_tabs .by-grid .btn-nav-center.next{right:0}
		.boss_homefilter_tabs .by-grid .btn-nav-center.prev{left:0}
		.popular-cate{padding:40px 0 20px;}
		.popular-cate .box-content.cate-odd .cate-image, .popular-cate .box-content.cate-even .cate-image{padding:0}
		.popular-cate .box-content.cate-odd .cate-detail{padding:30px 0 0}
		.popular-cate .box-content{padding:0 20px; overflow:hidden}
		.popular-cate .box-content .sub_cat, .popular-cate .box-content .sub_cat .sub_item{width:100%}
		.boss-blog-featured .block-heading{padding:50px 10px 2px;}
		.boss-blog-featured .block-content{padding:0 10px}
		.boss-blog-featured .block-content .article-item{margin-bottom:30px}
		.boss-blog-featured{padding-bottom:50px}
		.footer-newletter .title, .footer-newletter .newletter-content{width:100%}
		.newletter-content .boss-newletter{width:100%}
		.sft_quickshop_icon {display:none!important}
		.bt-video{height:200px!important}
		.bt-video .video-js .vjs-tech{height:100%;}
		.footer_column{padding-left:10px; padding-right:10px}
		.footer_column .column ul{margin-bottom:20px}
		.footer_column .column + .column{padding-left:10px}
		.footer_column .column:before{content:none}
		.footer_column .column ul{display:none}
		.footer_column .column h3{}
		.footer_column .column h3.opentab ~ ul{display:block}
		#bt_footer h3 i{display:inline-block; float:right; padding:5px 10px}
		#bt_footer h3 i.fa-caret-up{display:none}
		#bt_footer h3.opentab i.fa-caret-down{display:none}
		#bt_footer h3.opentab i.fa-caret-up{display:inline-block}
		.bt-newletter{padding-left:10px; padding-right:10px}
		.bt-newletter:before{content:none}
		.footer-social{text-align:left}
		.footer-social ul li.youtube{clear:both}
		.footer_column .footer-social ul li .tooltip{display:none!important}
		.powered-payment{padding:0 10px 40px}
		#menu{clear:both; float:none; z-index:99}
		#menu .navbar-header{display:block}
		#menu .btn-navbar {
			float: left;
			margin: 0;
			color: #404b8f;
			padding: 0;
			border: none;
			min-height:auto;
			height:auto;
		}
		#menu .btn-navbar i{font-size:24px}
		#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
			background:transparent
		}
		#menu .navbar-header{color:#404b8f; text-transform:uppercase;}
		#menu .navbar-collapse{overflow:visible}
		#menu .navbar-collapse ul li{
			display: block;
			width: 100%;
			text-align: left;
			padding: 0;
		}
		#menu .navbar-collapse ul li.open{z-index:9}
		#menu .navbar-collapse ul li a{padding:6px 0; z-index:1}
		#menu .navbar-collapse .dropdown-menu{padding:10px 20px}
		#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled]{color: #404b8f;}
		.boss_homefilter_tabs.by-list .btn-nav-center, .boss-blog-featured .block-content .btn-nav-center{opacity:1}
		
		.boss-custom-pro.bt-custom-content .title h3{font-size:20px}
		.shipping_return_support > div + div{border:none; padding-top: 10px; }
		.bt-nprolarge-nslider .bt-items .bt-item-extra{width:100%}
		.boss-custom-pro .bt-product-large{padding:0px 15px; width:100%}
		.boss-custom-pro.bt-custom-content .bt-product-large + .bt-product-grid{clear:both}
		.boss-custom-pro.bt-custom-content .bt-product-grid .bt-item-extra{width:100%; max-width:100%}
		.block-home-2{margin-bottom:20px}
		.block-home-2 .block-cate-page > div + div{margin-top:20px}
		
		.boss_homefilter_tabs .tabs-headings.tabs li{ width:100%; text-align:left}
		.boss_homefilter_tabs .tabs-headings.tabs li.active{border-bottom:1px solid #d0d0d0;}
		.boss_homefilter_tabs .title{border-bottom:none; margin:0 auto 30px; text-align:center}
		.boss_homefilter_tabs .title:before{content:none}
		.boss_homefilter_tabs .title span{
			border-bottom: 1px solid #D0D0D0;
			color: #403E3C;
			display: inline-block;
			font-family: "Josefin Sans",sans-serif;
			font-size: 20px;
			font-weight: 700;
			line-height: 33px;
			margin-bottom: 0px;
			padding: 0px 30px 22px;
			position: relative;
			text-transform: uppercase;
		}
		.boss_homefilter_tabs .title span:before{
			background: none repeat scroll 0px 0px #B59C8A;
			bottom: -2px;
			content: "";
			height: 3px;
			left: 50%;
			margin-left: -15px;
			position: absolute;
			width: 30px;
		}
		.boss_homefilter_tabs .title b.bt-line{display:none}
		.hide-on-mobile{display:none!important}
		.language .dropdown-menu, .currency .dropdown-menu{min-width:150px}
		.product-info .left{padding-right:10px}
		.product-info .right{padding-left:10px}
	}
	
	@media only screen and (min-width: 480px) and (max-width: 576px) {	
		.product-grid .product-thumb .button-group .btn-cart{width:80%}
	}
	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {		
		body{-webkit-text-size-adjust: none; }
		.left .form-control, .right .form-control{width:83%}
		.form-control, .login-content .form-control{width:83%}
		select.form-control{width:83%}
		.product-info select.form-control, .product-info .form-control{}
		#payment-address .checkout-content .form-control, #shipping-address .checkout-content .form-control, #shipping-method .checkout-content .form-control, #payment-method .checkout-content .form-control{width:83%}
		.newletter .form-control,.comments .form-control{width:83%}	
		.cart-module input[type="text"], .cart-module select.form-control{width:83%;}
		#payment-address .checkout-content .form-control, #shipping-address .checkout-content .form-control, #shipping-method .checkout-content .form-control, #payment-method .checkout-content .form-control, #payment-address #payment-existing select.form-control, #payment-address #payment-new .form-control{width:83%;}
		.footer-block .col-xs-24{width:33.33%; float:left}
		.buttons .right{float:right;clear:inherit;margin:0;}
		
		.b-cart .buttons .cart_bt{float:left;clear:inherit;margin-top:0px;}
		.b-cart .dropdown-menu{width:350px;}
		.buttons .left.continueshopping{float:left;width:auto;margin-top:7px;}
		.product-layout.product-grid{width:50%}
		.bt-video{height:300px!important}
		.boss-custom-pro.bt-custom-content .bt-product-grid .bt-item-extra, .boss_homefilter_tabs ul li{width:50%}
		.shipping_return_support > div{width:33.33%; font-size:11px; padding:0 10px}
		.shipping_return_support > div + div{border-left: 1px solid #FFF; padding-top:0}
		.category-list ul{width:50%}
		.product-list .product-thumb .image{width:50%;}
		.product-grid .product-thumb .button-group .btn-cart{margin-bottom:10px}
	}
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) { 
		body{-webkit-text-size-adjust: none;}
		
		.top-links{}
		.modal{top:100px;}
	}


