
      <div class="input-group">
        <input type="text" name="coupon" value="" placeholder="<?php echo $entry_coupon; ?>" id="input-coupon" class="form-control" />
        <span class="input-group-btn">
        <input type="button" value="<?php echo $button_coupon; ?>" id="button-coupon-id" data-loading-text="<?php echo $text_loading; ?>"  class="btn btn-primary btn-primary-custom" />
        </span>
        </div>
        <div id="error-coupon"></div>
      <script type="text/javascript"><!--
		$('#button-coupon-id').on('click', function() {
			$.ajax({
				url: 'index.php?route=total/coupon_popup/coupon',
				type: 'post',
				data: 'coupon=' + encodeURIComponent($('input[name=\'coupon\']').val()),
				dataType: 'json',
				beforeSend: function() {
					$('#button-coupon').button('loading');
				},
				complete: function() {
					$('#button-coupon').button('reset');
				},
				success: function(json) {
					$('.alert').remove();

					if (json['error']) {
						$('#error-coupon').after('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

						$('html, body').animate({ scrollTop: 0 }, 'slow');
					}

					if (json['redirect']) {
						location = json['redirect'];
					}
				}
			});
		});
		//--></script>
    